{% extends "base.html" %}
{% load static %}
{% load cache %}

{% block css-path %}{% static 'home/home.css' %}{% endblock %}
{% block title %}oriane tury{% endblock %}
{% block og-title %}oriane tury{% endblock %}
{% block tw-title %}oriane tury{% endblock %}
{% block meta-description %}Des images et des textes. Une tentative de recueillement en public. Le calme pendant la tempête.{% endblock %}
{% block og-description %}un site éperdument intentionnel{% endblock %}
{% block tw-description %}un site éperdument intentionnel{% endblock %}

{% block body-class %}entry{% endblock %}

{% block header %}
<header id="header" role="banner">
    <div id="logos">
    <img id="logo-otu" src={% static 'tln/img/oriane_tury.png' %} alt="oriane tury">
    </div>

    <nav id="top-nav-v-access" class="hidden"><ul>
        <li><a tabindex="-1" href="{% url 'blog:entry_archive_index' %}">Blog</a></li>
        <li><a tabindex="-1" href="/photos/">Photos</a>
        <li><a tabindex="-1" href="/critique/">Critique</a></li>
        <li><a tabindex="-1" href="/#info">À propos</a></li>
    </ul></nav>

    <nav id="top-nav-v" class="navbar" role="presentation">
        <div class="shadow-up"></div>
        <div class="shadow-right"></div>
        <div class="shadow-down"></div>
        <div class="shadow-left"></div>
        <ul>
            <li><a href="{% url 'blog:entry_archive_index' %}">Blog</a></li>
            <li><a href="/photos/">Photos</a></li>
            <li><a href="/critique/">Critique</a></li>
            <li><a href="#info">À propos</a></li>
        </ul>
    </nav>

</header>

<div id="goto-info" role="presentation"><a href="#info">⌄</a></div>
{% endblock %}

{% block content-wrap %}
<main id="content" role="main">
    <section id="info">
        <article class="hentry">
            <div class="entry-body">
                <div id="info-content" class="entry-content">
                    <div id="info-fr" class="info-div" tabindex="0">
                        <div>
                            <blockquote>
                                <p class="quote-content">La condition de vedette est la spécialisation du vécu apparent, l'objet de l'identification à la vie apparente sans profondeur, qui doit compenser l'émiettement des spécialisations productives effectivement vécues.</p>
                                <p class="quote-author">Guy Debord - La société du spectacle</p>
                            </blockquote>
                            <div class="info-perso">
                                <p>Nulle vedette ici. Avant d'être artiste, je photographie. Et avant d'être critique, j'écris. Il m'arrive de revendiquer certaines étiquettes, mais elles n'entendent ni objectifs ni frontières. J'aimerais contrer l'incitation ambiante à la spécialisation : à la fois échapper à un asservissement individuel, et enrayer la pression collective des modèles. Parfois, j'ai le spleen de la cohérence. Mais je suis et je resterai floue.</p>
                                <p>Cet espace se veut personnel et ouvert. Je vous souhaite d'y trouver un peu de quiétude et de mystère.</p>
                            </div>
                        </div>
                    </div>
                    <div id="info-separator" class="hseparator" role="presentation"></div>
                    <div id="info-en" class="info-div" tabindex="0" lang="en">
                        <div>
                            <blockquote>
                                <p class="quote-content">Being a star means specializing in the seemingly lived; the star is the object of identification with the shallow seeming life that has to compensate for the fragmented productive specializations which are actually lived.</p>
                                <p class="quote-author">Guy Debord - Society of the Spectacle<br/>translation by Fredy Perlman</p>
                            </blockquote>
                            <div class="info-perso">
                                <p>You won't find any star here, and thus you won't really find a photographer nor a film critic. I claim a few labels, but they're not meant to foster expectations. I'd like to thwart the rampant incentive to become specialized, because it feels like a personal burden, and it puts pressure on everyone to follow sham role models. On some days I feel the old itch for consistency, but most of the time I'd rather be fuzzy.</p>
                                <p>Hopefully I've made this space distinctive and welcoming. May you find peace and mystery around here.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </section>

    <footer id="footer">
        <div id="info-contact">
            <p><a href="mailto:contact@oriane.ink">contact@oriane.ink</a></p>
            {# <p><a href="CV_OrianeTury.pdf">CV</a>&nbsp;&nbsp;–&nbsp;&nbsp;<a href="mailto:contact@oriane.ink">contact@oriane.ink</a></p> #}
        </div>
    </footer>

    <div id="night-sky">
        <!-- this animation was inspired by Starseed Pilgrim (and probably also by Thoth) -->
        {% cache None nightsky nightsky_seed %}

        {% for stars_subgroup in stars %}
        <svg class="stars" width="100%" height="100%" preserveAspectRatio="none">
            {% for star in stars_subgroup %}
            <circle
                class="star"
                cx="{{ star.0|stringformat:'.1f' }}%"
                cy="{{ star.1|stringformat:'.1f' }}%"
                r="{{ star.2|stringformat:'.1f' }}"
            />
            {% endfor %}
        </svg>
        {% endfor %}

        <svg class="sparks" width="100%" height="100%" preserveAspectRatio="none">
            {% for spark in sparks %}
            <g
                class="spark"
                transform="scale({{ spark.2|stringformat:'.1f' }})"
                transform-origin="{{ spark.0|stringformat:'.1f' }}% {{ spark.1|stringformat:'.1f' }}%">
            <path
                style="transform: translate({{ spark.0|stringformat:'.1f' }}%, {{ spark.1|stringformat:'.1f' }}%)"
                d="M73.022,58.44l1.667,14.815c1.014,9.006,8.122,16.114,17.128,17.128l14.815,1.667l-14.815,1.667   c-9.006,1.014-16.114,8.121-17.128,17.128l-1.667,14.815l-1.667-14.815c-1.014-9.006-8.121-16.114-17.128-17.128L39.412,92.05   l14.815-1.667c9.006-1.014,16.114-8.121,17.128-17.128L73.022,58.44z"/>
            </g>
            {% endfor %}
        </svg>

        {% endcache %}
    </div>
</main>
{% endblock %}

{% block app-js %}<script src="{% static 'home/home.js' %}"></script>{% endblock %}
