{% extends "base.html" %}
{% load static %}
{% load cache %}

{% block css-path %}{% static 'home/home.css' %}{% endblock %}
{% block title %}oriane tury{% endblock %}
{% block og-title %}oriane tury{% endblock %}
{% block tw-title %}oriane tury{% endblock %}
{% block meta-description %}Des images et des textes. Un recueillement en public. Le calme pendant la tempête.{% endblock %}
{% block og-description %}un site éperdument intentionnel{% endblock %}
{% block tw-description %}un site éperdument intentionnel{% endblock %}

{% block body-class %}entry{% endblock %}

{% block header %}
<header id="header" role="banner">
    <div id="logos">
    <img id="logo-otu" src={% static 'tln/img/oriane_tury.png' %} alt="oriane tury">
    </div>

    <nav id="top-nav-v-access" class="hidden"><ul>
        <li><a tabindex="-1" href="{% url 'blog:entry_archive_index' %}">Blog</a></li>
        <li><a tabindex="-1" href="/photos/">Photos</a>
        <li><a tabindex="-1" href="/critique/">Critique</a></li>
        <li><a tabindex="-1" href="/#info">À propos</a></li>
    </ul></nav>

    <nav id="top-nav-v" class="navbar" role="presentation">
        <div class="shadow-up"></div>
        <div class="shadow-right"></div>
        <div class="shadow-down"></div>
        <div class="shadow-left"></div>
        <ul>
            <li><a href="{% url 'blog:entry_archive_index' %}">Blog</a></li>
            <li><a href="/photos/">Photos</a></li>
            <li><a href="/critique/">Critique</a></li>
            <li><a href="#info">À propos</a></li>
        </ul>
    </nav>

</header>

<div id="goto-info" role="presentation"><a href="#info">⌄</a></div>
{% endblock %}

{% block content-wrap %}
<main id="content" role="main">
    <article id="info" class="entry-content">
        <div id="info-fr" class="info-div" tabindex="0">
            <ul>
                <li>en ce moment</li>
                <li>éditrice chez <a href="{% url 'list_tgdb_excerpts' %}">thinky games</a></li>
                <li>découpe laser de <a href="/blog/2K/">puzzle</a></li>
                <li>je vis à côté de nantes</li>
                <li>avec <a href="https://nicomoisson.fr">deux</a> <a href="/suashem.jpg">chats</a> que j'aime</li>
            </ul>
            <div class="vseparator" role="presentation"></div>
            <ul>
                <li>par le passé</li>
                <li>ingénierie backend</li>
                <li><a href="/photos/tenacite">photographie</a></li>
                <li><a href="/critique/seances/">cinéphilie</a></li>
                <li>rêves lucides</li>
            </ul>
        </div>
        <div id="info-separator" class="hseparator" role="presentation"></div>
        <div id="info-en" class="info-div" tabindex="0" lang="en">
            <ul>
                <li>what i'm up to</li>
                <li>editor at <a href="{% url 'list_tgdb_excerpts' %}">thinky games</a></li>
                <li>laser cut <a href="/blog/2K/">jigsaw puzzle</a></li>
                <li>living outside nantes</li>
                <li style="letter-spacing: -.2px;">caring for <a href="https://nicomoisson.fr">a human</a> and <a href="/suashem.jpg">a cat</a></li>
            </ul>
            <div class="vseparator" role="presentation"></div>
            <ul>
                <li>i've been into</li>
                <li>backend engineering</li>
                <li><a href="/photos/tenacite">photography</a></li>
                <li>avid <a href="/critique/seances/">moviegoing</a></li>
                <li>lucid dreaming<span id="nightsky-anchor">.</span></li>
            </ul>
        </div>
    </article>

    <footer id="footer">
        <div id="info-contact">
            <p><a href="mailto:contact@oriane.ink">contact@oriane.ink</a></p>
            {# <p><a href="CV_OrianeTury.pdf">CV</a>&nbsp;&nbsp;–&nbsp;&nbsp;<a href="mailto:contact@oriane.ink">contact@oriane.ink</a></p> #}
        </div>
    </footer>

    <div id="night-sky" role="presentation">
        <!-- this animation was inspired by Starseed Pilgrim, and probably also by Thoth -->
        <!-- some implementation ideas came from a codepen by one Bennett Feely (rip, thanks) -->
        <!-- the current animation was loaded with seed #{{ nightsky_seed }} -->
        {% cache None nightsky nightsky_seed %}

        {% for stars_subgroup in stars %}
        <svg class="stars" width="100%" height="100%" preserveAspectRatio="none">
            {% for star in stars_subgroup %}
            <circle
                class="star"
                cx="{{ star.0|stringformat:'.1f' }}%"
                cy="{{ star.1|stringformat:'.1f' }}%"
                r="{{ star.2|stringformat:'.1f' }}"
            />
            {% endfor %}
        </svg>
        {% endfor %}

        <svg class="sparks" width="100%" height="100%" preserveAspectRatio="none">
            {% for spark in sparks %}
            <g
                class="spark"
                transform="scale({{ spark.2|stringformat:'.1f' }})"
                transform-origin="{{ spark.0|stringformat:'.1f' }}% {{ spark.1|stringformat:'.1f' }}%">
            <path
                style="transform: translate({{ spark.0|stringformat:'.1f' }}%, {{ spark.1|stringformat:'.1f' }}%)"
                d="M73.022,58.44l1.667,14.815c1.014,9.006,8.122,16.114,17.128,17.128l14.815,1.667l-14.815,1.667   c-9.006,1.014-16.114,8.121-17.128,17.128l-1.667,14.815l-1.667-14.815c-1.014-9.006-8.121-16.114-17.128-17.128L39.412,92.05   l14.815-1.667c9.006-1.014,16.114-8.121,17.128-17.128L73.022,58.44z"/>
            </g>
            {% endfor %}
        </svg>

        {% endcache %}
    </div>
</main>
{% endblock %}

{% block app-js %}<script src="{% static 'home/home.js' %}"></script>{% endblock %}
