# Django assets
/db.sqlite3
/manage.py
/*/migrations/
/*/static/
__pycache__
*.pyc

# Static & media files
/media/
/static/admin/
/static/critique/
/static/django_extensions/
/static/docs/
/static/favicon/old/
/static/img_base/old/
/static/miroirs_setup/
/static/mptt/
/static/sortedm2m/
/static/upm59/
/static/zinnia/
/static/portfolio_oriane_tury.pdf

# Logs & backups
/net/uwsgi-emperor.log
/net/django_debug.log
/util/old/mongo_backup/

# Third-party content
/.well-known/
/node_modules/
/package-lock.json
*.swp
