.well-known/
blog/migrations/
critique/migrations/
critique/static/
db.sqlite3
manage.py
media/
net/uwsgi-emperor.log
net/django_debug.log
package-lock.json
photos/migrations/
static/admin/
static/critique/
static/django_extensions/
static/favicon/old/
static/img_base/old/
static/miroirs_setup/
static/mptt/
static/sortedm2m/
static/zinnia/
static/CV_OrianeTury*.pdf
static/portfolio_oriane_tury.pdf
tln/settings.py
util/old/mongo_backup/
**/node_modules/
**/__pycache__/
**/*.pyc
**/*.swp
