{% comment %}
Note that we display the number of entries published on *different* days.
If two entries were published on the same day, they would be counted only as one. This is a bad hack.
{% endcomment %}
{% load blog_extras %}
{% load i18n %}
{% regroup archives by year as year_list %}
<ul class="{% if not archives %}no-{% endif %}archives-entries-tree">
  {% for year in year_list reversed %}
  <li>
      <a rel="archives" href="{% url 'zinnia:entry_archive_year' year.grouper %}">{{ year.grouper }} ({{ year.list|length }})</a>
    {% regroup year.list by month as month_list %}
    <ul>
      {% for month in month_list reversed %}
      <li>
        {% with month_date=month.list.0 %}
        <a rel="archives" href="{% url 'zinnia:entry_archive_month' month_date|date:"Y" month_date|date:"m" %}">
          {{ month_date|date:"F" }} ({{ month.list|length }})
        </a>
        {% endwith %}
        {% regroup month.list by day as day_list %}
        <ul>
          {% for day in day_list reversed %}
          <li>
            {% with day_date=day.list.0 %}
            {% get_article_on_day day_date as article %}
            <a href="{{ article.url }}">
              {{ article.title }}
            </a>
            {% endwith %}
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </li>
  {% empty %}
  <li>
    {% trans "No archives yet." %}
  </li>
  {% endfor %}
</ul>
