{% load blog_extras %}
{% load i18n %}

{% regroup archives by year as year_list %}
<ul class="{% if not archives %}no-{% endif %}archives-entries-tree">
  {% for year in year_list reversed %}
  <li>
      <a class='toggle
        {% if publication_date %}
          {% if publication_date|date:"Y" == year.grouper|stringformat:"d" %} expanded{% else %} collapsed{% endif %}
        {% endif %}
        ' href="#" role="button"><span class='toggle-in'></span><span class='toggle-year'>{{ year.grouper }}</span></a>
    {% regroup year.list by day as day_list %}
      <ul>
        {% for day in day_list reversed %}
          {% with day_date=day.list.0 %}
          {% get_entries_on_day day_date is_superuser user_id as entries_day %}
          {% for entry in entries_day %}
          <li>
              <a href="{{ entry.url }}" {% if not entry.lang == 'fr-FR' %}lang="{{ entry.lang }}"{% endif %}>{{ entry.title }}</a>
          </li>
          {% endfor %}
          {% endwith %}
        {% endfor %}
      </ul>
  </li>
  {% empty %}
  <li>
    {% trans "No archives yet." %}
  </li>
  {% endfor %}
</ul>
