{% extends "critique/base.html" %}
{% load static %}

{% block title %}👤&nbsp;&nbsp;{{ artist|lower }}{% endblock %}
{% block meta-description-page %}liste d'œuvres par {{ artist|lower }}{% endblock %}

{% block content-wrap-class %}decenter{% endblock %}

{% block content %}
<div id="artiste-info">
    <h1 class="critique-title">{{ artist }}</h1>
</div>

<div id="collection" class="chunks artiste-oeuvres">
    <ul>
    {% for oeuvre in oeuvres %}
        <li class="ellipsis-link"><a href="{% url 'detail_oeuvre' oeuvre.slug %}">{{ oeuvre.title_vf }} ({{ oeuvre.year }})</a></li>
    {% if forloop.counter|divisibleby:25 and not forloop.last %}
    </ul>
    <ul>
    {% endif %}
    {% endfor %}
    </ul>
</div>
{% endblock %}
