{% extends "critique/base.html" %}
{% load staticfiles %}

{% block title %}{{ artist|lower }}{% endblock %}
{% block meta-description-page %}liste d'œuvres par {{ artist|lower }}{% endblock %}

{% block content %}
<div id="artiste-info">
    <h1 class="collection-title">{{ artist }}</h1>
</div>

<div id="collection" class="chunks artiste-oeuvres"></div>
    
<script type="text/javascript">
    var oeuvres = [];
    {% for oeuvre in oeuvres %}
        oeuvres.push(["{{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})",
                      "{% url 'detail_oeuvre' oeuvre.slug %}"]);
    {% endfor %}
</script>
{% endblock %}
