{% extends "critique/base.html" %}
{% load staticfiles %}

{% block title %}tln - {{ artist|lower }}{% endblock %}

{% block content %}

<div id="artist_info" class="oeuvre_info">
    <h1 class="title">{{ artist }}</h1>
</div>

<div id="collection" class="oeuvre_comments chunks collection_artist"></div>
    
<script type="text/javascript">
    var oeuvres = [];
    {% for oeuvre in oeuvres %}
        oeuvres.push(["{{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})",
                      "{% url 'detail_oeuvre' oeuvre.id %}"]);
    {% endfor %}
</script>

{% endblock %}
