{% extends 'base.html' %}
{% load staticfiles %}

{% block css-path %}{% static 'css/critique.css' %}{% endblock %}

{% block header-more %}
<div id="critique-header">
    <nav id="main-nav" class="navbar">
        <a id="top-nav-trigger" href="#">tln</a>
        <nav role="navigation">
        <ul>
            <ul id="main-nav-links-h">
                <li><a href={% url "preambule" %}>préambule</a></li>
                <li><a href={% url "top_textes" %}>textes choisis</a></li>
                <li><a href={% url "list_notes" %}>carnet de notes</a></li>
            </ul>
            <ul id="main-nav-links-v">
                <li class="top-textes"><a href={% url "top_textes" %}>textes choisis</a></li>
            </ul>
                <li id="sub-nav-trigger"><a href="#">errances</a></li>
                {# <li>recherche</li> #}
        </ul>
        </nav>
    </nav>

    <nav id="sub-nav" class="navbar">
        <ul id="sub-nav-links-h">
            <li><a href={% url "list_oeuvres" %}>rencontres passées</a></li>
            <li><a href={% url "list_envies" %}>en ligne de mire</a></li>
            <li><a href={% url "list_cinemas" %}>cinémas parisiens</a></li>
            <li><a href={% url "list_seances" %}>liste des séances</a></li>
            <li><a href={% url "top_films" %}>top films par année</a></li>
        </ul>
        <ul id="sub-nav-links-v">
            <li><a href={% url "preambule" %}>préambule</a></li>
            <li class="top-textes" style="display: none;"><a href={% url "top_textes" %}>textes choisis</a></li>
            <li><a href={% url "list_notes" %}>carnet de notes</a></li>
            <li><a href={% url "list_oeuvres" %}>rencontres passées</a></li>
            <li><a href={% url "list_envies" %}>en ligne de mire</a></li>
            <li><a href={% url "list_cinemas" %}>cinémas parisiens</a></li>
            <li><a href={% url "list_seances" %}>liste des séances</a></li>
            <li><a href={% url "top_films" %}>top films par année</a></li>
        </ul>
    </nav>
</div>

{% comment %}
<div id="critique-header-vertical">
    <nav class="main navbar">
        <a class="top-nav-trigger" href="#">tln</a>
        <nav role="navigation">
        <ul>
            <li><a href={% url "top_textes" %}>textes</a></li>
            <li class="sub-nav-trigger"><a href="#">errances</a></li>
        </ul>
        </nav>
    </nav>

    <nav class="sub navbar-vertical">
        <ul>
            <li><a href={% url "preambule" %}>préambule</a></li>
            <li><a href={% url "list_notes" "all" %}>carnet de notes</a></li>
            <li><a href={% url "list_oeuvres" "film" %}>rencontres passées</a></li>
            <li><a href={% url "list_envies" "film" %}>en ligne de mire</a></li>
            <li><a href={% url "list_cinemas" %}>cinémas parisiens</a></li>
            <li><a href={% url "list_seances" %}>liste des séances</a></li>
            <li><a href={% url "top_films" %}>top films par année</a></li>
        </ul>
    </nav>
</div>
{% endcomment %}
{% endblock %}

{% block content-wrap %}
<main id="content">
    {% block content %}{% endblock %}
</main>

{% if perms.critique.all_rights %}
<div class="overlay">
    <form id="oeuvre_form_empty" action="{% url 'add_oeuvre' %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ oeuvre_form_empty.as_p }}
        </div>
        <div class="form_buttons">
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>

<div class="overlay">
    <form id="seance_form_empty" action="{% url 'add_seance' %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ seance_form_empty.as_p }}
        </div>
        <div class="form_buttons">
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

{% block overlays %}{% endblock %}
