<!doctype html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="/static/css/style.css"/>
        <title>{% block title %}tln - critiques{% endblock%}</title>
    </head>

    <body>
        <header>
            <div id="main-bar" class="navbar">
                <a id="logo" href="/" title="tln">tln</a>
                <nav role="navigation">
                <ul>
                    <li><a href={% url "preambule" %}>préambule</a></li>
                    <li><a href={% url "top_textes" %}>textes cardinaux</a></li>
                    <li id="errance-bar-trigger"><a href="#">errances</a></li>
                    {# <li>recherche</li> #}
                </ul>
                </nav>
            </div>

            <div id="errance-bar" class="navbar" expanded_size="simple">
                <ul>
                    <li><a href={% url "liste_notes" "all" %}>carnet de notes</a></li>
                    <li><a href={% url "liste_oeuvres" "film" %}>rencontres passées</a></li>
                    <li><a href={% url "liste_envies" "film" %}>en ligne de mire</a></li>
                    <li><a href={% url "liste_cinemas" %}>cinémas parisiens</a></li>
                    <li><a href={% url "liste_seances" %}>liste des séances</a></li>
                    <li><a href={% url "top_films" %}>top films par année</a></li>
                </ul>
            </div>
        </header>

        <section class="content">
            {% block content %}{% endblock %}
        </section>

        {# <footer>--footer--</footer> #}
        <script type="text/javascript" src="/static/js/base.js"></script>
    </body>
</html>
