{% extends 'base.html' %}
{% load staticfiles %}

{% block css-path %}{% static 'css/critique.css' %}{% endblock %}
{% block title-between %} - {% endblock %}
{% block title %}critiques{% endblock %}

{% block header-more %}
<div id="header-more">
    <nav id="main-bar" class="navbar">
        <a id="top-navigation-trigger" href="#">tln</a>
        <nav role="navigation">
        <ul>
            <li><a href={% url "preambule" %}>préambule</a></li>
            <li><a href={% url "top_textes" %}>textes choisis</a></li>
            <li><a href={% url "list_notes" "all" %}>carnet de notes</a></li>
            <li id="errance-bar-trigger"><a href="#">errances</a></li>
            {# <li>recherche</li> #}
        </ul>
        </nav>
    </nav>

    <nav id="errance-bar" class="navbar" expanded-size="simple">
        <ul>
            <li><a href={% url "list_oeuvres" "film" %}>rencontres passées</a></li>
            <li><a href={% url "list_envies" "film" %}>en ligne de mire</a></li>
            <li><a href={% url "list_cinemas" %}>cinémas parisiens</a></li>
            <li><a href={% url "list_seances" %}>liste des séances</a></li>
            <li><a href={% url "top_films" %}>top films par année</a></li>
        </ul>
    </nav>
</div>
{% endblock %}

{% block content-wrap %}
<section id="content">
    {% block content %}{% endblock %}
</section>

{% if perms.critique.all_rights %}
<div class="overlay">
    <form id="oeuvre_form_empty" action="{% url 'add_oeuvre' %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ oeuvre_form_empty.as_p }}
        </div>
        <div class="form_buttons">
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>

<div class="overlay">
    <form id="seance_form_empty" action="{% url 'add_seance' %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ seance_form_empty.as_p }}
        </div>
        <div class="form_buttons">
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

{% block overlays %}{% endblock %}
