{% extends "critique/base.html" %}
{% load static %}

{% block title %}chronologies{% endblock %}
{% block og-title %}{% endblock %}
{% block tw-title %}{% endblock %}
{% block meta-description-page %}{% endblock %}

{% block og-description %}{% endblock %}
{% block tw-description %}{% endblock %}

{% block content-wrap-class %}decenter{% endblock %}
{% block body-class %}entry{% endblock %}

{% block css-additional %}<link rel="stylesheet" type="text/css" href="{% static 'critique/vis-timeline-graph2d.min.css' %}" />{% endblock %}
{% block js-additional %}<script type="text/javascript" src="{% static 'critique/vis-timeline-graph2d.min.js' %}"></script>{% endblock %}

{% block content %}
<div id="chronologies" class="critique-perso">
    <article class="hentry">
        <header class="entry-header">
            <h1 class="entry-title">Chronologies</h1>
        </header>

        <div class="entry-body">
            <div class="entry-content">
                <p>Paris abrite une centaine de cinémas. Je ne travaille pas au CNC et je doute que quiconque d'autre soit capable de fournir un nombre exact, mais je suis certaine que c'est la ville la mieux lotie au monde en lieux dédiés à la projection. Après Londres ? Perfide Albion. Quoi qu'il en soit, cent, c'est déjà bien assez. Il y a quelques années, j'ambitionnais vaguement de tous leur payer une petite visite. On s'occupe comme on peut.</p>
            </div>
        </div>
    </article>
</div>

<div id="timeline" class="transparent"></div>

<div id="timeline-filters" class="critique-perso transparent">
    <article class="hentry">
    <div>
        <div>
            <span onclick="toggleFilterMType(this)" data-filter-mtype=0>films</span>
            <span onclick="toggleFilterMType(this)" data-filter-mtype=1>séries</span>
            <span onclick="toggleFilterMType(this)" data-filter-mtype=3>jeux vidéo</span>
            <span onclick="toggleFilterMType(this)" data-filter-mtype=4>livres</span>
            <span onclick="toggleFilterMType(this)" data-filter-mtype=5>BDs</span>
        </div>
    </div>
    <div>
        <div>
            <span onclick="toggleFilterTag(this)" data-filter-tag="thinky-games">thinky games</span>
            <span onclick="toggleFilterTag(this)" data-filter-tag="twitch">jeux streamés sur Twitch</span>
        </div>
        <div>
            <span onclick="toggleFilterTag(this)" data-filter-tag="nico">avec Nico</span>
            <span onclick="toggleFilterTag(this)" data-filter-tag="samuel">avec Samuel</span>
            <span onclick="toggleFilterTag(this)" data-filter-tag="ivain">avec Ivain</span>
        </div>
    </div>
    </article>
</div>
{% endblock %}

{% block vars-js %}
<script type="text/javascript">
  // Gather media Groups
  const timelineGroupsRaw = {{ chrono_groups|safe }};
  // Gather a DataSet
  let timelineItemsRaw = {{ chrono_items|safe }};
  timelineItemsRaw.forEach((item, idx, arr) => {
    // store Date objects rather than 'YYYY-MM-DD' strings
    item.start = new Date(item.start);
    item.end = new Date(item.end);
  })
  Object.freeze(timelineItemsRaw);
</script>
<script type="text/javascript" src="{% static 'critique/critique-timeline.js' %}"></script>
{% endblock %}
