{% extends "critique/base.html" %}
{% load static %}

{% block title %}⏳&nbsp;&nbsp;chronologie{% endblock %}
{% block meta-description-page %}un barrage traversé de temps{% endblock %}

{% block content-wrap-class %}decenter{% endblock %}
{% block body-class %}entry{% endblock %}

{% block css-additional %}<link rel="stylesheet" type="text/css" href="{% static 'critique/vis-timeline-graph2d.min.css' %}" />{% endblock %}
{% block js-additional %}<script type="text/javascript" src="{% static 'critique/vis-timeline-graph2d.min.js' %}"></script>{% endblock %}

{% block content %}
<div id="chronologie" class="critique-perso">
    <article class="hentry">
        <header class="entry-header">
            <h1 class="entry-title">Chronologie</h1>
        </header>

        <div class="entry-body">
            <div class="entry-content">
                <p>Chaque expérience, dédoublée. Chaque journée, retenue. Un barrage traversé de temps.</p>
                <p>J'ai pris l'habitude de relever sur ce site, depuis 2022, les dates auxquelles je commence et je&nbsp;finis un livre, un jeu, une série... En voici une fresque, support de souvenir et de gratitude.</p>
            </div>
        </div>
    </article>
</div>

<div id="timeline" class="transparent"></div>

<div id="timeline-filters" class="critique-perso transparent">
    <article class="hentry">
    <div>
        <div>
            <span onclick="toggleFilter(this)" data-filter-group data-filter="film">films</span>
            <span onclick="toggleFilter(this)" data-filter-group data-filter="serie">séries</span>
            <span onclick="toggleFilter(this)" data-filter-group data-filter="jeu">jeux vidéo</span>
            <span onclick="toggleFilter(this)" data-filter-group data-filter="livre">livres</span>
            <span onclick="toggleFilter(this)" data-filter-group data-filter="bd">BDs</span>
        </div>
    </div>
    <div>
        <div>
            <span onclick="toggleFilter(this)" data-filter="thinky-games">thinky games</span>
            <span onclick="toggleFilter(this)" data-filter="twitch">jeux streamés sur Twitch</span>
        </div>
        <div>
            <span onclick="toggleFilter(this)" data-filter="nico">avec Nico</span>
            <span onclick="toggleFilter(this)" data-filter="samuel">avec Samuel</span>
            <span onclick="toggleFilter(this)" data-filter="ivain">avec Ivain</span>
        </div>
    </div>
    </article>
</div>
{% endblock %}

{% block vars-js %}
<script type="text/javascript">
  // Gather media Groups
  const timelineGroupsRaw = {{ chrono_groups|safe }};
  // Gather a DataSet
  let timelineItemsRaw = {{ chrono_items|safe }};
  timelineItemsRaw.forEach((item, idx, arr) => {
    // store Date objects rather than 'YYYY-MM-DD' strings
    item.start = new Date(item.start);
    item.end = new Date(item.end);
  })
  Object.freeze(timelineItemsRaw);
</script>
<script type="text/javascript" src="{% static 'critique/critique-timeline.js' %}"></script>
{% endblock %}
