{% extends "critique/base.html" %}
{% load l10n %}

{% block title %}{{ cinema.name|lower }}{% endblock %}
{% block meta-description-page %}informations sur le cinéma {{ cinema.name|lower }}{% endblock %}

{% block content %}

<div id="cinema_info" class="info">
    <h1 class="title">{{ cinema.name }}</h1>
</div>

<div class="oeuvre_comments">
    <article class="comment">
        <div>
        {% for p in cinema.comment %}
            <p class="comment_par">{{ p|safe }}</p>
        {% endfor %}
        </div>
        <p class="comment_date">visité le
            {% localize on %}
            {{ cinema.visited|date:"j F Y" }}
            {% endlocalize %}
        </p>
    </article>
</div>
{% endblock %}

{% block overlays %}
{% if perms.critique.all_rights %}
<div class="overlay">
    <form id="cinema_form" action="{% url 'detail_cinema' cinema.id %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="form_buttons">
    {# when 'enter' is pressed, the form gives priority to the first submit #}
    {# hence the hidden button, so that default is send rather than delete #}
            <input type="submit" value="envoyer" class="hidden" role="none" tabindex="-1"/>
            <input type="submit" formaction="{% url 'delete_cinema' cinema.id %}" value="supprimer"/>
            <div class="filler"></div>
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

