{% extends "critique/base.html" %}
{% load cache %}

{% block title %}cinémas parisiens{% endblock %}
{% block meta-description-page %}anecdotes et divagations{% endblock %}

{% block body-class %}entry{% endblock %}
{% block content-wrap-class %}decenter{% endblock %}

{% block content %}


<div id="cinemas-intro1" class="critique-perso">
    <article class="hentry">
        <header class="entry-header">
            <h1 class="entry-title">Cinémas parisiens</h1>
        </header>

        <div class="entry-body">
            <div class="entry-content">
                <p>Paris abrite une centaine de cinémas. Je ne travaille pas au CNC et je doute que quiconque d'autre soit capable de fournir un nombre exact, mais je suis certaine que c'est la ville la mieux lotie au monde en lieux dédiés à la projection. Après Londres ? Perfide Albion. Quoi qu'il en soit, cent, c'est déjà bien assez. Il y a quelques années, j'ambitionnais vaguement de tous leur payer une petite visite. On s'occupe comme on peut.</p>
                <p>Cette liste constitue un vague journal de mes pérégrinations. Les histoires et les descriptions des lieux s'y mélangent à des expériences plus personnelles. Je ne me satisfais pas des faits, et j'ai tendance à exacerber certains caractères que j'ai pu observer, à des fins de réflexion probablement excessive, de divertissement, et souvent des deux. Je n'ai aucune prétention d'objectivité, si tant est qu'un tel concept existe, et j'accueille la critique à bras ouverts. Affirmer que la vérité extatique de Werner Herzog me sert de modèle serait faux en plus d'être terriblement prétentieux, mais je vous laisse juges d'établir d'éventuels rapprochements avec ma démarche. :)</p>
                <p>Pour les historiques des salles, je n'ai pas le courage de jouer la journaliste en herbe et d'interroger des exploitants. Je suis trop paresseuse pour vouloir être prise au sérieux, trop occupée pour suivre les actualités d'un parc immobilier qui évolue plus vite qu'on ne le pense, et de toute façon ce n'est pas une finalité de ce pèlerinage diffus. J'utilise donc diverses sources indirectes, que j'essaye dans la mesure du possible de recroiser, parmi lesquelles les éventuels sites des cinémas en question, les pages wikipédia encore moins nombreuses et parfois douteuses, des threads de divers forums obscurs enterrés depuis des années, des articles de presse tout autant enfouis, et d'autres intermédiaires à prendre avec plus ou moins de pincettes mais desquels je reste redevable :</p>
                <ul>
                    <li>l'excellent blog <a href="http://sallesdecinemas.blogspot.fr">Ciné-Façades</a>, toujours actif ;</li>
                    <li>le blog <a href="http://www.silverscreens.com/paris.php">Silver Screens</a>, plus daté mais exigeant dans ses recherches ;</li>
                    <li>le site communautaire et un peu fourre-tout <a href="http://www.salles-cinema.com/paris">Salles-Cinéma</a> ;</li>
                    <li>et le registre inégal mais quand même précieux <a href="http://cinematreasures.org/theaters/france/paris">Cinema Treasures</a>.</li>
                </ul>
                <p>Je me suis aussi souvent référée à <a href="http://www.paris-louxor.fr/cinemasdeparis/">la fantastique carte composée sur Paris-Louxor</a>. Elle permet entre autres de prendre la triste mesure de l'hécatombe qui a touché les salles parisiennes, principalement dans les années 70-80.</p>
                <p>Pour ceux que la question intéresse, sachez qu'il reste à ma connaissance deux cinés X en activité, l'Atlas et le Beverley, qui dispose d'<a href="http://cinebeverley.chez.com/">un site authentiquement rétro</a> (les icônes de navigation sont un peu cachées). J'en profite pour glisser <a href="http://www.salles-cinema.com/actualites/interview-cinema-le-beverley">un témoignage</a>.</p>
                <p>Bien qu'elle ne donne pas accès aux riches programmations du Forum des Images ni de la Cinémathèque française, la carte UGC Illimité permet de s'abreuver des rétrospectives à la Filmothèque du Quartier Latin, au Grand Action, au Champo, au Desperado et au Christine 21. Elle permet aussi de profiter des films à spectacle au Max Linder Panorama, dans la salle 1 de l'UGC Normandie, dans la salle 16 de l'UGC La Défense, ou encore dans la salle 6 de l'UGC Les Halles. Je conseille également de visiter au moins une fois la salle Youssef Chahine du Louxor, ainsi que la Grande Salle du Grand Rex. Et pendant que la Pagode est en sursis de réouverture, noyons l'attente devant un Bollywood au Publicis Cinémas.</p>
            </div>
        </div>
    </article>
</div>

{% cache None chunks_cinemas %}
<div id="cinemas" class="chunks">
    <ul>
    {% for cinema in cinemas %}
        <li><a href="{% url 'detail_cinema' cinema.slug %}">{{ cinema.name }}</a></li>
    {% if forloop.counter|divisibleby:21 %}
    </ul>
    <ul>
    {% endif %}
    {% endfor %}
    </ul>
</div>
{% endcache %}


<div id="cinemas-intro2" class="critique-perso">
    <article class="hentry">
        <div class="entry-body">
            <div class="entry-content">
                <p>Je n'y suis toujours pas passée : l'Épée de Bois, le Studio Galande, le Beverley, les Bobines, la Gaîté lyrique, le Grand Palais (Cinéma Paradiso), le Katara, la Lucarne, la Péniche Cinéma.</p>
                <p>Je m'abstiendrai sans doute : le Gaumont Champs-Élysées côté Ambassade, le Gaumont Aquaboulevard, le Gaumont Convention, le Gaumont Mistral, les Gaumont Opéra côtés Capucine, Français & Premier, le Gaumont Parnasse côté Montparnos, le Pathé Beaugrenelle, le Pathé Convention.</p>
                <p>J'hésite à parler de "cinémas", comme les salles ne sont pas franchement ouvertes au public : l'Élysées Biarritz, le Germain Paradisio, le Madame/Mademoiselle Cinéma, le Silencio.</p>
                <p>Même réserve pour ces lieux qui disposent de salles de projection rarement utilisées pour des films : le Centre Georges-Pompidou, le Cinaxe, la Cité de l'architecture et du patrimoine, la Cité de la musique, la Cité des sciences et de l'industrie, l'Institut du monde arabe, l'Institut finlandais (visité !), l'Institut océanographique de Paris, la Maison de la culture du Japon, la Maison européenne de la photographie, le Musée d'art et d'histoire du judaïsme, le Musée d'Orsay, le Musée de l'histoire de l'immigration, le Musée du Louvre, le Théâtre Le Ranelagh. Et puis l'Atlas ça ressemble plus à un lieu de cruising qu'autre chose.</p>
            </div>

            <footer class="entry-footer">
                <div class="entry-discussions"></div>
                <time id="cinemas_total">
                    au 14 mars 2016 : 80 cinémas parisiens visités
                </time>
            </footer>
        </div>
    </article>
</div>

{% endblock %}

