{% extends "critique/base.html" %}
{% load l10n %}
{% load tln_extras %}
{% load critique_extras %}

{% block title %}{{ cinema.name|lower }}{% endblock %}
{% block meta-description-page %}informations sur le cinéma {{ cinema.name|lower }}{% endblock %}

{% block body-class %}entry{% endblock %}
{% block content-wrap-class %}decenter{% endblock %}

{% block content %}

<div id="cinema-info" class="critique-info">
    <h1 class="critique-title">{{ cinema.name }}</h1>
    {# there's a hack for ignoring 'à ' because I couldn't find a precise location for one cinema #}
    <div class="cinema-location">{% if cinema.location != "quelque part en Virginie" %}à {% endif %}{{ cinema.location }}</div>
</div>

<div id="cinema-seances" class="chunks">
    <ul>
        {% for seance in cinema.seances_list %}
            <li><span>{% fancydate seance.oeuvre_span date_attrname='date_start' le=True en=True annee=True %} : {{ seance|seancefilmlink }}</span></li>
            {% if forloop.counter|divisibleby:chunk_size and not forloop.last %}
                </ul>
                <ul>
            {% endif %}
        {% endfor %}
    </ul>
</div>

{% if cinema.visited %}
<div class="critique-perso">
    <article class="hentry">
        <div class="entry-body">
            <div class="entry-content">
            {{ cinema.comment|safe|linebreaks }}
            </div>
        </div>

        <footer class="entry-footer">
            <div class="entry-discussions"></div>
            <div id="cinema-footer-content">
                <time>
                    visité le
                    {% localize on %}
                    {{ cinema.visited|date:"j F Y" }}
                    {% endlocalize %}
                </time>
                <a href="{% url 'list_cinemas' %}">les cinémas parisiens</a>
            </div>
        </footer>
    </article>
</div>
{% endif %}

{% endblock %}

{% block overlays %}
{% if perms.critique.all_rights %}
<div class="overlay">
    <form id="cinema_form" action="{% url 'detail_cinema' cinema.slug %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ form.as_p }}
        </div>
        <div class="form_buttons">
    {# when 'enter' is pressed, the form gives priority to the first submit #}
    {# hence the hidden button, so that default is send rather than delete #}
            <input type="submit" value="envoyer" class="hidden" role="none" tabindex="-1"/>
            <input type="submit" formaction="{% url 'delete_cinema' cinema.slug %}" value="supprimer"/>
            <div class="filler"></div>
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

