{% extends "critique/base.html" %}
{% load staticfiles %}

{% block title %}tln - collection{% endblock %}

{% block content %}

<ul id="media-bar" class="navbar subbar">
    <li><a desc="film" href={% url "liste_oeuvres" "film" %}>films</a></li>
    <li><a desc="serie" href={% url "liste_oeuvres" "serie" %}>séries</a></li>
    <li><a desc="album" href={% url "liste_oeuvres" "album" %}>musique</a></li>
    <li><a desc="jeu" href={% url "liste_oeuvres" "jeu" %}>jeux</a></li>
    <li><a desc="livre" href={% url "liste_oeuvres" "livre" %}>livres</a></li>
    <!-- <li><a href={% url "liste_oeuvres" "bd" %}>bd</a></li> -->
</ul>

<div id="collection" class="chunks"></div>

<script type="text/javascript">
    var oeuvres = [];
    {% for oeuvre in oeuvres %}
        oeuvres.push(["{{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})",
                      "{% url 'detail_oeuvre' oeuvre.id %}"]);
    {% endfor %}
</script>

{% endblock %}
