{% extends "critique/base.html" %}
{% load cache %}

{% block title %}rencontres{% endblock %}
{% block meta-description-page %}liste d'œuvres rencontrées{% endblock %}

{% block content %}

<nav class="navbar filter-navbar {{ mtype }}">
    <ul>
        <li><a desc="film" href={% url "list_oeuvres" "film" %}>films</a></li>
        <li><a desc="serie" href={% url "list_oeuvres" "serie" %}>séries</a></li>
        <li><a desc="album" href={% url "list_oeuvres" "album" %}>musique</a></li>
    </ul>
    <ul>
        <li><a desc="jeu" href={% url "list_oeuvres" "jeu" %}>jeux</a></li>
        <li><a desc="livre" href={% url "list_oeuvres" "livre" %}>livres</a></li>
    </ul>
</nav>

{% cache 86400 chunks_collection mtype %}
<div id="collection" class="chunks">
    <ul>
    {% for oeuvre in oeuvres %}
        <li><a href="{% url 'detail_oeuvre' oeuvre.slug %}">{{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})</a></li>
    {% if forloop.counter|divisibleby:25 %}
    </ul>
    <ul>
    {% endif %}
    {% endfor %}
    </ul>
</div>
{% endcache %}

{% endblock %}
