{% extends "critique/base.html" %}
{% load staticfiles %}

{% block title %}tln - envies{% endblock %}

{% block content %}

<ul id="media-bar" class="navbar subbar">
    <li><a desc="film" href={% url "liste_envies" "film" %}>films</a></li>
    <li><a desc="serie" href={% url "liste_envies" "serie" %}>séries</a></li>
    <li><a desc="album" href={% url "liste_envies" "album" %}>musique</a></li>
    <li><a desc="jeu" href={% url "liste_envies" "jeu" %}>jeux</a></li>
    <li><a desc="livre" href={% url "liste_envies" "livre" %}>livres</a></li>
    <!-- <li><a href={% url "liste_envies" "bd" %}>bd</a></li> -->
</ul>

<ul>
{% for oeuvre in oeuvres %}
<li><a href={% url "detail_oeuvre" oeuvre.id %}>
        {% if oeuvre.info.image_url %}
        <img src="{% static oeuvre.info.image_url %}" alt="Image {{ oeuvre.info.titles.vf }}" />
        {% else %}
        {{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})
        {% endif %}
    </a></li>
{% endfor %}
</ul>


<div class="pagination">
    {% if oeuvres.has_previous %}
        <a href={% url "liste_envies" mtype oeuvres.previous_page_number %}>page précédente</a>
    {% endif %}

    <span class="current">
        Page {{ oeuvres.number }} sur {{ oeuvres.paginator.num_pages }}
    </span>

    {% if oeuvres.has_next %}
        <a href={% url "liste_envies" mtype oeuvres.next_page_number %}>page suivante</a>
    {% endif %}
</div>
    
{% endblock %}
