{% extends "critique/base.html" %}
{% load static %}

{% block title %}envies{% endblock %}
{% block meta-description-page %}liste d'envies{% endblock %}

{% block content %}

<nav class="navbar filter-navbar {{ mtype }}">
    <ul>
        <li><a desc="film" href={% url "list_envies" "film" %}>films</a></li>
        <li><a desc="serie" href={% url "list_envies" "serie" %}>séries</a></li>
        <li><a desc="album" href={% url "list_envies" "album" %}>musique</a></li>
    </ul>
    <ul>
        <li><a desc="jeu" href={% url "list_envies" "jeu" %}>jeux</a></li>
        <li><a desc="livre" href={% url "list_envies" "livre" %}>livres</a></li>
    </ul>
</nav>

<ul class="oeuvres-display">
{% for oeuvre in oeuvres %}
    <li class="oeuvre-display">
        <a href={% url "detail_oeuvre" oeuvre.slug %}>
        {% if oeuvre.info.image_url %}
            <img src="{% static oeuvre.info.image_url %}" alt="{{ oeuvre.info.titles.vf }}" />
        {% else %}
            <div class="substitute-display">
                <img src="{% static 'critique/substitute.jpg' %}" alt="{{ oeuvre.info.titles.vf }}" />
                <p>{{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})</p>
            </div>
        {% endif %}</a>
    </li>
{% endfor %}
</ul>


{% if oeuvres.paginator.num_pages > 1 %}
<nav id="pagination">
    {% if oeuvres.has_previous %}
        <a href={% url "list_envies" mtype oeuvres.previous_page_number %}><-</a>
    {% endif %}

    <span class="current">
        page {{ oeuvres.number }} sur {{ oeuvres.paginator.num_pages }}
    </span>

    {% if oeuvres.has_next %}
        <a href={% url "list_envies" mtype oeuvres.next_page_number %}>-></a>
    {% endif %}
</nav>
    
<script>
    var prevPageUrl = null;
    {% if oeuvres.has_previous %}
    prevPageUrl = '{% url "list_envies" mtype oeuvres.previous_page_number %}';
    {% endif %}
    var nextPageUrl = null;
    {% if oeuvres.has_next %}
    nextPageUrl = '{% url "list_envies" mtype oeuvres.next_page_number %}';
    {% endif %}
</script>
{% endif %}

{% endblock %}
