{% extends "critique/base.html" %}

{% block title %}index{% endblock %}
{% block meta-description %}un journal de bord culturel, tenu par oriane tury{% endblock %}

{% block body-class %}entry{% endblock %}
{% block content-wrap-class %}decenter{% endblock %}

{% block content %}

<div id="preambule" class="critique-perso">
    <article class="hentry">
        <header class="entry-header">
            <h1 class="entry-title">Préambule</h1>
        </header>

        <div class="entry-body">
            <div class="entry-content">
                <div class="entry-section">
                    <p>Bonsoir,</p>
                    <p>Si vous arrivez ici par hasard, voici quelques éclaircissements sur cette section <em>critique</em>.</p>
                </div>
                <hr>
                <div class="entry-section">
                    <h2 class="entry-section-title">Motivations</h2>
                    <p>En 2014, j'ai commencé à écrire à propos de certains films. Bien que mon attrait pour le cinéma remonte à plus loin encore, face à l'impression de passivité qui faisait son apparition, l'analyse et l'écriture offraient une échappatoire efficace. Occasionnelle à l'origine, cette activité critique s'est changée en rendez-vous méthodique après chaque nouvelle découverte culturelle. Certaines &#339;uvres ne m'inspiraient que quelques mots, tandis que d'autres se voyaient accorder plusieurs heures de réflexion.</p>
                    <p>Pendant cette période, j'utilisais <a href="https://www.senscritique.com">SensCritique</a> pour publier mes textes. Cependant, au fil des mois, je me suis sentie de moins en moins à l'aise sur ce réseau marqué par la manie des notes, les biais grégaires, et la publicité envahissante. En dépit d'autres aspects plus positifs, j'ai décidé d'en partir fin 2017, avec l'ambition de construire une plate-forme qui puisse recueillir mon journal de bord culturel tout en restant agréable à vivre.</p>
                    <p>Le tableau ne serait toutefois pas complet si je n'évoquais pas ma perte progressive d'intérêt envers les sphères cinéphiles et le commentaire critique. Même si je considère ces expériences formatrices, je n'ai plus ni l'envie ni le temps de m'y consacrer comme j'ai pu le faire par le passé. Toutefois, parce que je vois une filiation entre cette activité et les projets plus autonomes que je tente désormais de poursuivre, il me semble intéressant d'archiver ces textes, et <a href="/critique/textes">d'en mettre certains en avant</a>.</p>
                </div>
                <hr>
                <div class="entry-section">
                    <h2 class="entry-section-title">Réserves</h2>
                    <p>Compte tenu de mon scepticisme par rapport à l'activité critique, est-il utile de signaler que les opinions exprimées sur ce site ne sont pas nécessairement représentatives de celles que je défendrais aujourd'hui ? J'ai changé en tant que spectatrice, et en tant que personne. Par ailleurs, de nombreuses annotations reflètent des pensées fragmentaires, qui ne prennent sens que sur la durée, dans le développement d'une esthétique personnelle. Je m'en remets au bon sens de mon lectorat (c'est vous) pour fuir les jugements hâtifs.</p>
                    <p>Dans l'ensemble, la notion de spoiler m'est étrangère : lorsque je considère que les péripéties narratives tiennent un rôle négligeable par rapport au message porté ou au style global, je ne me prive pas d'évoquer tel ou tel élément de l'histoire. Après tout, l'analyse critique est déjà un travail qui dévoile ce que le public pourrait découvrir par lui-même. Je ne procède aux avertissements que dans les contextes qui les appellent.</p>
                </div>
                <hr>
                <div class="entry-section">
                    <h2 class="entry-section-title">Permissions</h2>
                    <p>Les textes présents sur ce site sont distribués sous <a href="https://creativecommons.org/licenses/by/4.0/">licence CC BY 4.0</a>. Ils peuvent être copiés et rediffusés, même à des fins commerciales, tant que je suis mentionnée comme auteure. En cas de citation, assurez-vous que les passages écrits à la première personne soient accordés au féminin. Toute autre modification doit être signalée.</p>
                    <p>Le code de ce site est disponible <a href="https://github.com/ria4/tln">sur GitHub</a>, et placé sous <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">licence GPLv3</a>. Les fichiers peuvent être copiés et enrichis, tant que leur origine me reste attribuée. L'intégration à un projet tiers est permise, mais reste conditionnée à une publication intégrale des sources.</p>
                </div>
                <hr>
            </div>
        </div>
    </article>
</div>

{% endblock %}
