{% extends "critique/base.html" %}

{% block title %}🗃️&nbsp;&nbsp;index{% endblock %}
{% block meta-description %}un journal de bord culturel, tenu par oriane tury{% endblock %}

{% block body-class %}entry{% endblock %}
{% block content-wrap-class %}decenter{% endblock %}

{% block content %}

<div id="preambule" class="critique-perso">
    <article class="hentry">
        <header class="entry-header">
            <h1 class="entry-title">Index</h1>
        </header>

        <div class="entry-body">
            <div class="entry-content">
                <div class="entry-section">
                    <p>Si vous arrivez ici par hasard, voici quelques éclaircissements sur cette section <em>critique</em>.</p>
                </div>
                <hr>
                <div class="entry-section">
                    <h2 class="entry-section-title">Contenus</h2>
                    <ul>
                        <li>Écritures :<ul>
                            <li><a href={% url "list_tgdb_excerpts" %} lang="en">Thinky Games</a> : des descriptions de jeux de réflexion, en anglais, depuis 2024.</li>
                            <li><a href={% url "top_textes" %}>Textes choisis</a> : un recueil d'essais critiques, témoin de la période 2014–2017.</li>
                            <li><a href={% url "list_notes" %}>Carnet de notes</a> : d'autres réflexions esthétiques, nourries entre 2012 et 2020.</li>
                        </ul></li>
                        <li>Visualisations :<ul>
                            <li><a href={% url "get_chronologie" %}>Chronologie</a> : un déroulé interactif de mes papillonnements culturels depuis 2022.</li>
                            <li><a href="/blog/2B/">Statistiques succinctes</a> : une petite étude chiffrée sur mes séances et mes textes.</li>
                        </ul></li>
                        <li>Cinémas :<ul>
                            <li><a href={% url "list_seances" %}>Séances de cinéma</a> : une liste quasi exhaustive des séances auxquelles j'ai assisté.</li>
                            <li><a href={% url "list_cinemas" %}>Cinémas parisiens</a> : un registre créatif des cinémas de Paris, de 2013 à 2015.</li>
                        </ul></li>
                        <li>Inventaires :<ul>
                            <li><a href={% url "list_oeuvres" %}>Rencontres</a> : la plupart des œuvres dont j'ai fait l'expérience depuis 2012.</li>
                            <li><a href={% url "list_envies" %}>Perspectives</a> : les prochaines œuvres culturelles que j'envisage de découvrir.</li>
                            <li><a href={% url "list_tags" %}>Listes</a> : des regroupements épars d'œuvres, d'après un éventail de thèmes.</li>
                        </ul></li>
                        <li>Louanges :<ul>
                            <li><a href={% url 'top_films' %}>Top films</a> : quelques films qui m'ont marquée, et mes bilans ciné annuels.</li>
                            <li><a href={% url 'top_jeux' %}>Top jeux vidéo</a> : quelques jeux auxquels je repense souvent, avec plaisir et effroi.</li>
                            <li><a href={% url "list_tags" %}>Tier lists</a> : des classements informels, pour célébrer, titiller et faire découvrir.</li>
                        </ul></li>
                    </ul>
                </div>
                <hr>
                <div class="entry-section">
                    <h2 class="entry-section-title">Motivations</h2>
                    <p>En 2012, j'ai commencé à écrire à propos de certains films. Bien que mon attrait pour le cinéma remonte à plus loin encore, face à l'impression de passivité qui faisait son apparition, l'analyse et l'écriture offraient une échappatoire efficace. Occasionnelle à l'origine, cette activité critique s'est changée en rendez-vous méthodique après chaque nouvelle découverte culturelle. Certaines &#339;uvres ne m'inspiraient que quelques mots, tandis que d'autres se voyaient accorder plusieurs heures de réflexion.</p>
                    <p>Pendant cette période, j'utilisais <a href="https://www.senscritique.com">SensCritique</a> pour publier mes textes. Cependant, au fil des mois, je me suis sentie de moins en moins à l'aise sur ce réseau marqué par la manie des notes, les biais grégaires, et la publicité envahissante. En dépit d'autres aspects plus positifs, j'ai décidé d'en partir fin 2017, avec l'ambition de construire une plate-forme qui puisse recueillir mon journal de bord culturel tout en restant agréable à vivre.</p>
                </div>
                <hr>
                <div class="entry-section">
                    <h2 class="entry-section-title">Changements</h2>
                    <p>Après quelques années passées à publier des textes ici, j'ai progressivement perdu l'intérêt que j'avais pour le commentaire critique. Même si je sais toujours m'enthousiasmer ou rouspéter de façon érudite sur une œuvre (le capital culturel, ça ne se jette pas comme ça), je n'ai plus la volonté de m'y consacrer sous forme écrite comme j'ai pu le faire par le passé. J'ai listé <a href={% url "top_textes" %}>quelques textes</a> dont je voulais, un peu plus que les autres, entretenir la mémoire.</p>
                    <p>J'écris à nouveau depuis 2024, quoique sous une forme assez différente, dans le cadre de <a href={% url "list_tgdb_excerpts" %}>mon activité d'éditrice</a> auprès du site <pan lang="en">Thinky Games</a>. Et à défaut de commenter à tout-va, je recense avec diligence les dates de chacune de mes découvertes. Pour le plaisir des yeux, j'ai assemblé un petit outil de visualisation qui les affiche <a href={% url "get_chronologie" %}>sous forme chronologique</a>. </p>
                </div>
                <hr>
                <div class="entry-section">
                    <h2 class="entry-section-title">Réserves</h2>
                    <p>Ayant déjà fait part de mon scepticisme par rapport à l'activité critique, est-il utile d'ajouter que les opinions exprimées sur ce site ne sont pas nécessairement représentatives de celles que je défendrais aujourd'hui ? J'ai changé en tant que spectatrice, et en tant que personne. Par ailleurs, de nombreuses annotations reflètent des pensées fragmentaires, qui ne prennent sens que sur la durée, dans le développement d'une esthétique personnelle. Je m'en remets au bon sens de mon lectorat (c'est vous) pour fuir les jugements hâtifs.</p>
                    {% comment %}
                    <p>Dans l'ensemble, la notion de spoiler m'est étrangère : lorsque je considère que les péripéties narratives tiennent un rôle négligeable par rapport au message porté ou au style global, je ne me prive pas d'évoquer tel ou tel élément de l'histoire. Et puis, l'analyse critique n'est-elle pas déjà un travail qui dévoile ce que le public pourrait découvrir par lui-même ?</p>
                    {% endcomment %}
                </div>
                <hr>
                {% comment %}
                <div class="entry-section">
                    <h2 class="entry-section-title">Permissions</h2>
                    <p>Les textes présents sur ce site sont distribués sous <a href="https://creativecommons.org/licenses/by/4.0/">licence CC BY 4.0</a>. Ils peuvent être copiés et rediffusés, même à des fins commerciales, tant que je suis mentionnée comme auteure.</p>
                    <p>Le code de ce site est disponible <a href="https://github.com/ria4/tln">sur GitHub</a>, et placé sous <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">licence GPLv3</a>. Les fichiers peuvent être copiés et enrichis, tant que leur origine me reste attribuée. L'intégration à un projet tiers est permise, mais reste conditionnée à une publication intégrale des sources.</p>
                </div>
                <hr>
                {% endcomment %}
            </div>
        </div>
    </article>
</div>

{% endblock %}
