{% extends "critique/base.html" %}
{% load static %}
{% load l10n %}

{% block title %}carnet de notes{% endblock %}
{% block meta-description-page %}commentaires au sujet d'œuvres diverses{% endblock %}

{% block body-class %}entry-list{% endblock %}

{% block content %}

<nav class="navbar filter-navbar {{ mtype }}">
    <ul>
        <li><a desc="film" href={% url "list_notes" "film" %}>films</a></li>
        <li><a desc="serie" href={% url "list_notes" "serie" %}>séries</a></li>
        <li><a desc="album" href={% url "list_notes" "album" %}>musique</a></li>
        <li><a desc="jeu" href={% url "list_notes" "jeu" %}>jeux</a></li>
    </ul>
    <ul>
        <li><a desc="livre" href={% url "list_notes" "livre" %}>livres</a></li>
        <li><a desc="all" href={% url "list_notes" "all" %}>tout</a></li>
        <li><a desc="full" href={% url "list_notes" "full" %}>toutou</a></li>
    </ul>
</nav>

<div class="entry-links">
{% for note in notes %}
{% with note.oeuvre as oeuvre %}
    <a href="{% url 'detail_oeuvre' oeuvre.slug %}" class="entry-link">
        <div class="oeuvre-display">
        {% if oeuvre.info.image_url %}
        <img src="{% static oeuvre.info.image_url %}" alt="" />
        {% endif %}
        </div>

        <article class="hentry">
            <header class="entry-header">
                <h2 class="entry-title">{{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})</h2>
            </header>

            <div class="entry-body">
                <div class="entry-content">
                    {# hack for printing linebreaks #}
                    {% if note.content|slice:"-3:" == '!!!' %}
                    {{ note.content|slice:":-3"|striptags|truncatechars:420|linebreaks }}
                    {% else %}
                    {{ note.content|striptags|truncatechars:420 }}
                    {% endif %}
                </div>
            </div>
            <footer class="entry-footer">
                <div class="entry-discussions" role="presentation"></div>
                <time>
                    {% localize on %}
                    {% if note.date_month_unknown %}
                        {{ note.date|date:"Y" }}
                    {% elif note.date_day_unknown %}
                        {{ note.date|date:"F Y" }}
                    {% else %}
                        {% if note.date|date:"j" == "1" %}
                            1er {{ note.date|date:"F Y" }}
                        {% else %}
                            {{ note.date|date:"j F Y" }}
                        {% endif %}
                    {% endif %}
                    {% endlocalize %}
                </time>
            </footer>
            {% endwith %}
        </article>
    </a>
{% endfor %}
</div>


{% if notes.paginator.num_pages > 1 %}
<nav id="pagination">
    {% if notes.has_previous %}
        <a href={% url "list_notes" mtype notes.previous_page_number %}><-</a>
    {% endif %}

    <span class="current">
        page {{ notes.number }} sur {{ notes.paginator.num_pages }}
    </span>

    {% if notes.has_next %}
    <a href={% url "list_notes" mtype notes.next_page_number %}>-></a>
    {% endif %}
</nav>
    
<script>
    var prevPageUrl = null;
    {% if notes.has_previous %}
    prevPageUrl = '{% url "list_notes" mtype notes.previous_page_number %}';
    {% endif %}
    var nextPageUrl = null;
    {% if notes.has_next %}
    nextPageUrl = '{% url "list_notes" mtype notes.next_page_number %}';
    {% endif %}
</script>
{% endif %}

{% endblock %}
