{% extends "critique/base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block title %}tln - {{ oeuvre.info.titles.vf|lower }}{% endblock %}

{% block content %}

<div id="oeuvre_info" class="info">
    {% if oeuvre.info.image_url %}
    <div class="oeuvre_display">
    <img src="{% static oeuvre.info.image_url %}" alt="{{ oeuvre.info.titles.vf }}" />
    </div>
    {# <img src="data:image/jpeg;base64,{{img_b64}}" alt="cover" /> #}
    {% endif %}

    <div class="info_text">
        <h1 class="title main_title">{{ oeuvre.info.titles.vf }}</h1>
        {% if oeuvre.info.titles.vo %}
        <p class="alt_title">{{ oeuvre.info.titles.vo }}</p>
        {% endif %}

        {% if oeuvre.info.artists|length > 0 %}
        <p class="artists">un{% if oeuvre.info.type == "serie" %}e{% endif %}
        {% if oeuvre.info.type == "serie" %}série
        {% else %}{{ oeuvre.info.type }}{% endif %}
        de
        {% for artist in oeuvre.info.artists %}
            {% if forloop.last %}
                <a href={% url "artiste" artist %}>{{ artist }}</a>
                ({{ oeuvre.info.year }})
            {% else %}
                <a href={% url "artiste" artist %}>{{ artist }}</a>,
            {% endif %}
        {% endfor %}
        </p>
        {% endif %}
        
        {% if oeuvre.info.imdb_id %}
        <p><a href="http://www.imdb.com/title/{{ oeuvre.info.imdb_id }}">[lien IMDb]</a></p>
        {% endif %}
    </div>
</div>

{% if comments|length > 0 %}
<div class="oeuvre_comments">
    {% for comment in comments %}
        <article class="comment">
            {% if comment.title %}
            <h2 class="comment_title">{{ comment.title }}</h2>
            {% endif %}
            <div>
            {% for p in comment.content %}
                <p class="comment_par">{{ p }}</p>
            {% endfor %}
            </div>
            <p class="comment_date">écrit 
                {% localize on %}
                {% if comment.date_month_unknown %}
                    en {{ comment.date|date:"Y" }}
                {% elif comment.date_day_unknown %}
                    en {{ comment.date|date:"F Y" }}
                {% else %}
                    {% if comment.date|date:"j" == "1" %}
                        le 1er {{ comment.date|date:"F Y" }}
                    {% else %}
                        le {{ comment.date|date:"j F Y" }}
                    {% endif %}
                {% endif %}
                {% endlocalize %}
            </p>
        </article>
    {% endfor %}
</div>
{% endif %}


<div class="update_form">
    <form id="oeuvre_form" action="{% url 'detail_oeuvre' oeuvre.id %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ oeuvre_form.as_p }}
        </div>
        <div class="form_buttons">
    {# when 'enter' is pressed, the form gives priority to the first submit #}
    {# hence the hidden button, so that default is send rather than delete #}
            <input type="submit" value="envoyer" class="hidden" role="none" tabindex="-1"/>
            <input type="submit" formaction="{% url 'delete_oeuvre' oeuvre.id %}" value="supprimer"/>
            <div class="filler"></div>
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>

<div class="update_form">
    <form id="comment_form" action="{% url 'update_latest_comment' oeuvre.id %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ comment_form.as_p }}
        </div>
        <div class="form_buttons">
            <input type="submit" value="envoyer" class="hidden" role="none" tabindex="-1"/>
            <input type="submit" formaction="{% url 'delete_latest_comment' oeuvre.id %}" value="supprimer"/>
            <div class="filler"></div>
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>

<div class="update_form">
    <form id="comment_form_empty" action="{% url 'add_comment' oeuvre.id %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ comment_form_empty.as_p }}
        </div>
        <div class="form_buttons">
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>

{% endblock %}
