{% extends "critique/base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block title %}{{ oeuvre.info.titles.vf|lower }}{% endblock %}
{% block og-title %}{{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }}){% endblock %}
{% block tw-title %}{{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }}){% endblock %}
{% block meta-description-page %}infos et/ou commentaires sur {{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }}){% endblock %}

{% block og-image %}{% if oeuvre.info.image_url %}https://trompe-la-nuit.ink{% static oeuvre.info.image_url %}{% endif %}{% endblock %}
{% block tw-image %}{% if oeuvre.info.image_url %}https://trompe-la-nuit.ink{% static oeuvre.info.image_url %}{% endif %}{% endblock %}

{% block og-description %}{% if oeuvre.comments %}{% for p in oeuvre.comments.0.content %}{{ p|striptags }}{% endfor %}{% endif %}{% endblock %}
{% block tw-description %}{% if oeuvre.comments %}{% for p in oeuvre.comments.0.content %}{{ p|striptags }}{% endfor %}{% endif %}{% endblock %}

{% block content-wrap-class %}decenter{% endblock %}
{% block body-class %}entry{% endblock %}

{% block content %}

<div id="oeuvre-info" class="critique-info">
    {% if oeuvre.info.image_url %}
    <div class="oeuvre-display">
    <img src="{% static oeuvre.info.image_url %}" alt="" />
    </div>
    {% endif %}

    <div class="critique-info-text">
        <h1 class="critique-title">{{ oeuvre.info.titles.vf }}</h1>
        {% if oeuvre.info.titles.vo %}
        <p class="alt-title">{{ oeuvre.info.titles.vo }}</p>
        {% endif %}

        {% if oeuvre.info.artists|length > 0 %}
        <p class="artists">un{% if oeuvre.info.type == "serie" %}e{% endif %}
        {% if oeuvre.info.type == "serie" %}série
        {% else %}{{ oeuvre.info.type }}{% endif %}
        de
        {% for artist in oeuvre.info.artists %}
            {% if forloop.last %}
                <a href={% url "artiste" artist %}>{{ artist }}</a>
                ({{ oeuvre.info.year }})
            {% else %}
                <a href={% url "artiste" artist %}>{{ artist }}</a>,
            {% endif %}
        {% endfor %}
        </p>
        {% endif %}
        
        {% if oeuvre.info.imdb_id %}
        <p><a href="http://www.imdb.com/title/{{ oeuvre.info.imdb_id }}">[lien IMDb]</a></p>
        {% endif %}
    </div>
</div>

{% if comments|length > 0 %}
<div id="comments" class="critique-perso">
{% for comment in comments %}
    <div class="hseparator" role="none"></div>
    <article class="hentry">
        {% if comment.title %}
        <header class="entry-header">
            <h2 class="entry-title">{{ comment.title|safe }}</h2>
        </header>
        {% endif %}

        <div class="entry-body">
            <div class="entry-content">
            {% for p in comment.content %}
            <p>{{ p|safe }}</p>
            {% endfor %}
            </div>
        </div>

        <footer class="entry-footer">
            <div class="entry-discussions"></div>
            <time>
                écrit
                {% localize on %}
                {% if comment.date_month_unknown %}
                    en {{ comment.date|date:"Y" }}
                {% elif comment.date_day_unknown %}
                    en {{ comment.date|date:"F Y" }}
                {% else %}
                    {% if comment.date|date:"j" == "1" %}
                        le 1er {{ comment.date|date:"F Y" }}
                    {% else %}
                        le {{ comment.date|date:"j F Y" }}
                    {% endif %}
                {% endif %}
                {% endlocalize %}
            </time>
        </footer>
    </article>
{% endfor %}
</div>
{% endif %}
{% endblock %}


{% block overlays %}
{% if perms.critique.all_rights %}
<div class="overlay">
    <form id="oeuvre_form" action="{% url 'detail_oeuvre' oeuvre.slug %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ oeuvre_form.as_p }}
        </div>
        <div class="form_buttons">
    {# when 'enter' is pressed, the form gives priority to the first submit #}
    {# hence the hidden button, so that default is send rather than delete #}
            <input type="submit" value="envoyer" class="hidden" role="none" tabindex="-1"/>
            <input type="submit" formaction="{% url 'delete_oeuvre' oeuvre.slug %}" value="supprimer"/>
            <div class="filler"></div>
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>

<div class="overlay">
    <form id="comment_form_empty" action="{% url 'add_comment' oeuvre.slug %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ comment_form_empty.as_p }}
        </div>
        <div class="form_buttons">
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>

{% if comment_form %}
<div class="overlay">
    <form id="comment_form" action="{% url 'update_latest_comment' oeuvre.slug %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ comment_form.as_p }}
        </div>
        <div class="form_buttons">
            <input type="submit" value="envoyer" class="hidden" role="none" tabindex="-1"/>
            <input type="submit" formaction="{% url 'delete_latest_comment' oeuvre.slug %}" value="supprimer"/>
            <div class="filler"></div>
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>
{% endif %}
{% endif %}
{% endblock %}
