{% extends "critique/base.html" %}
{% load staticfiles %}

{% block title %}tln - envies{% endblock %}

{% block content %}

<h1>multiples résultats</h1>

<ul>
{% for oeuvre in oeuvres %}
<li><a href={% url "detail_oeuvre" oeuvre.id %}>
        {% if oeuvre.info.image_url %}
        <img src="{% static oeuvre.info.image_url %}" alt="Image {{ oeuvre.info.titles.vf }}" />
        {% else %}
        {{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})
        {% endif %}
    </a></li>
{% endfor %}
</ul>

{% endblock %}
