{% extends "critique/base.html" %}

{# this will work with up to 9 homonyms #}
{% block title %}{{ oeuvres.0.slug|lower|slice:":-2" }}{% endblock %}
{% block meta-description-title %}résolution d'homonymie{% endblock %}

{% block content %}

<div id="collection" class="chunks oeuvres-homonymes"></div>

<script>
    var oeuvres = [];
    {% for oeuvre in oeuvres %}
        oeuvres.push(["{{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})",
                      "{% url 'detail_oeuvre' oeuvre.slug %}"]);
    {% endfor %}
</script>

{% endblock %}
