{% extends "critique/base.html" %}
{% load staticfiles %}

{% block title %}tln - préambule{% endblock %}

{% block content %}

<div id="preambule" class="oeuvre_comments">
    <h1 class="top_title">Préambule</h1>

    <div>
        <p>Bonsoir.</p>
        <p>Si vous arrivez ici par hasard, voici quelques éclaircissements sur cette section <em>critique</em>.</p>
    </div>

    <div>
        <h2 class="par_title">Motivations</h2>
        <p>archives personnelles mais publiques.</p>
        <p>journal toujours en cours mais à rythme réduit.</p>
    </div>

    <div>
        <h2 class="par_title">Réserves</h2>
        <p>mes positions sur le cinéma ont évolué au fil des années. je ne pense plus la moitié de ce que j'ai écrit. mais l'autre moitié, c'est pas rien.</p>
        <p>l'usage des guillemets, etc. n'est pas unifié.</p>
        <p>incohérences dans la base de données, construction initiale avec des crawlers SC, IMDb</p>
        <p>oh et j'utilisais le masculin avant, don't mind me.</p>
    </div>

    <div>
        <h2 class="par_title">Permissions</h2>
        <p>licence ?</p>
    </div>
</div>

{% endblock %}
