{% extends "critique/base.html" %}
{% load staticfiles %}

{% block title %}tln - préambule{% endblock %}

{% block content %}

<div id="preambule" class="oeuvre_comments">
    <h1 class="top_title">Préambule</h1>

    <div>
        <p>Bonsoir.</p>
        <p>Si vous arrivez ici par hasard, voici quelques éclaircissements sur cette section <em>critique</em>.</p>
    </div>

    <div>
        <h2 class="par_title">Motivations</h2>
        <p>En 2014, j'ai commencé à écrire à propos de certains films. Bien que mon attrait pour le cinéma remonte à plus loin encore, face à l'impression de passivité qui faisait son apparition, l'écriture et l'analyse offraient une échappatoire efficace. Occasionnelle à l'origine, cette activité critique s'est changée en rendez-vous méthodique après chaque nouvelle découverte culturelle. Certaines &#339;uvres ne m'inspiraient que quelques mots, tandis que d'autres se voyaient accorder plusieurs heures de réflexion.</p>
        <p>Pendant cette période, j'utilisais <a href="https://www.senscritique.com">SensCritique</a> pour publier mes textes. Cependant, au fil des mois, je me suis sentie de moins en moins à l'aise sur ce réseau marqué par la manie des notes, les biais grégaires, et la publicité envahissante. En dépit d'autres aspects plus positifs, j'ai décidé d'en partir fin 2017, avec l'ambition de construire une plate-forme qui puisse recueillir mon journal de bord culturel tout en restant agréable à vivre.</p>
        <p>Le tableau ne serait toutefois pas complet si je n'évoquais pas ma perte progressive d'intérêt envers les sphères cinéphiles et le commentaire critique. Bien que je considère ces expériences comme formatrices, je n'ai plus ni l'envie ni le temps de m'y consacrer comme j'ai pu le faire par le passé. Toutefois, parce que je vois une filiation entre cette activité et les projets plus personnels que je tente aujourd'hui de poursuivre, il me semble intéressant d'archiver ces textes, et d'en mettre certains en avant.</p>
    </div>

    <div>
        <h2 class="par_title">Réserves</h2>
        <p>mes positions sur le cinéma ont évolué au fil des années. je ne pense plus la moitié de ce que j'ai écrit. mais l'autre moitié, c'est pas rien.</p>
        <p>incohérences dans la base de données, construction initiale avec des crawlers SC, IMDb. mise en forme inégale (markdown...)</p>
        <p>oh et j'utilisais le masculin avant, don't mind me.</p>
    </div>

    <div>
        <h2 class="par_title">Permissions</h2>
        <p>licence ? citation et codes</p>
    </div>
</div>

{% endblock %}
