{% extends "critique/base.html" %}
{% load staticfiles %}

{% block title %}tln - préambule{% endblock %}

{% block content %}

<h1>préambule</h1>

<h2>motivations</h2>
<p>archives personnelles mais publiques.</p>
<p>journal toujours en cours mais à rythme réduit.</p>

<h2>réserves</h2>
<p>mes positions sur le cinéma ont évolué au fil des années. je ne pense plus la moitié de ce que j'ai écrit. mais l'autre moitié, c'est pas rien.</p>
<p>l'usage des guillemets, etc. n'est pas unifié.</p>
<p>incohérences dans la base de données, construction initiale avec des crawlers SC, IMDb</p>
<p>oh et j'utilisais le masculin avant, don't mind me.</p>

<h2>permissions</h2>
<p>licence ?</p>

{% endblock %}
