{% extends "critique/base.html" %}
{% load cache %}
{% load l10n %}
{% load tln_extras %}
{% load critique_extras %}

{% block title %}🎟️&nbsp;&nbsp;séances{% endblock %}
{% block title-after %} {% if year == 2011 %}avant 2012{% else %}{{ year }}{% endif %}{% endblock %}
{% block meta-description-page %}liste de séances cinéma{% endblock %}

{% block content %}
<nav class="navbar filter-navbar {{ year }} digits-filter-navbar">
    {% for links_attrs_group in links_attrs %}
    <ul>
        {% for link_attrs in links_attrs_group %}
        <li><a desc={{ link_attrs.0 }} href={% url "list_seances" link_attrs.0 %}>{{ link_attrs.1 }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</nav>


{% if year < current_year %}

{% cache None chunks_seance year %}
<div id="seances" class="chunks">
    <ul>
    {% for seance in seances %}
    <li class={{ seance|ellipsiscolor }}><span>{% if year < 2012 %}{% fancydate seance.oeuvre_span en=True annee=True date_attrname='date_start' %}{% else %}{% fancydate seance.oeuvre_span en=True date_attrname='date_start' %}{% endif %} : {{ seance|seancecinemashort }} - </span>{{ seance|seancefilmlink }}</li>
    {% if forloop.counter|divisibleby:25 and not forloop.last %}
    </ul>
    <ul>
    {% endif %}
    {% endfor %}
    </ul>
</div>
{% endcache %}

{% else %}

<div id="seances" class="chunks">
    <ul>
    {% if seances %}
    {% for seance in seances %}
    <li class={{ seance|ellipsiscolor }}><span>{% fancydate seance.oeuvre_span en=True date_attrname='date_start' %} : {{ seance|seancecinemashort }} - </span>{{ seance|seancefilmlink }}</li>
    {% if forloop.counter|divisibleby:25 and not forloop.last %}
    </ul>
    <ul>
    {% endif %}
    {% endfor %}
    {% else %}
    <li class="empty-chunk">(je n'ai pas encore vu de film au cinéma en {{ current_year }}!)</li>
    {% endif %}
    </ul>
</div>

{% endif %}

{% endblock %}
