{% extends "critique/base.html" %}
{% load cache %}
{% load l10n %}

{% block title %}séances{% endblock %}
{% block title-after %} {% if year == 2011 %}avant 2012{% else %}{{ year }}{% endif %}{% endblock %}
{% block meta-description-page %}liste de séances cinéma{% endblock %}

{% block content %}
<nav class="navbar filter-navbar {{ year }} digits-filter-navbar">
    <ul>
        <li><a desc="2011" href={% url "list_seances" 2011 %}>avant 2012</a></li>
        <li><a desc="2012" href={% url "list_seances" 2012 %}>2012</a></li>
        <li><a desc="2013" href={% url "list_seances" 2013 %}>2013</a></li>
    </ul>
    <ul>
        <li><a desc="2014" href={% url "list_seances" 2014 %}>2014</a></li>
        <li><a desc="2015" href={% url "list_seances" 2015 %}>2015</a></li>
        <li><a desc="2016" href={% url "list_seances" 2016 %}>2016</a></li>
    </ul>
    <ul>
        <li><a desc="2017" href={% url "list_seances" 2017 %}>2017</a></li>
        <li><a desc="2018" href={% url "list_seances" 2018 %}>2018</a></li>
        <li><a desc="2019" href={% url "list_seances" 2019 %}>2019</a></li>
    </ul>
    <ul>
        <li><a desc="2020" href={% url "list_seances" 2020 %}>2020</a></li>
    </ul>
</nav>


{% if year < 2021 %}

{% cache None chunks_seance year %}
<div id="seances" class="chunks">
    <ul>
    {% for seance, film in seances_enhanced %}
        <li><span>{% if seance.date_month_unknown %}en {{ seance.date|date:"Y" }} : {% else %}{% if year < 2012 %}{% if seance.date|date:"j" == "1" %}   1er {{ seance.date|date:"F Y" }} : {% else %}{{ seance.date|date:"j F Y" }} : {% endif %}{% else %}{% if seance.date|date:"j" == "1" %}1er {{ seance.date|date:"F" }} : {% else %}{{ seance.date|date:"j F" }} : {% endif %}{% endif %}{% endif %}{{ seance.cinema }} - {% if film %}<a href="{% url 'detail_oeuvre' film.slug %}">{{ film.info.titles.vf }}</a>{% else %}{% if seance.seance_title %}{{ seance.seance_title }}{% endif %}{% endif %}</span></li>
    {% if forloop.counter|divisibleby:25 %}
    </ul>
    <ul>
    {% endif %}
    {% endfor %}
    </ul>
</div>
{% endcache %}

{% else %}

<div id="seances" class="chunks">
    <ul>
    {% for seance, film in seances_enhanced %}
        <li><span>{% if seance.date_month_unknown %}en {{ seance.date|date:"Y" }} : {% else %}{% if year < 2012 %}{% if seance.date|date:"j" == "1" %}   1er {{ seance.date|date:"F Y" }} : {% else %}{{ seance.date|date:"j F Y" }} : {% endif %}{% else %}{% if seance.date|date:"j" == "1" %}1er {{ seance.date|date:"F" }} : {% else %}{{ seance.date|date:"j F" }} : {% endif %}{% endif %}{% endif %}{{ seance.cinema }} - {% if film %}<a href="{% url 'detail_oeuvre' film.slug %}">{{ film.info.titles.vf }}</a>{% else %}{% if seance.seance_title %}{{ seance.seance_title }}{% endif %}{% endif %}</span></li>
    {% if forloop.counter|divisibleby:25 %}
    </ul>
    <ul>
    {% endif %}
    {% endfor %}
    </ul>
</div>

{% endif %}

{% endblock %}
