{% extends "critique/base.html" %}
{% load static %}
{% load l10n %}

{% block title %}recherche{% if match %} '{{ match }}'{% endif %}{% endblock %}
{% block meta-description-page %}recherche œuvre ou artiste{% if match %} '{{ match }}'{% endif %}{% endblock %}

{% block body-class %}entry-list{% endblock %}

{% block content %}
<div class="entry-links no-filter-nav-bar">
{% for oeuvre in oeuvres %}
    <a href="{% url 'detail_oeuvre' oeuvre.slug %}" class="entry-link">
        <div class="oeuvre-display">
        {% if oeuvre.info.image_url %}
        <img src="{% static oeuvre.info.image_url %}" alt="" />
        {% endif %}
        </div>

        <article class="hentry">
            <header class="entry-header">
                <h2 class="entry-title">{{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})</h2>
            </header>

            {% if oeuvre.comments.count > 0 %}
            {% for comment in oeuvre.comments.all %}
            {% if forloop.last %}
            <div class="entry-body">
                <div class="entry-content">
                    {# hack for printing linebreaks #}
                    {% if comment.content|slice:"-3:" == '!!!' %}
                    {{ comment.content|slice:":-3"|striptags|truncatechars:420|linebreaks }}
                    {% else %}
                    {{ comment.content|striptags|truncatechars:420 }}
                    {% endif %}
                </div>
            </div>
            <footer class="entry-footer">
                <!--[if !IE]><!--><div class="entry-discussions" role="presentation"></div><!--<![endif]-->
                <time>{{ comment|critiquedate:'no_en,no_le' }}</time>
            </footer>
            {% endif %}
            {% endfor %}
            {% endif %}
        </article>
    </a>
{% empty %}
<p>Aucun résultat...</p><br/>
<p>L'outil de recherche est un peu bête, il ne faut pas lui en vouloir.</p>
{% endfor %}
</div>
{% endblock %}
