{% extends "critique/base.html" %}
{% load static %}
{% load tln_extras %}
{% load critique_extras %}

{% block title %}📊&nbsp;&nbsp;{{ tierlist.name }}{% endblock %}
{% block meta-description-page %}liste d'œuvres dans la tier list {{ tierlist.name }}{% endblock %}

{% block content %}

<div id="tierlist-info">
    <h1 class="critique-title">{{ tierlist.name }}</h1>
</div>

<div class="hseparator" role="presentation"></div>

<div class="tierlist-wrapper">
    <ul id="tierlist" class="tierlist">
    {% for tier in tierlist.tiers.all %}
        <li class="tier">
            <div class="tier-name"><span>{{ tier.name }}</span></div>
            <ul class="tier-oeuvres">
            {% for oeuvre in tier.oeuvres.all|shuffle %}
                <li class="tier-oeuvre">
                    <a href={% url "detail_oeuvre" oeuvre.slug %} title="{{ oeuvre.title_vf }}">
                        <img src="{{ oeuvre.image.url }}" alt="{{ oeuvre.title_vf }}" />
                    </a>
                </li>
            {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
    <footer class="entry-footer tierlist-footer">
        <time>dernière modification {% fancydate tierlist date_attrname="updated_at" en=True le=True annee=True %}</time>
        <span>consulter <a href={% url "list_tags" %}>d'autres listes</a></span>
    </footer>
</div>

{% endblock %}

{% block overlays %}
{% if perms.critique.all_rights %}

<div class="overlay">
    <form id="tierlist_form" action="{% url 'detail_tierlist' tierlist.slug %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ tierlist_form.as_p }}
        </div>
        <div class="form_buttons">
    {# when 'enter' is pressed, the form gives priority to the first submit #}
    {# hence the hidden button, so that default is send rather than delete #}
            <input type="submit" value="envoyer" class="hidden" role="none" tabindex="-1"/>
            <input type="submit" formaction="{% url 'delete_tierlist' tierlist.slug %}" value="supprimer"/>
            <div class="filler"></div>
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>

{% for tier_position, tier_form in tier_forms %}
<div class="overlay">
    <form id="tier_form_{{tier_position}}" class="tier_form" action="{% url 'detail_tier' tierlist.slug tier_position %}" method="post">
        <div class="form_inputs">
            {% csrf_token %}
            {{ tier_form.as_p }}
        </div>
        <div class="form_buttons">
    {# when 'enter' is pressed, the form gives priority to the first submit #}
    {# hence the hidden button, so that default is send rather than delete #}
            <input type="submit" value="envoyer" class="hidden" role="none" tabindex="-1"/>
            <input type="submit" formaction="{% url 'delete_tier' tierlist.slug tier_position %}" value="supprimer"/>
            <div class="filler"></div>
            <input type="submit" value="envoyer"/>
            <div class="filler"></div>
            <input type="reset" value="annuler"/>
        </div>
    </form>
</div>
{% endfor %}

{% endif %}
{% endblock %}
