{% extends "critique/base.html" %}
{% load static %}
{% load l10n %}

{% block title %}essais critiques{% endblock %}
{% block meta-description-page %}essais critiques principaux{% endblock %}

{% block body-class %}entry-list{% endblock %}

{% block content %}
<div class="entry-links no-filter-nav-bar">
{% for texte in top_textes %}
{% with texte.oeuvre as oeuvre %}
    <a href="{% url 'detail_oeuvre' oeuvre.slug %}" class="entry-link">
        <div class="oeuvre-display">
        {% if oeuvre.info.image_url %}
        <img src="{% static oeuvre.info.image_url %}" alt="" />
        {% endif %}
        </div>

        <article class="hentry">
            <header class="entry-header">
                <h2 class="entry-title">{{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})</h2>
            </header>

            <div class="entry-body">
                <div class="entry-content">
                    {# hack for printing linebreaks #}
                    {% if texte.content|slice:"-3:" == '!!!' %}
                    {{ texte.content|slice:":-3"|striptags|truncatechars:420|linebreaks }}
                    {% else %}
                    {{ texte.content|striptags|truncatechars:420 }}
                    {% endif %}
                </div>
            </div>
            <footer class="entry-footer">
                <!--[if !IE]><!--><div class="entry-discussions" role="presentation"></div><!--<![endif]-->
                <time>
                    {% localize on %}
                    {% if texte.date_month_unknown %}
                        {{ texte.date|date:"Y" }}
                    {% elif texte.date_day_unknown %}
                        {{ texte.date|date:"F Y" }}
                    {% else %}
                        {% if texte.date|date:"j" == "1" %}
                            1er {{ texte.date|date:"F Y" }}
                        {% else %}
                            {{ texte.date|date:"j F Y" }}
                        {% endif %}
                    {% endif %}
                    {% endlocalize %}
                </time>
            </footer>
            {% endwith %}
        </article>
    </a>
{% endfor %}
</div>
{% endblock %}
