{% extends "critique/base.html" %}
{% load staticfiles %}

{% block title %}tln - top ciné{% endblock %}

{% block content %}

<ul class="navbar subbar">
    {% for y in year_range %}
    <li><a href={% url "top_films" y %}
        {% if y == year %}class="selected"{% endif %}>
        {{ y }}</a></li>
    {% endfor %}
</ul>

<ul class="oeuvres_display">
{% for oeuvre in oeuvres %}
    <li><div class="oeuvre_display">
        <a href={% url "detail_oeuvre" oeuvre.id %}>
        {% if oeuvre.info.image_url %}
        
            <img src="{% static oeuvre.info.image_url %}" alt="Image {{ oeuvre.info.titles.vf }}" />
        {% else %}
            {{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})
        {% endif %}</a>
    </div></li>
{% endfor %}
</ul>

{% endblock %}
