{% extends "critique/base.html" %}
{% load static %}

{% block title %}🏆&nbsp;&nbsp;top ciné{% endblock %}
{% block title-after %} {% if year %}{{ year }}{% endif %}{% endblock %}
{% block meta-description-page %}tops ciné{% endblock %}

{% block content %}

<nav class="navbar filter-navbar {% if year %}{{ year }}{% else %}2011{% endif %} digits-filter-navbar">
    {% for links_attrs_group in links_attrs %}
    <ul>
        {% for link_attrs in links_attrs_group %}
        <li><a desc={{ link_attrs.0 }} href={% url "top_films" link_attrs.0 %}>{{ link_attrs.1 }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}
</nav>

<ul id="top_films" class="oeuvres-display{% if not year %} all_time{% endif %}">
{% for oeuvre in oeuvres %}
    <li class="oeuvre-display">
        <a href={% url "detail_oeuvre" oeuvre.slug %}>
        {% if oeuvre.image %}
            <img src="{{ oeuvre.image.url }}" alt="{{ oeuvre.title_vf }}" />
        {% else %}
            {{ oeuvre.title_vf }} ({{ oeuvre.year }})
        {% endif %}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}
