{% extends "critique/base.html" %}
{% load static %}

{% block title %}top jeux vidéo{% endblock %}
{% block meta-description-page %}top jeux vidéo{% endblock %}

{% block content %}

<nav class="navbar filter-navbar {{ year }} digits-filter-navbar">
    <ul>
        <li><a desc="2021" class="selected" href={% url "top_jeux" %}>197x-2023</a></li>
    </ul>
</nav>

<ul id="top_jeux" class="oeuvres-display">
{% for oeuvre in oeuvres %}
    <li class="oeuvre-display">
        <a href={% url "detail_oeuvre" oeuvre.slug %}>
        {% if oeuvre.image %}
            <img src="{{ oeuvre.image.url }}" alt="{{ oeuvre.title_vf }}" />
        {% else %}
            {{ oeuvre.title_vf }} ({{ oeuvre.year }})
        {% endif %}</a>
    </li>
{% endfor %}
</ul>

{% endblock %}
