{% extends "critique/base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block title %}essais critiques{% endblock %}
{% block meta-description-page %}essais critiques principaux{% endblock %}

{% block body-class %}entry-list{% endblock %}

{% block content %}
<div class="entry-links no-filter-nav-bar">
{% for oeuvre, texte in top_oeuvres %}
    <a href="{% url 'detail_oeuvre' oeuvre.slug %}" class="entry-link">
        <div class="oeuvre-display">
        {% if oeuvre.info.image_url %}
        <img src="{% static oeuvre.info.image_url %}" alt="{{ oeuvre.info.titles.vf }}" />
        {% endif %}
        </div>

        <article class="hentry">
            <header class="entry-header">
                <h2 class="entry-title">{{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})</h2>
            </header>

            {% with texte as comment %}
            <div class="entry-body">
                <div class="entry-content">
                    {% for p in comment.content %}
                    {{ p|striptags }}
                    {% endfor %}
                </div>
            </div>
            <footer class="entry-footer">
                <div class="entry-discussions" role="none"></div>
                <time>
                    {% localize on %}
                    {% if comment.date_month_unknown %}
                        {{ comment.date|date:"Y" }}
                    {% elif comment.date_day_unknown %}
                        {{ comment.date|date:"F Y" }}
                    {% else %}
                        {% if comment.date|date:"j" == "1" %}
                            1er {{ comment.date|date:"F Y" }}
                        {% else %}
                            {{ comment.date|date:"j F Y" }}
                        {% endif %}
                    {% endif %}
                    {% endlocalize %}
                </time>
            </footer>
            {% endwith %}
        </article>
    </a>
{% endfor %}
</div>
{% endblock %}
