{% extends "critique/base.html" %}
{% load staticfiles %}
{% load l10n %}

{% block title %}tln - textes{% endblock %}

{% block content %}

<h1>Textes principaux</h1>

<div>
{% for oeuvre, texte in top_oeuvres %}
    <div>
        {# <a href={% url "detail_oeuvre" oeuvre.id %}> #}
        {% if oeuvre.info.image_url %}
        <img src="{% static oeuvre.info.image_url %}" alt="Image {{ oeuvre.info.titles.vf }}" />
        {% else %}
        {{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})
        {% endif %}
        {# </a> #}
    <div>
    <h2>{{ oeuvre.info.titles.vf }} ({{ oeuvre.info.year }})</h2>
    {% with texte as comment %}
        <article>
            <div>
                <h3>{{ comment.title }}</h3>
                {% with comment.content.0 as p %}
                <p>{{ p }}</p>
                {% endwith %}
            </div>
            <div>
                {% if comment.content|length > 1 %}
                <p>[...]</p>
                {% endif %}
            </div>
            <p>écrit 
                {% localize on %}
                {% if comment.date_month_unknown %}
                    en {{ comment.date|date:"Y" }}
                {% elif comment.date_day_unknown %}
                    en {{ comment.date|date:"F Y" }}
                {% else %}
                    {% if comment.date|date:"j" == "1" %}
                        le 1er {{ comment.date|date:"F Y" }}
                    {% else %}
                        le {{ comment.date|date:"j F Y" }}
                    {% endif %}
                {% endif %}
                {% endlocalize %}
            </p>
        </article>
    {% endwith %}
    </div>
    </div>
{% endfor %}
</div>

{% endblock %}
