/* Main
   ========================================================================== */
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 101;
    pointer-events: none;
}

#critique-header {
    background-position: right top;
    min-width: 480px;
    pointer-events: auto;
}
#critique-header[layout="h"] {
    background-image: url("/static/img_base/critique_background_header.jpg");
    box-shadow: 0 3px 13px 0px rgba(1, 1, 1, 0.23);
}
#critique-header[layout="v"] #main-nav {
    background-image: url("/static/img_base/critique_background_header_min.jpg");
    box-shadow: 0 3px 13px 0px rgba(1, 1, 1, 0.23);
}

body {
    background-image: url("/static/img_base/critique_background_content.jpg");
    background-size: 100% auto;
    font-size: 20px;
}

#content {
    position: absolute;
    width: 100%;
    min-height: 100%;
    padding-top: 100px;
    padding-right: 24px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Alegreya, Palatino, serif;
}

#content a { color: #bd4700; }
#content a:hover { color: #f7a300; }

#content .top_title {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 44px 8px 12px 0;
}

#content .par_title {
    font-weight: bold;
    font-size: 30px;
}

#content .oeuvre_display {
    width: auto;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content .oeuvre_display img {
    padding: 0;
    border: 1px solid #eee;
    max-width: 100%;
    max-height: 100%;
}

#content .oeuvre_display a img {
    transition: all 0.3s ease;
}

#content .oeuvre_display a img:hover {
    box-shadow: 0 0 12px 0 rgba(0, 13, 181, 0.7);
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 0, 255, 0.4);
}


#content .oeuvres_display {
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: -3px;
}

#content .oeuvres_display .oeuvre_display {
    margin: 7px 6px;
    height: auto;
    max-width: 300px;
    max-height: 300px;
}

#content .oeuvres_display .oeuvre_display a {
    display: flex;
}

#content .oeuvres_display .oeuvre_display a img {
    align-self: center;
}


/* Here is a dirty fix for borders/shadows of substitute displays...
 * Otherwise shadows would not appear when hovering over the inner p.
 * Also, removing class names might mess with css priorities... */
#content .oeuvres_display .oeuvre_display .substitute_display {
    transition: all 0.3s ease;
    position: relative;
    display: inline-flex;
    padding: 0;
    border: 1px solid #eee;
    max-width: 100%;
    max-height: 100%;
}

#content .oeuvres_display .oeuvre_display .substitute_display:hover {
    box-shadow: 0 0 12px 0 rgba(0, 13, 181, 0.7);
    transition: all 0.3s ease;
    border: 1px solid rgba(0, 0, 255, 0.4);
}

#content .oeuvres_display .oeuvre_display .substitute_display img {
    border: none;
}

#content .oeuvres_display .oeuvre_display .substitute_display img:hover {
    box-shadow: none;
    border: none;
}

#content .oeuvres_display .oeuvre_display .substitute_display p {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -70%);
}


/* Top Navigation Bar
   ========================================================================== */
#top-nav {
    /* TODO do not load this one on smartphones */
    background-image: url("/static/img_base/critique_background_content.jpg");
    background-size: 100% auto;
    visibility: hidden;
    height: 0;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
    pointer-events: auto;
}
#top-nav.expanded {
    visibility: visible;
    padding: 7px 0 5px 0;
}
#top-nav.expanded[layout="h"] { height: 70px; }
#top-nav.expanded[layout="v"] { height: 140px; }
#top-nav > * {
    transform: translateY(-35px);
    transition: all 0.4s ease;
}
#top-nav.expanded > * {
    transform: translateY(0);
}
#top-nav1 {
    z-index: 200;
}


/* Navigation Bars
   ========================================================================== */
.navbar {
    width: 100%;
}

.navbar li {
    float: left;
    display: block;
    text-align: center;
    text-decoration: none;
    font-family: Abuget, Palatino, serif;
}

.navbar a {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.navbar a:hover {
    color: #a40000;
}


#main-nav {
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 700px;
}

#main-nav #top-nav-trigger {
    margin-left: 50px;
    font-family: SoljikDambaek, "Times New Roman", Times, serif;
    font-size: 56px;
}

#main-nav ul {
    font-size: 46px;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}
#main-nav > nav > ul {
    margin-right: 80px;
}

#main-nav li {
    margin: 0 34px;
}

#critique-header[layout="h"] #main-nav #main-nav-links-h { display: flex; }
#critique-header[layout="h"] #main-nav #main-nav-links-v { display: none; }
#critique-header[layout="v"] #main-nav #main-nav-links-h { display: none; }
#critique-header[layout="v"] #main-nav #main-nav-links-v { display: flex; }


#sub-nav {
    position: relative;
    visibility: hidden;
    overflow: hidden;
    transition: all 0.4s ease;
    font-size: 40px;
}
#critique-header[layout="h"] #sub-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#critique-header[layout="v"] #sub-nav {
    float: right;
    width: auto;
}
#sub-nav.expanded { visibility: visible; }

#critique-header[layout="h"] #sub-nav #sub-nav-links-h { display: flex; }
#critique-header[layout="h"] #sub-nav #sub-nav-links-v { display: none; }
#critique-header[layout="v"] #sub-nav #sub-nav-links-h { display: none; }
#critique-header[layout="v"] #sub-nav #sub-nav-links-v { display: flex; }

#sub-nav-links-h, #sub-nav-links-v {
    height: 0;
    transition: height 0.4s ease, margin 0s ease 0.4s;
    display: flex;
}
#sub-nav.expanded #sub-nav-links-h { transition: height 0.4s ease; }
#sub-nav.expanded #sub-nav-links-h[layout="h"] { height: 44px; }
#sub-nav.expanded #sub-nav-links-h[layout="v"] { height: 96px; margin-top: -8px; }
#sub-nav.expanded #sub-nav-links-v { height: 372px; }
#sub-nav-links-h {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#sub-nav-links-v {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border: 1px solid #c1bd79;
    background-color: #fbf2bd;
}
#sub-nav-links-v li {
    width: 100%;
    border-bottom: 1px solid #deda99;
}
#sub-nav-links-v li:last-child {
    border-bottom: none;
}
#sub-nav-links-h li { padding: 0 42px; }
#sub-nav-links-v li a { padding: 0 42px; display: block; }


.subbar {
    font-size: 44px;
    margin-top: -20px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subbar li {
    padding: 0 36px;
}

.subbar a {
    color: black !important;
    white-space: nowrap;
}

.subbar a:hover {
    color: #f7a300 !important;
}

.subbar .selected {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: inline-block;
    line-height: 0.55;
}

#media-bar .selected {
    line-height: 0.88;
}

#content .title {
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

#content .sub_title {
    padding-right: 22px;
    font-size: 26px;
    padding-top: 1px;
    margin-top: 7px;
}

.oeuvre_comments.centered {
    margin-top: auto !important;
    margin-bottom: auto;
    padding-right: 3%;
    padding-bottom: 4%;
    height: 100%;
    align-items: center;
}


/* Content Preambule
   ========================================================================== */
#preambule.oeuvre_comments {
    margin-top: -10px;
}

#preambule div:first-of-type {
    margin-top: -14px;
}

#preambule > div {
    border-bottom: 1px solid #a57100;
    margin: 0 -50px;
    padding: 20px 50px;
}

#preambule > div p:last-child {
    margin-bottom: 2px;
}


/* Content Oeuvres
   ========================================================================== */
#content .info {
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content .info .oeuvre_display {
    margin: 10px;
    margin-right: 20px;
}

#content .info .info_text {
    padding-bottom: 1.5%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content .info_text .main_title {
    text-align: left;
    margin-left: -1px;
    padding-bottom: 2px;
    display: block;
    line-height: 1;
    padding-top: 5px;
    padding-right: 1px;
}

#content .info .alt_title {
    margin-top: -12px;
    padding-bottom: 8px;
}
#content .info .artists {
    margin-top: 2px;
    line-height: 1;
}

#content #oeuvre_info {
    min-height: 286px;
}

#content .oeuvre_comments {
    margin-top: 24px;
    width: 750px;
}

#content .comment {
    border-top: 1px solid black;
    padding-top: 4px;
}

/* TODO clean this (see juste prix text) */
#content .comment ul {
    margin: initial;
    padding: initial;
    list-style: initial;
    vertical-align: initial;
}

#content .comment li {
    margin: initial;
    padding: initial;
}

#content .comment_title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 44px 8px 12px 0;
}

#content .oeuvre_comments p {
    margin: 18px 0;
}

#content .comment_date {
    margin-top: -4px;
    font-style: italic;
    text-align: right;
    padding-right: 20px;
}    


/* Content Artiste
   ========================================================================== */
#content .oeuvre_comments.collection_artist {
    width: 1200px;
}


/* Content Notes
   ========================================================================== */

#content #notes_summaries {
    padding: 0 20px;
}

#content #notes_summaries a {
    color: black;
}

#content #notes_summaries a:hover {
    color: black;
}

#content #notes_summaries .oeuvre_display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content .note_summary {
    margin: 12px 0;
    padding: 10px;
    border: 1px solid #d3d4db;
    box-shadow: 0 0 8px 0 rgba(0, 13, 181, 0.2);
    width: 900px;
    max-height: 210px;
    display: flex;
    transition: all 0.4s ease;
    background-color: #fffddb;
}

#content .note_summary:hover {
    box-shadow: 0 0 12px 0 rgba(0, 13, 181, 0.7);
    transition: all 0.4s ease;
}

#content .note_summary .oeuvre_display {
    width: 140px;
    height: auto;
    max-width: none;
}

#content .note_summary_text {
    margin-left: 10px;
    padding-right: 4px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

#content .note_content_summary {
    flex: 1;
    display: flex;
    flex-direction: column;
}

#content #notes_summaries .comment_text {
    flex: 1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}

#content #notes_summaries .comment_date {
    margin-top: 4px;
}


/* Content Collection
   ========================================================================== */

.chunks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.chunks ul {
    padding: 10px 0;
    margin: 0 -16px -1px -16px;
    border-top: 1px solid #a57100;
    border-bottom: 1px solid #a57100;
}

.chunks li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 30px;
}

#collection.chunks li, #cinemas.chunks li { color: #bd4700; }
#collection.chunks li:hover, #cinemas.chunks li:hover { color: #f7a300; }

#collection.chunks ul {
    width: 380px;
}

#collection.collection_artist.chunks ul {
    width: 520px;
}

#seances.chunks ul {
    width: 600px;
}

#cinemas.chunks ul {
    width: 440px;
}


/* Content Cinemas
   ========================================================================== */
#content #cinemas_intro.oeuvre_comments {
    margin-top: -10px;
    margin-bottom: 20px;
}

#content #cinemas_intro ul {
    list-style: square;
    padding-left: 40px;
}

#content #cinemas_intro li {
    list-style: square;
}

#content .oeuvre_comments #cinemas_total {
    margin-top: 28px;
}

#content #cinema_info,
#content #artist_info {
    margin-top: 38px;
}


/* Content Top Films
   ========================================================================== */
#content #top_films {
    max-width: 1320px;
}

#content #top_films.all_time {
    max-width: 1400px;
}


/* Forms Oeuvre
   ========================================================================== */

#oeuvre_form p,
#oeuvre_form_empty p { width: 350px; }
#oeuvre_form p label,
#oeuvre_form_empty p label { width: 130px; }
#oeuvre_form p label[for="id_envie"],
#oeuvre_form p label[for="id_type"],
#oeuvre_form_empty p label[for="id_empty_envie"],
#oeuvre_form_empty p label[for="id_empty_type"] { width: 92.7px; }
#oeuvre_form .form_buttons .filler { width: 32px; }
#oeuvre_form_empty .form_buttons .filler { width: 44px; }


/* Forms Comment
   ========================================================================== */

/* The textarea should mirror exactly the width of the text underneath. */
#comment_form .form_inputs,
#comment_form_empty .form_inputs { margin-top: 3px; }
#comment_form p,
#comment_form_empty p { width: 869px; }
#comment_form p label,
#comment_form_empty p label { width: 103px; }
#comment_form p label[for="id_date"],
#comment_form_empty p label[for="id_empty_date"],
#comment_form p label[for="id_no_month"],
#comment_form p label[for="id_no_day"],
#comment_form_empty p label[for="id_empty_no_month"],
#comment_form_empty p label[for="id_empty_no_day"] { width: 91px; }
#comment_form .form_buttons,
#comment_form_empty .form_buttons { margin-top: -2px; }
#comment_form .form_buttons .filler,
#comment_form_empty .form_buttons .filler { width: 72px; }


/* Form Cinema
   ========================================================================== */

/* The textarea should mirror exactly the width of the text underneath. */
#cinema_form .form_inputs { margin-top: 3px; }
#cinema_form p { width: 863px; }
#cinema_form p label { width: 96px; }
#cinema_form p label[for="id_visited"] { width: 85px; }
#cinema_form .form_buttons .filler { width: 72px; }


/* Form Seance
   ========================================================================== */

#seance_form_empty .form_inputs { margin-top: 3px; }
#seance_form_empty .form_inputs p { width: 330px; }
#seance_form_empty .form_inputs p label { width: 151px; }
#seance_form_empty .form_inputs p label[for="id_empty_seance_date"],
#seance_form_empty .form_inputs p label[for="id_empty_seance_no_month"] { width: 102px; }
#seance_form_empty .form_buttons { margin-top: -2px; }
#seance_form_empty .form_buttons .filler { width: 44px; }
