/* Main
   ========================================================================== */
body > header {
    position: fixed;
    top: 0;
    z-index: 101;
    pointer-events: none; }

#critique-header {
    background-position: right top;
    pointer-events: auto; }
#critique-header[layout="h"] {
    background-image: url("/static/img_base/critique_background_header.jpg");
    box-shadow: 0 3px 13px 0px rgba(1, 1, 1, 0.23); }
#critique-header[layout="v"] #main-nav {
    background-image: url("/static/img_base/critique_background_header_min.jpg");
    box-shadow: 0 3px 13px 0px rgba(1, 1, 1, 0.23); }

#content-wrap { margin-top: 64px; }
#content-wrap[layout="h"] { margin-right: 1.2%; }
#content { margin-top: 36px; }
.filter-navbar { margin-top: -20px; }


/* ==========================================================================
/* Navigation Bars
/* ========================================================================== */

/* Top Navigation Bar
   ========================================================================== */

#top-nav {
    visibility: hidden;
    /* TODO do not load this one on smartphones */
    background-image: url("/static/img_base/critique_background_content.jpg");
    background-size: 100% auto;
    height: 0;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
    pointer-events: auto; }
#top-nav.expanded {
    visibility: visible;
    padding: 7px 0 5px 0; }
#top-nav.expanded[layout="h"] { height: 70px; }
#top-nav.expanded[layout="v"] { height: 140px; }
#top-nav > * {
    transform: translateY(-35px);
    transition: all 0.4s ease; }
#top-nav.expanded > * {
    transform: translateY(0); }
#top-nav1 { z-index: 200; }


/* Main Navigation Bar
   ========================================================================== */

#main-nav {
    justify-content: space-between; }

#main-nav #top-nav-trigger {
    margin-left: 50px;
    font-family: SoljikDambaek, "Times New Roman", Times, serif;
    font-size: 56px; }

#main-nav ul {
    font-size: 46px;
    display: flex;
    justify-content: flex-end; }

#critique-header[layout="h"] #main-nav > nav > ul { margin-right: 80px; }
#critique-header[layout="h"] #main-nav li { margin: 0 34px; }
#critique-header[layout="v"] #main-nav > nav { flex: 1; }
#critique-header[layout="v"] #main-nav > nav > ul { margin-right: 10%; }
#critique-header[layout="v"] #main-nav li { margin: 0 34px; }

#critique-header[layout="h"] #main-nav #main-nav-links-h { display: flex; }
#critique-header[layout="h"] #main-nav #main-nav-links-v { display: none; }
#critique-header[layout="v"] #main-nav #main-nav-links-h { display: none; }
#critique-header[layout="v"] #main-nav #main-nav-links-v { display: flex; }


/* Sub Navigation Bar
   ========================================================================== */

#sub-nav {
    visibility: hidden;
    position: relative;
    overflow: hidden;
    font-size: 40px;
    transition: all 0.4s ease; }
#critique-header[layout="h"] #sub-nav {
    flex-direction: column; }
#critique-header[layout="v"] #sub-nav {
    float: right;
    width: auto;
    box-shadow: 0 3px 13px 0px rgba(1, 1, 1, 0.23); }
#sub-nav.expanded { visibility: visible; }

#critique-header #sub-nav > ul { display: none; }
#critique-header[layout="h"] #sub-nav > #sub-nav-links-h { display: flex; }
#critique-header[layout="v"] #sub-nav > #sub-nav-links-v { display: flex; }

#sub-nav-links-h {
    height: 0;
    display: flex;
    transition: height 0.4s ease, margin 0s ease 0.4s; }
#sub-nav-links-v {
    max-height: 0;
    display: flex;
    transition: max-height 0.4s ease, margin 0s ease 0.4s; }
#sub-nav.expanded #sub-nav-links-h { transition: height 0.4s ease; }
#sub-nav.expanded #sub-nav-links-h[layout="h"] { height: 44px; }
#sub-nav.expanded #sub-nav-links-h[layout="v"] { height: 96px; margin-top: -8px; }
#sub-nav.expanded #sub-nav-links-v { max-height: 425px; }
#sub-nav-links-h {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
#sub-nav-links-v {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border: 1px solid #c1bd79;
    background-color: #fbf2bd; }
#sub-nav-links-v li {
    width: 100%;
    height: 53px;
    border-bottom: 1px solid #deda99; }
#sub-nav-links-v li:last-child {
    height: 52px;
    border-bottom: none; }
#sub-nav-links-h li { padding: 0 42px; }
#sub-nav-links-v li a { padding: 0 42px; display: block; }


/* ==========================================================================
/* Content
/* ========================================================================== */

/* Oeuvre Display
   ========================================================================== */

.oeuvre-display {
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center; }
.oeuvre-display img {
    border: 1px solid #eee;
    max-width: 100%;
    max-height: 100%; }
.oeuvre-display a img {
    transition: all 0.3s ease; }
.oeuvre-display a img:hover {
    border: 1px solid rgba(0, 0, 255, 0.4);
    box-shadow: 0 0 12px 0 rgba(0, 13, 181, 0.7); }

.oeuvres-display .oeuvre-display {
    margin: 7px 6px;
    max-width: 300px;
    max-height: 300px; }
.oeuvres-display .oeuvre-display a {
    display: flex; }
.oeuvres-display .oeuvre-display a img {
    align-self: center; }


/* Here is a dirty fix for borders/shadows of substitute displays...
 * Otherwise shadows would not appear when hovering over the inner p.
 * Also, removing class names might mess with css specificities... */
.oeuvre-display .substitute-display {
    position: relative;
    border: 1px solid #eee;
    max-width: 100%;
    max-height: 100%;
    display: inline-flex;
    transition: all 0.3s ease; }
.oeuvre-display .substitute-display:hover {
    border: 1px solid rgba(0, 0, 255, 0.4);
    box-shadow: 0 0 12px 0 rgba(0, 13, 181, 0.7);
    transition: all 0.3s ease; }
.oeuvre-display .substitute-display img {
    border: none; }
.oeuvre-display .substitute-display img:hover {
    border: none;
    box-shadow: none; }
.oeuvre-display .substitute-display p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -70%); }


/* XXXXX
   ========================================================================== */

#content .top_title {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 44px 8px 12px 0;
}

#content .par_title {
    font-weight: bold;
    font-size: 30px;
}

.oeuvres-display {
    margin-top: -3px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.critique-title {
    margin: 8px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 34px;
    text-align: center; }

.oeuvre_comments.centered {
    margin-top: auto !important;
    margin-bottom: auto;
    padding-right: 3%;
    padding-bottom: 4%;
    height: 100%;
    align-items: center;
}


/* Content Oeuvres
   ========================================================================== */

#content .info {
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content .info .oeuvre-display {
    margin: 10px;
    margin-right: 20px;
}

#content .info .info_text {
    padding-bottom: 1.3%;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content .info_text .main_title {
    text-align: left;
    margin-left: -1px;
    padding-bottom: 2px;
    display: block;
    line-height: 1;
    padding-top: 5px;
    padding-right: 1px;
}

#content .info .alt_title {
    margin-top: -12px;
    padding-bottom: 8px;
}
#content .info .artists {
    margin-top: 2px;
    line-height: 1;
}

#content #oeuvre_info {
    min-height: 286px;
}

#content .oeuvre_comments {
    margin-top: 24px;
    width: 750px;
}

#content .comment {
    border-top: 1px solid black;
    padding-top: 4px;
}

/* TODO clean this (see juste prix text) */
#content .comment ul {
    margin: initial;
    padding: initial;
    list-style: initial;
    vertical-align: initial;
}

#content .comment li {
    margin: initial;
    padding: initial;
}

#content .comment_title {
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding: 44px 8px 12px 0;
}

#content .oeuvre_comments p {
    margin: 18px 0;
}


/* Content Artiste
   ========================================================================== */

#artiste-info { margin-top: 38px; margin-bottom: 24px; }
.artiste-oeuvres { max-width: 1200px; }


/* Oeuvre Previews
   ========================================================================== */

.entry-links { max-width: 940px; }
.entry-links.no-filter-nav-bar { margin-top: 6px; }

.entry-links .oeuvre-display {
    max-width: none;
    width: 140px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }

.entry-list .hentry { margin-left: 10px; margin-right: 2px; }
.entry-list .entry-title { padding-right: 26px; }
.entry-list .entry-body { flex: 1; }
.entry-list .entry-footer { margin-right: 24px; }


/* Chunks
   ========================================================================== */

.chunks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
.chunks ul {
    padding: 10px 0;
    margin: 0 -16px -1px -16px;
    border-top: 1px solid #a57100;
    border-bottom: 1px solid #a57100;
    width: 100%; }
.chunks li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 30px; }
.chunks li { color: #bd4700 !important; }
.chunks li:hover { color: #f7a300 !important; }
.chunks li span { color: black !important; }

#collection.chunks ul { max-width: 380px; }
#collection.artiste-oeuvres.chunks ul { max-width: 520px; }
#seances.chunks ul { max-width: 600px; }
#cinemas.chunks ul { max-width: 440px; }


/* Content Preambule
   ========================================================================== */

#preambule.oeuvre_comments {
    margin-top: -10px; }
#preambule div:first-of-type {
    margin-top: -14px; }
#preambule > div {
    border-bottom: 1px solid #a57100;
    margin: 0 -50px;
    padding: 20px 50px; }
#preambule > div p:last-child {
    margin-bottom: 2px; }


/* Content Cinemas
   ========================================================================== */

#cinemas_intro.oeuvre_comments {
    margin-top: -10px;
    margin-bottom: 20px; }
#cinemas_intro ul {
    padding-left: 40px;
    list-style: square; }
#cinemas_intro li {
    list-style: square; }
#content .oeuvre_comments #cinemas_total {
    margin-top: 28px; }
#cinema_info, #artist_info {
    margin-top: 38px; }


/* Content Top Films
   ========================================================================== */

#top_films { max-width: 1320px; }
#top_films.all_time { max-width: 1400px; }


/* ==========================================================================
/* Forms
/* ========================================================================== */

/* Forms Oeuvre
   ========================================================================== */

#oeuvre_form p,
#oeuvre_form_empty p { width: 350px; }
#oeuvre_form p label,
#oeuvre_form_empty p label { width: 130px; }
#oeuvre_form p label[for="id_envie"],
#oeuvre_form p label[for="id_type"],
#oeuvre_form_empty p label[for="id_empty_envie"],
#oeuvre_form_empty p label[for="id_empty_type"] { width: 92.7px; }
#oeuvre_form .form_buttons .filler { width: 32px; }
#oeuvre_form_empty .form_buttons .filler { width: 44px; }


/* Forms Comment
   ========================================================================== */

/* The textarea should mirror exactly the width of the text underneath. */
#comment_form .form_inputs,
#comment_form_empty .form_inputs { margin-top: 3px; }
#comment_form p,
#comment_form_empty p { width: 869px; }
#comment_form p label,
#comment_form_empty p label { width: 103px; }
#comment_form p label[for="id_date"],
#comment_form_empty p label[for="id_empty_date"],
#comment_form p label[for="id_no_month"],
#comment_form p label[for="id_no_day"],
#comment_form_empty p label[for="id_empty_no_month"],
#comment_form_empty p label[for="id_empty_no_day"] { width: 91px; }
#comment_form .form_buttons,
#comment_form_empty .form_buttons { margin-top: -2px; }
#comment_form .form_buttons .filler,
#comment_form_empty .form_buttons .filler { width: 72px; }


/* Form Cinema
   ========================================================================== */

/* The textarea should mirror exactly the width of the text underneath. */
#cinema_form .form_inputs { margin-top: 3px; }
#cinema_form p { width: 863px; }
#cinema_form p label { width: 96px; }
#cinema_form p label[for="id_visited"] { width: 85px; }
#cinema_form .form_buttons .filler { width: 72px; }


/* Form Seance
   ========================================================================== */

#seance_form_empty .form_inputs { margin-top: 3px; }
#seance_form_empty .form_inputs p { width: 330px; }
#seance_form_empty .form_inputs p label { width: 151px; }
#seance_form_empty .form_inputs p label[for="id_empty_seance_date"],
#seance_form_empty .form_inputs p label[for="id_empty_seance_no_month"] { width: 102px; }
#seance_form_empty .form_buttons { margin-top: -2px; }
#seance_form_empty .form_buttons .filler { width: 44px; }
