/* Main
   ========================================================================== */
body > header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    pointer-events: none; }

#critique-header {
    box-shadow: 0 3px 13px 0px rgba(0, 0, 0, 0.23);
    pointer-events: auto; }
@media (min-width: 960px) {
#critique-header {
    background-position: right top;
    background-image: url("/static/img_base/critique_background_header.jpg"); } }
@media (max-width: 960px) {
#critique-header #main-nav {
    background-position: right top;
    background-image: url("/static/img_base/critique_background_header_min.jpg"); } }

#content-wrap { margin-top: 64px; }
@media (min-width: 960px) { #content-wrap.decenter { margin-right: 1.4%; } }
#content { margin-top: 36px; }
.filter-navbar { margin-top: -20px; }

.hseparator {
    margin-left: -1px;
    max-width: 777px;
    width: 100%;
    border-bottom-color: black; }
@media (max-width: 799px) { .hseparator { width: 68%; margin-left: 0; } }


/* ==========================================================================
/* Navigation Bars
/* ========================================================================== */

/* Top Navigation Bar
   ========================================================================== */

#top-nav-h {
    visibility: hidden;
    /* TODO do not load this one on smartphones */
    background-image: url("/static/img_base/critique_background_content.jpg");
    background-size: 100% auto;
    height: 0;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
    pointer-events: auto; }

#top-nav-h.expanded {
    visibility: visible;
    padding: 7px 0 5px 0; }
@media (min-width: 900px) { #top-nav-h.expanded { height: 70px; } }
@media (max-width: 900px) { #top-nav-h.expanded { height: 140px; } }

#top-nav-h a, #top-nav-h span { opacity: 0; line-height: 1.15; }
#top-nav-h.expanded a, #top-nav-h.expanded span { opacity: 1; }

#top-nav-h > * {
    transform: translateY(-35px);
    transition: all 0.4s ease; }
#top-nav-h.expanded > * {
    transform: none; }
#top-nav1 { z-index: 200; }


/* Main Navigation Bar
   ========================================================================== */

#main-nav {
    line-height: 1.15;
    -ms-flex-pack: justify;
    justify-content: space-between; }

#main-nav #top-nav-trigger {
    margin-left: 50px;
    font-family: SoljikDambaek, "Times New Roman", Times, serif;
    font-size: 56px; }

#main-nav ul {
    font-size: 46px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end; }

@media (min-width: 960px) {
#critique-header #main-nav > nav > ul { margin-right: 80px; }
#critique-header #main-nav li { margin: 0 34px; } }
@media (max-width: 960px) {
#critique-header #main-nav > nav { -ms-flex-grow: 1; -ms-flex-shrink: 1; flex: 1; }
#critique-header #main-nav > nav > ul { margin-right: 10%; }
#critique-header #main-nav li { margin: 0 34px; } }

@media (min-width: 960px) {
#critique-header #main-nav #main-nav-links-h { display: -ms-flexbox; display: flex; }
#critique-header #main-nav #main-nav-links-v { display: none; } }
@media (max-width: 960px) {
#critique-header #main-nav #main-nav-links-h { display: none; }
#critique-header #main-nav #main-nav-links-v { display: -ms-flexbox; display: flex; } }


/* Sub Navigation Bar
   ========================================================================== */

#sub-nav {
    line-height: 1.15;
    visibility: hidden;
    position: relative;
    overflow: hidden;
    font-size: 40px;
    transition: all 0.4s ease; }
@media (min-width: 960px) {
#critique-header #sub-nav {
    height: 0;
    -ms-flex-direction: column;
    flex-direction: column; } }
@media (max-width: 960px) {
#critique-header #sub-nav {
    float: right;
    width: auto;
    box-shadow: 0 3px 13px 0px rgba(0, 0, 0, 0.23); } }
#sub-nav.expanded { visibility: visible; }

#critique-header #sub-nav > ul { display: none; }
@media (min-width: 960px) {
#critique-header #sub-nav > #sub-nav-links-h { display: -ms-flexbox; display: flex; } }
@media (max-width: 960px) {
#critique-header #sub-nav > #sub-nav-links-v { display: -ms-flexbox; display: flex; } }

@media (min-width: 1104px) {
#critique-header #sub-nav.expanded { height: 46px; } }
@media (max-width: 1104px) and (min-width: 960px) {
#critique-header #sub-nav.expanded { height: 92px; } }
@media (max-width: 960px) {
#critique-header #sub-nav.expanded { height: auto; }
#critique-header #sub-nav.expanded #sub-nav-links-v { max-height: 425px; } }

#sub-nav-links-h {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
#sub-nav-links-v {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-align: end;
    align-items: flex-end;
    max-height: 0;
    border: 1px solid #c1bd79;
    background-color: #fbf2bd;
    line-height: 1.3;
    transition: max-height 0.4s ease; }
#sub-nav-links-v li {
    width: 100%;
    height: 53px;
    border-bottom: 1px solid #deda99; }
#sub-nav-links-v li:last-child {
    height: 52px;
    border-bottom: none; }
#sub-nav-links-h li { padding: 0 42px; }
#sub-nav-links-v li a { padding: 0 42px; display: block; }


/* ==========================================================================
/* Content
/* ========================================================================== */

/* Content Assets
   ========================================================================== */

.critique-title {
    margin: 8px 0;
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 34px;
    text-align: center; }
@supports (-moz-appearance:meterbar) { /* targets Firefox 16+ */
.critique-title { letter-spacing: -1px; } }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /* targets IE 10/11 */
.critique-title {
    letter-spacing: -1px;
    font-family: AlegreyaSansBold, AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif; } }
@supports (-ms-ime-align:auto) { /* targets Edge 12+ */
.critique-title {
    letter-spacing: -1px;
    font-family: AlegreyaSansBold, AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif; } }

.critique-info {
    width: 100%;
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
.critique-info-text {
    padding-bottom: 1.5%;
    max-width: 480px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center; }

.critique-perso {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center; }
.critique-perso .hentry {
    padding-top: 4px;
    padding-right: 4px;
    padding-left: 6px;
    max-width: 760px; }
.critique-perso .hentry .entry-footer {
    padding-top: 0;
    padding-right: 20px;
    margin-bottom: 10px; }


/* Oeuvre Display
   ========================================================================== */

.oeuvre-display {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }
.oeuvre-display img {
    border: 1px solid #eee;
    max-width: 100%;
    max-height: 100%; }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /* targets IE 10/11 */
.entry-list .oeuvre-display img { max-height: 184px; } }
.oeuvre-display a img {
    transition: all 0.3s ease; }
.oeuvre-display a img:hover {
    border: 1px solid rgba(0, 0, 255, 0.4);
    box-shadow: 0 0 12px 0 rgba(0, 13, 181, 0.7); }

#content .oeuvres-display {
    margin-top: -3px;
    width: 95%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center; }

.oeuvres-display .oeuvre-display {
    margin: 7px 6px;
    max-width: 300px;
    max-height: 300px; }
.oeuvres-display .oeuvre-display a {
    display: -ms-flexbox; display: flex; }
.oeuvres-display .oeuvre-display a img {
    -ms-flex-item-align: center; align-self: center; }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /* targets IE 10/11 */
.oeuvres-display .oeuvre-display a img { max-width: 300px; } }


/* Here is a dirty fix for borders/shadows of substitute displays...
 * Otherwise shadows would not appear when hovering over the inner p.
 * Also, removing class names might mess with css specificities... */
.oeuvre-display .substitute-display {
    position: relative;
    border: 1px solid #eee;
    max-width: 100%;
    max-height: 100%;
    display: inline-flex;
    transition: all 0.3s ease; }
.oeuvre-display .substitute-display:hover {
    border: 1px solid rgba(0, 0, 255, 0.4);
    box-shadow: 0 0 12px 0 rgba(0, 13, 181, 0.7);
    transition: all 0.3s ease; }
.oeuvre-display .substitute-display img {
    border: none; }
.oeuvre-display .substitute-display img:hover {
    border: none;
    box-shadow: none; }
.oeuvre-display .substitute-display p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -70%); }


/* Oeuvre Info
   ========================================================================== */

#oeuvre-info {
    min-height: 286px;
    margin-bottom: 24px; }

#oeuvre-info .oeuvre-display {
    margin: 10px;
    margin-right: 20px;
    max-width: 350px; }

#oeuvre-info .critique-title {
    text-align: left;
    margin-left: -1px;
    padding-bottom: 2px;
    display: block;
    line-height: 1;
    padding-top: 5px;
    padding-right: 1px; }
#oeuvre-info .alt-title {
    margin-top: -13px;
    padding-bottom: 8px; }
#oeuvre-info .artists {
    margin-top: 2px;
    line-height: 1; }


/* Oeuvre Comments
   ========================================================================== */

#comments .hseparator:first-child {
    margin-top: 0; }
#comments .hseparator {
    margin-top: 46px; }
#comments .entry-title {
    padding: 44px 8px 12px 0;
    font-size: 30px; }


/* Oeuvre Previews
   ========================================================================== */

.entry-links { max-width: 940px; }
.entry-links.no-filter-nav-bar { margin-top: 6px; }

.entry-links .oeuvre-display {
    width: 140px;
    min-width: 140px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center; }

.entry-list .hentry { margin-left: 10px; margin-right: 2px; }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /* targets IE 10/11 */
.entry-list .hentry { height: 188px; } }
.entry-list .entry-title { padding-right: 26px; }
.entry-list .entry-body { -ms-flex: 1; flex: 1; }
.entry-list .entry-footer { margin-right: 24px; }


/* Chunks
   ========================================================================== */

.chunks {
    padding: 0 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center; }
.chunks ul {
    padding: 10px 0;
    margin: 0 -16px -1px -16px;
    border-top: 1px solid #a57100;
    border-bottom: 1px solid #a57100;
    width: 100%; }
.chunks li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 30px; }
.chunks li { color: #bd4700 !important; }
.chunks li:hover { color: #f7a300 !important; }
.chunks li span { color: black !important; }

#collection.chunks ul { max-width: 380px; }
#collection.artiste-oeuvres.chunks ul { max-width: 520px; }
#seances.chunks ul { max-width: 600px; }
#cinemas.chunks ul { max-width: 440px; }


/* Content Preambule
   ========================================================================== */

#preambule { margin-top: -14px; margin-bottom: 20px; }
#preambule .hentry { max-width: 860px; width: 100%; }
#preambule .entry-title { padding-bottom: 12px; }
#preambule .entry-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center; }
#preambule .entry-section {
    max-width: 750px;
    width: 100%; }
#preambule .hseparator {
    max-width: none;
    border-bottom-color: #a57100; }


/* Content Artiste
   ========================================================================== */

.artiste-oeuvres { max-width: 1200px; }
#artiste-info { margin-top: 38px; margin-bottom: 24px; }


/* Content Oeuvres
   ========================================================================== */

#collection.oeuvres-homonymes {
    position: absolute;
    top: 42.8%;
    left: -1.2%;
    width: 100%; }


/* Content Cinemas
   ========================================================================== */

#cinemas-intro1 { margin-top: -14px; margin-bottom: 20px; }
#cinemas-intro1 .entry-title { padding-bottom: 12px; }
#cinemas-intro2 { margin-top: 20px; }
#cinemas-intro2 .hentry { width: 100%; }
#cinemas-intro2 .entry-footer { overflow-x: hidden; }
#cinemas-intro2 #cinemas_total { margin-top: 8px; }
#cinema-info { margin-top: 38px; margin-bottom: 24px; }


/* Content Top Films
   ========================================================================== */

#top_films { max-width: 1320px; }
#top_films.all_time { max-width: 1400px; }


/* ==========================================================================
/* Forms
/* ========================================================================== */

/* Forms Oeuvre
   ========================================================================== */

#oeuvre_form p,
#oeuvre_form_empty p { width: 350px; }
#oeuvre_form p label,
#oeuvre_form_empty p label { width: 130px; }
#oeuvre_form p label[for="id_envie"],
#oeuvre_form p label[for="id_type"],
#oeuvre_form_empty p label[for="id_empty_envie"],
#oeuvre_form_empty p label[for="id_empty_type"] { width: 92.7px; }
#oeuvre_form .form_buttons .filler { width: 32px; }
#oeuvre_form_empty .form_buttons .filler { width: 44px; }


/* Forms Comment
   ========================================================================== */

/* The textarea should mirror exactly the width of the text underneath. */
#comment_form .form_inputs,
#comment_form_empty .form_inputs { margin-top: 3px; }
#comment_form p,
#comment_form_empty p { width: 869px; }
#comment_form p label,
#comment_form_empty p label { width: 103px; }
#comment_form p label[for="id_date"],
#comment_form_empty p label[for="id_empty_date"],
#comment_form p label[for="id_no_month"],
#comment_form p label[for="id_no_day"],
#comment_form_empty p label[for="id_empty_no_month"],
#comment_form_empty p label[for="id_empty_no_day"] { width: 91px; }
#comment_form .form_buttons,
#comment_form_empty .form_buttons { margin-top: -2px; }
#comment_form .form_buttons .filler,
#comment_form_empty .form_buttons .filler { width: 72px; }


/* Form Cinema
   ========================================================================== */

/* The textarea should mirror exactly the width of the text underneath. */
#cinema_form .form_inputs { margin-top: 3px; }
#cinema_form p { width: 863px; }
#cinema_form p label { width: 96px; }
#cinema_form p label[for="id_visited"] { width: 85px; }
#cinema_form .form_buttons .filler { width: 72px; }


/* Form Seance
   ========================================================================== */

#seance_form_empty .form_inputs { margin-top: 3px; }
#seance_form_empty .form_inputs p { width: 330px; }
#seance_form_empty .form_inputs p label { width: 151px; }
#seance_form_empty .form_inputs p label[for="id_empty_seance_date"],
#seance_form_empty .form_inputs p label[for="id_empty_seance_no_month"] { width: 102px; }
#seance_form_empty .form_buttons { margin-top: -2px; }
#seance_form_empty .form_buttons .filler { width: 44px; }
