/* Main
   ========================================================================== */

html {
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover; }
@media (min-device-width: 960px) {
html { background-image: url("/static/img_base/IMG_7213_home.JPG"); } }
@media (max-device-width: 960px) {
html { background-image: url("/static/img_base/IMG_7213_home_min.JPG"); } }

body { background-image: none; overflow-x: hidden; height: 100%; }

body > #content-wrap { margin-bottom: 0; height: 100%; }

#header {
    position: relative;
    z-index: 1;
    left: -47%;
    padding-top: 116px;
    padding-bottom: 78px;
    width: auto;
    height: 100%;
    min-height: 396px;
    transform: translateX(50%);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    pointer-events: none; }
@media (max-width: 850px) {
#header { left: 0; transform: none; } }
@media (max-height: 740px) {
#header {
    -ms-flex-pack: start;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 64px; }
_:-ms-fullscreen, :root #header { min-height: 0; height: auto; } } /* IE 11 */
@media (max-device-width: 600px) and (orientation: portrait) {
#header { top: -1px; } }
@media (max-device-height: 400px) and (orientation: landscape) {
#header { top: -10px; } }


/* Logos
   ========================================================================== */

#logos {
    padding: 5px;
    max-width: 400px;
    min-height: 98px;
    background-color: rgba(220, 220, 235, 0.36);
    box-shadow: 0 0 10px 6px rgba(220, 220, 235, 0.36);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center; }
@media (min-height: 740px) {
_:-ms-fullscreen, :root #logos { min-height: 0; margin-bottom: 30px; } /* IE 11 */ }
@media (max-height: 740px) {
#logos { margin-bottom: 20px; height: 130px; max-width: 250px; } }
@media (max-device-width: 600px) and (orientation: portrait) {
#logos { height: 114px; position: relative; top: -1px; left: -1px; } }
@media (max-device-height: 400px) and (orientation: landscape) {
#logos { max-height: 100px; } }

#logo-otu { max-width: 100%; max-height: 100%; margin-top: -2px; }
_:-ms-fullscreen, :root #logo-otu { max-height: 121px; } /* IE 11 */
@media (max-height: 740px) {
#logo-otu { max-height: 80%; }
_:-ms-fullscreen, :root #logo-otu { max-height: 75px; } /* IE 11 */ }

#logo-tln {
    max-width: 126px;
    margin-left: 0.7%;
    margin-top: -30px; }
@media (max-height: 740px) {
#logo-tln { max-height: 57%; margin-top: -26px; margin-left: 6px; } }


/* Site Navigation
   ========================================================================== */

#top-nav-v {
    position: relative;
    min-height: 268px;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(0, 5, 61, 0.85);
    box-shadow: 0 0 6px 3px rgba(0, 5, 61, 0.9);
    pointer-events: auto; }
#top-nav-v > ul { -ms-flex-direction: column; flex-direction: column; }
#top-nav-v li { width: 100%; }
#top-nav-v li > a { font-size: 56px; color: #f8f8f8; padding: 0 36px; }
#top-nav-v li > a:hover { color: #f7a300; }
#top-nav-v a { transition: all 0.4s ease; }
@media (min-height: 740px) {
_:-ms-fullscreen, :root #top-nav-v { min-height: 0; } /* IE 11 */ }
@media (max-device-width: 600px) and (orientation: portrait) {
#top-nav-v { left: -53px; top: -1px; min-height: 0; }
#top-nav-v li > a { font-size: 46px; padding: 0 26px; } }
@media (max-device-height: 400px) and (orientation: landscape) {
#top-nav-v { left: -1px; top: -4px; min-height: 0; }
#top-nav-v li > a { padding: 0 20px; line-height: 1.2; font-size: 30px; } }

.dropdown-content {
    top: 0;
    left: 188px;
    box-shadow: 0 0 4px 3px rgba(0, 5, 61, 0.9);
    transform: translateX(16px); }
.dropdown:hover .dropdown-content { transform: none; }
@media (max-device-width: 600px) and (orientation: portrait) {
.dropdown-content { left: 150px; top: -1px; width: 74%; transform: none; }
.dropdown-content a { font-size: 38px; } }
@media (max-device-height: 400px) and (orientation: landscape) {
.dropdown-content { left: 104px; width: 74%; transform: none; }
.dropdown-content a { font-size: 26px; } }


/* Info Anchor Arrow
   ========================================================================== */

#goto-info {
    position: absolute;
    left: 0;
    bottom: 0.4%;
    padding-right: 0.8%;
    width: 100%;
    text-align: center; }
@media (max-width: 850px) { #goto-info { padding-right: 0; } }
@media (max-device-height: 400px) and (orientation: landscape) {
#goto-info { display: none; } }

#goto-info a {
    color: rgba(0, 5, 61, 0.64);
    font-family: "DejaVu Sans";
    font-size: 110px;
    transition: color 0.4s ease; }
#goto-info a:hover { color: rgba(247, 163, 0, 0.64); }


/* Info
   ========================================================================== */

#content {
    position: absolute;
    left: 0;
    top: 100%;
    min-height: 100%;
    box-shadow: inset 0 7px 10px -7px rgba(0, 13, 181, 0.9);
    background-image: url("/static/img_base/critique_background_content.jpg");
    background-size: 100% auto;
    -ms-flex-pack: center;
    justify-content: center; }

#info {
    flex: 1;
    padding: 34px 6px 20px 6px;
    max-width: 930px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
_:-ms-input-placeholder, :root #info { padding-top: 90px; padding-bottom: 50px; } /* IE 10 */
_:-ms-fullscreen, :root #info { flex: 1 0 auto; } /* IE 11 */
@media (min-width: 1200px) { #info { margin-right: 1.8%; } }
#info .info-perso { max-width: 870px; }
#info #info-en { margin-top: -18px; }
#info .hseparator { margin: 50px -20px 51px -20px; }
@media (max-width: 976px) { #info .hseparator { margin: 50px 6px 51px 6px; } }

#info blockquote {
    float: right;
    margin-bottom: 12px;
    text-align: right;
    font-style: italic;
    line-height: 1.15; }
#info blockquote .quote-author { margin-top: -12px; font-size: 19px; }
#info .info-perso { clear: right; text-align: justify; }
#info #info-fr blockquote { max-width: 780px; }
#info #info-en blockquote { max-width: 820px; }


/* Footer
   ========================================================================== */

#footer {
    padding-left: 0;
    padding-right: 40px;
    font-size: 17px;
    text-align: right; }
_:-ms-input-placeholder, :root #footer { position: absolute; left: 0; bottom: 0; } /* IE 10 */
@media (max-width: 540px) { #footer { padding-right: 0; text-align: center; } }
