/* Main
   ========================================================================== */

@media (min-width: 1512px) {
#header { margin-right: 60px; }
body #content-wrap { position: relative; margin-right: 71px; } }

#content { max-width: 850px; }


/* Sidebar
   ========================================================================== */

body #sidebar-column {
    right: 42.76%; }
body.gallery-list #sidebar-column {
    top: 51px;
    height: calc(100% - 51px); }
body.gallery #sidebar-column {
    top: 132px;
    height: calc(100% - 132px); }
body.photos-infos #sidebar-column {
    top: 140px;
    height: calc(100% - 140px); }
@media (max-height: 990px) {
body #sidebar { max-height: 100%; } }
@media (max-width: 1512px) {
body #sidebar-column {
    top: 42px !important; } }

#sidebar a { transition: color 0.12s linear; }
#sidebar #sidebar-photos-link { color: black; }
#sidebar #sidebar-photos-link:hover { color: #f7a300; }

#sidebar .widget { margin-bottom: 4px; padding-left: 2px; }
#sidebar h3 { padding: 0.5em 0 2px 0.5em; }
#sidebar p { text-align: center; padding-right: 20px; }
#sidebar ul { margin-left: 1.2em; }

#sidebar #widget-welcome {
    margin-bottom: 21px;
    padding: 20px 8px 0 8px;
    font-size: 19px;
    font-style: italic; }
#sidebar .hseparator {
    margin: 0 auto;
    width: 55%;
    border-bottom-color: #deda99; }
#sidebar #widget-galleries {
    margin-top: 20px; }
#sidebar .widget:last-child {
    padding-bottom: 33px;
    margin-bottom: 0; }

#sidebar li:before { font-family: Arial; font-size: 17px; content: "â—"; }
.android #sidebar li:before { font-size: 9px; vertical-align: middle; }
.android.webkit #sidebar li:before { font-size: 17px; vertical-align: unset; }


/* Galleries
   ========================================================================== */

#gallery-list {
    height: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
@media (min-width: 1512px) {
#gallery-list { margin-top: 42px; } }

#gallery-list a {
    position: relative;
    margin: 10px 10px;
    border: 1px solid #eee;
    transition: all 0.4s ease; }
#gallery-list a.slow-transition {
    transition: all 1.5s ease; }
#gallery-list a:hover, #gallery-list a.display-title {
    border: 1px solid rgba(0, 0, 255, 0.4);
    box-shadow: 0 0 6px rgba(0, 13, 181, 0.5) }
#gallery-list a img {
    display: block;
    position: relative;
    height: 172px;
    z-index: -2; }
#gallery-list a span {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 22px;
    background: content-box rgba(20, 23, 91, 0.8);
    box-shadow: inset 0 0 4px 24px rgba(0, 13, 181, 0.08);
    transition: all 0.4s ease; }
#gallery-list a.slow-transition span {
    transition: all 1.5s ease; }
#gallery-list a span:hover, #gallery-list a.display-title span {
    opacity: 1; }
#gallery-list a span h2 {
    position: absolute;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 90px);
    color: white;
    text-align: center;
    line-height: 32px;
    font-size: 26px; }


/* Gallery Overview
   ========================================================================== */

#gallery-title {
    margin-top: 24px;
    padding: 0 16px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}
#gallery-title h1 {
    display: inline;
    border-bottom: solid 1px #a57100;
}

#gallery-photos {
    margin: 40px 6px;
    padding: 6px;
    border: solid 1px #d3d4db;
    background-color: #fffddb;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.photo-display {
    margin: 5px 5px;
    width: 150px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

.photo-display a { display: flex; }
.photo-display a img {
    -ms-flex-item-align: center;
    align-self: center;
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #eee;
    transition: all 0.3s ease;
}
.photo-display a img:hover {
    border: 1px solid rgba(0, 0, 255, 0.4);
    box-shadow: 0 0 12px 0 rgba(0, 13, 181, 0.7);
}

#gallery-description {
    margin-top: -3px;
    padding-left: 6px;
    padding-right: 4px;
    font-size: 19px;
    font-style: italic;
}
@media (max-width: 700px) {
#gallery-description {
    padding-left: 22.2px;
    padding-right: 23px;
    font-size: 18px;
} }
_:-ms-fullscreen, :root #gallery-description { margin-bottom: 16px; } /* IE 11 */
#gallery-description #desc-fr { padding-top: 4px; padding-bottom: 16px; }
#gallery-description .hseparator { margin-left: -20px; margin-right: -16px; }
@media (max-width: 896px) { #gallery-description .hseparator { margin: 0 6px; } }
@media (max-width: 700px) { #gallery-description .hseparator { margin: 0 80px; } }
#gallery-description #desc-en { padding-top: 16px; padding-bottom: 10px; }
#gallery-description #desc-fr p:first-child, #gallery-description #desc-en p:first-child { padding-top: 0; padding-bottom: 4px; }
#gallery-description #desc-fr p, #gallery-description #desc-en p { padding-top: 4px; padding-bottom: 4px; }
#gallery-description #desc-fr p:last-child, #gallery-description #desc-en p:last-child { padding-top: 4px; padding-bottom: 0; }
#gallery-description #desc-date {
    margin-top: 2px;
    padding-right: 13px;
    text-align: right;
}


/* Gallery Slider
   ========================================================================== */

#gallery-overlay {
    background-color: rgba(30, 30, 30, 0.98);
    transition-duration: 0.7s;
}

#gallery-slider {
    width: 96%;
    height: 96.5%;
}
#gallery-slider .slides { height: 100%; }
#gallery-slider .slides li {
    height: 100%;
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}
#gallery-slider .slides li .slide {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column; }
#gallery-slider .slides li .slide .slide-img { position: relative; width: 100%; }
#gallery-slider .slides li .slide .slide-img img { width: 100%; display: block; }
#gallery-slider .slides li .slide .slide-img img:first-child { position: relative; }
#gallery-slider .slides li .slide .slide-img img:not(:first-child) { position: absolute; top: 0; left: 0; }
#gallery-slider .slides li .slide .slide-info {
    padding: 0 2px;
    width: 100%;
    height: 24px;
    color: #ccc;
    font-family: AlegreyaSans;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-pack: justify;
    justify-content: space-between;

}
#gallery-slider .slides li .slide .slide-info .slide-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
#gallery-slider .slides li .slide .slide-info .slide-index {
    white-space: nowrap; }

#gallery-slider .flex-direction-nav {
    position: fixed;
    z-index: 10;
    top: 39.5%;
    left: 0;
    margin: 0 2%;   /* bound to the gallery-slider width */
    width: 96%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
#gallery-slider .flex-direction-nav a {
    opacity: 0.3;
    color: #aaa;
    text-decoration: none;
    font-family: SoljikDambaek;
    font-size: 160px;
    transition: all 0.4s ease;
}
#gallery-slider .flex-direction-nav a:hover { opacity: 0.6; color: #ddd; }
#gallery-slider .flex-direction-nav a:focus { outline: none; }


/* Informations
   ========================================================================== */

.photos-infos #gallery-title { margin-bottom: 28px; }

.photos-infos p {
    text-align: justify;
    font-size: 18px;
    font-family: AlegreyaSans; }

#locale-switch {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0; }
#locale-switch a {
    display: inline;
    text-decoration: underline; }

.toggle-locale {
    position: relative;
    flex: 1; }
.toggle-locale .en {
    position: absolute;
    top: 0;
    left: 0; }
.toggle-locale.fr .en { opacity: 0; z-index: -1; }
.toggle-locale.en .en { opacity: 1; }
.toggle-locale.en .fr { opacity: 0; z-index: -1; }
.toggle-locale .fr, .toggle-locale .en { transition: opacity 0.4s ease; }
.toggle-locale .en > div:first-child { margin-top: 0 !important; }


/* Informations Light Painting
   ========================================================================== */

#infos-lp img {
    display: block;
    margin: 32px auto;
    width: 92%;
    border: 1px solid #deda99; }
#infos-lp img:first-child { margin-top: 22px; }
#infos-lp img:not(:first-child) { margin-top: 30px; }

#infos-lp > div { margin-left: 6px; margin-right: 6px; }
#infos-lp > div > div > div { margin-top: 28px; }
#infos-lp p:first-child {
    margin-bottom: 8px;
    text-indent: 50px;
    font-weight: bold;
    font-size: 20px; }
#infos-lp > div:last-child > div > div:last-child p {
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
    text-indent: 0;
    font-style: italic;
    font-weight: normal;
    font-size: 18px; }
@media (max-width: 1512px) {
#infos-lp > div:last-child > div:last-child p { margin-bottom: 20px; } }
@media (max-width: 700px) {
#infos-lp p:first-child { text-indent: 0px; } }


/* Informations Tirages
   ========================================================================== */

#gallery-title .en {
    left: 50%;
    transform: translateX(-50%); }

#infos-tirages > div:first-child { position: relative; }

#infos-tirages > div:not(:last-child) .toggle-locale .en {
    top: 50%;
    transform: translateY(-50%); }

#infos-tirages > div:not(:last-child), #infos-tirages > div:last-child > div > div {
    margin: 20px 6px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; }
#infos-tirages .with-tables { margin-top: 34px !important; }
#infos-tirages > div.toggle-locale > div > div:last-child { margin-top: 35px; margin-bottom: 30px; }
#infos-tirages > div.toggle-locale > div > div:last-child p { text-align: center; }
@media (min-width: 900px) {
#infos-tirages > div:nth-last-child(2) { margin-bottom: 38px; }
#infos-tirages > div:nth-child(even):not(:last-child) { flex-direction: row-reverse; } }
@media (max-width: 1512px) {
#infos-tirages > div:last-child { margin-bottom: 6px; } }

#infos-tirages div.zoomable {
    position: relative;
    height: 227px;
    width: 340px;
    border: 1px solid #deda99;
    overflow: hidden; }
#infos-tirages div.zoomable img:last-child {
    position: relative;
    height: 100%;
    width: 100%;
    transition: opacity 0.15s ease; }
#infos-tirages div.zoomable:hover img:last-child {
    opacity: 0; }
#infos-tirages div.zoomable img:first-child {
    position: absolute; }

#infos-tirages a.no-zoom {
    display: none; }
#infos-tirages a.no-zoom img {
    display: block;
    width: 340px;
    border: 1px solid #deda99; }

#infos-tirages > div:not(:last-child) div:last-child p:first-child { margin-bottom: 12px; }
@media (min-width: 900px) {
#infos-tirages > div:not(:last-child):nth-child(odd) p { padding-left: 12px; }
#infos-tirages > div:not(:last-child):nth-child(even) p { padding-right: 12px; }
#infos-tirages > div:not(:last-child) p { width: 498px; } }
@media (max-width: 900px) {
#infos-tirages p:first-child { margin-top: 19px; }
#infos-tirages > div:nth-last-child(2) { margin: -8px 6px; }
#infos-tirages > div.with-tables { margin-top: 32px; }
#infos-tirages > div:last-child p { margin-top: 0; } }

#infos-tirages table {
    border-collapse: collapse;
    border: 1px solid #a57100;
    font-size: 18px;
    font-family: AlegreyaSans; }
#infos-tirages table:first-child { margin-right: 50px; }
@media (max-width: 600px) {
#infos-tirages table { margin: auto 3% !important; } }
#infos-tirages td, #infos-tirages th {
    border: 1px solid #a57100;
    padding: 4px 8px;
    text-align: center }
#infos-tirages tr:nth-child(odd) { background-color: rgba(251, 242, 189, 0.9); }
#infos-tirages tr:first-child { background-color: rgba(247, 163, 0, 0.3); }
#infos-tirages th { font-weight: normal; text-decoration: underline; }
