/* Main
   ========================================================================== */
html {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: url("/static/img_base/critique_background_content.jpg");
    background-size: 100% auto;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body > header {
    text-align: center;
}

body > header h1 {
    margin-top: 30px;
    margin-bottom: 25px;
}

body > header h1 #top_title {
    font-family: Abuget, Palatino, serif;
    font-size: 70px;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
}

#content {
    flex: 1;
    max-width: 850px;
    font-family: Alegreya, Palatino, serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content a { color: #bd4700; text-decoration: none; }
#content a:hover { color: #f7a300; }
#content a:active, #content a:focus { outline: none }

#content #gallery-title {
    margin-top: 24px;
    padding: 0 16px;
    font-weight: bold;
    font-size: 50px;
    border-bottom: solid 1px #a57100;
}

#content #gallery-photos {
    margin: 40px 6px;
    padding: 6px;
    border: solid 1px #d3d4db;
    background-color: #fffddb;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo-display {
    margin: 5px 5px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-display a {
    display: flex;
}
.photo-display a img {
    align-self: center;
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #eee;
    transition: all 0.3s ease;
}
.photo-display a img:hover {
    border: 1px solid rgba(0, 0, 255, 0.4);
    box-shadow: 0 0 12px 0 rgba(0, 13, 181, 0.7);
}

#content #gallery-description {
    margin-top: -3px;
    padding-left: 6px;
    padding-right: 4px;
    font-size: 19px;
    font-style: italic;
}
#content #gallery-description #desc-fr {
    padding-bottom: 10px;
}
#content #gallery-description .hseparator {
    margin-left: -20px;
    margin-right: -16px;
    border-bottom: solid 1px #a57100;
}
#content #gallery-description #desc-en {
    padding: 10px 0;
}
#content #gallery-description #desc-date {
    margin-top: 2px;
    padding-right: 13px;
    text-align: right;
}


body > footer {
    margin-top: 42px;
    width: 100%;
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 16px;
    padding: 15px 0 14px 40px;
    background-color: rgba(232, 202, 138, 0.4);
}


/* Content Oeuvres
   ========================================================================== */
#content .info {
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#content .info .oeuvre_display {
    margin: 10px;
    margin-right: 20px;
}

#content .info .info_text {
    height: 92%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#content .info_text .main_title {
    max-width: 430px;
    text-align: left;
    margin-left: -1px;
    padding-bottom: 2px;
    display: block;
    line-height: 1;
    padding-top: 5px;
    padding-right: 1px;
}

#content .info .alt_title {
    margin-top: -12px;
    padding-bottom: 8px;
}
#content .info .artists {
    margin-top: 2px;
}

#content #oeuvre_info {
    min-height: 150px;
}

.entry #content {
    margin-top: 24px;
    padding: 0 6px;
}

.entry #content .entry-content p {
    text-align: justify;
    margin: 18px 0;
}

.entry #content > :not(.divide) {
    max-width: 820px;
}

.entry #content > .divide {
    border-bottom: 1px solid #a57100;
}



/* Gallery Slider
   ========================================================================== */

#gallery-overlay {
    background-color: rgba(30, 30, 30, 0.98);
    transition-duration: 0.7s;
}

#gallery-slider {
    width: 96%;
    height: 91%;
}
#gallery-slider .slides {
    height: 100%;
}
#gallery-slider .slides li {
    /*position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;*/
    height: 100%;
    text-align: center;
}
#gallery-slider .slides li .slide {
    height: 100%;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#gallery-slider .slides li .slide .slide-img {
    height: 100%;
}
#gallery-slider .slides li .slide .slide-img img {
    max-width: 100%;
    max-height: 100%;
}
#gallery-slider .slides li .slide .slide-info {
    padding: 0 2px;
    width: 100%;
    color: #ccc;
    font-family: AlegreyaSans;
    display: flex;
    justify-content: space-between;
}

#gallery-slider .flex-direction-nav {
    position: fixed;
    z-index: 10;
    margin: 0 2%;
    top: 44%;
    left: 0;
    width: 96%;
    display: flex;
    justify-content: space-between;
}
#gallery-slider .flex-direction-nav a {
    opacity: 0.3;
    color: #aaa;
    text-decoration: none;
    font-family: SoljikDambaek;
    font-size: 90px;
    transition: all 0.4s ease;
}
#gallery-slider .flex-direction-nav a:hover {
    opacity: 0.6;
    color: #ddd;
}
#gallery-slider .flex-direction-nav a:focus {
    outline: none;
}
