{% extends 'todo/base.html' %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div>
        <label for="id_content">
            élément de la liste <strong>{{ todo_list.title }}</strong>
        </label>
        {{ form.content }}
    </div>
    <input value="envoyer" type="submit">
    <a href="{% url 'list' todo_list.id %}">annuler</a>
    {% if object %}
    <input value="supprimer" type="submit"
        formaction="{% url 'item-delete' todo_list.id object.id %}">
    {% endif %}
</form>
{% endblock %}
