{% extends 'todo/base.html' %}

{% block content-class %}todo-lists{% endblock%}

{% block header-content %}
<div class='todo-welcome'><p>les listes toutes douces<br/>qui te rappellent d'y aller mollo</p></div>
{% endblock %}

{% block content %}
<div class="entry-content">
    {% if object_list %}
    <ul>
        {% for todolist in object_list %}
        <li><a href='{% url "list" todolist.id %}'>{{ todolist.title }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="todo-list-empty">(aucune liste à lister !)</div>
    {% endif %}
</div>

<div class="todo-buttons">
    <a href='{% url "list-add" %}'>ajouter une liste</a>
</div>
{% endblock %}
