{% extends 'todo/base.html' %}

{% block content %}
<div>
    <div>
        <form method="post">
            {% csrf_token %}
            <div>
                <label for="id_title">titre de la liste</label>
                {{ form.title }}
            </div>
            <div>
                <label for="id_public">rendre la liste publique</label>
                <div class="switch">
                    {{ form.public }}
                    <span class="slider"></span>
                </div>
            </div>
            <input value="envoyer" type="submit">
            <a href="{% url 'index' %}">annuler</a>
        </form>
    </div>
</div>
{% endblock %}
