{% extends 'todo/base.html' %}

{% block content %}
<div>
    <div>
        <div>
            <h5>{{ todo_list.title }}</h5>
        </div>
        <ul>
            {% for todo in object_list %}
            <li>
                <div>
                    {% if user == todo_list.author %}
                    <div
                        role='button'
                        onclick='location.href=
                        "{% url 'item-update' todo_list.id todo.id %}"'
                    >
                    {% else %}
                    <div>
                    {% endif %}
                        {{ todo.title }}
                    </div>
                </div>
            </li>
            {% empty %}
            <p>There are no to-do items in this list.</p>
            {% endfor %}
        </ul>
        {% if user == todo_list.author %}
        <p>
            <input
                value="Add a new item"
                type='button'
                onclick='location.href=
                "{% url 'item-add' todo_list.id %}"'/>
            <input
                value="Delete this list"
                type='button'
                onclick='location.href=
                "{% url 'list-delete' todo_list.id %}"'/>
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}
