{% extends 'todo/base.html' %}

{% block title %} - {{ todo_list.title }}{% endblock %}

{% block content-class %}todo-items{% endblock %}

{% block content %}
<form class="todo-form-item" method="post">
    {% csrf_token %}
    <div class="todo-inputs">
        <div class="todo-input">
            <label for="id_content">
                élément de la liste <a href="{% url 'list' todo_list.id %}" class="todo-list-inline">{{ todo_list.title }}</a>
            </label>
            {{ form.content }}
        </div>
    </div>
    <div class="todo-buttons">
        {% if object %}
        <input value="modifier" type="submit">
        <input value="supprimer" type="submit"
            formaction="{% url 'item-delete' todo_list.id object.id %}">
        {% else %}
        <input value="envoyer" type="submit">
        {% endif %}
        <a href="{% url 'list' todo_list.id %}">annuler</a>
    </div>
</form>
{% endblock %}
