{% extends 'todo/base.html' %}

{% block title %} - {{ object.title }}{% endblock %}

{% block content-class %}todo-lists{% endblock %}

{% block content %}
<form class="todo-form-list-confirm-delete" method='POST'>
    {% csrf_token %}
    <div class="todo-inputs">
        <div class="todo-input">
            <label>voulez-vous vraiment supprimer<br>la liste <a href="{% url 'list' object.id %}" class="todo-list-inline">{{ object.title }}</a> ?</label>
        </div>
    </div>
    <div class="todo-buttons">
        <input value="oui je t'assure" type='submit'>
        <a href="{% url 'list' object.id %}">euh non en fait</a>
    </div>
</form>
{% endblock %}
