{% extends 'todo/base.html' %}

{% block title %} - {{ todo_list.title }}{% endblock %}

{% block content-class %}todo-items{% endblock %}

{% block content %}
<form method="post">
    {% csrf_token %}
    <div>
        <label for="id_content">
            élément de la liste <strong>{{ todo_list.title }}</strong>
        </label>
        {{ form.content }}
    </div>
    <div class="todo-buttons">
        {% if object %}
        <input value="modifier" type="submit">
        <input value="supprimer" type="submit"
            formaction="{% url 'item-delete' todo_list.id object.id %}">
        {% else %}
        <input value="envoyer" type="submit">
        {% endif %}
        <a href="{% url 'list' todo_list.id %}">annuler</a>
    </div>
</form>
{% endblock %}
