{% extends 'todo/base.html' %}

{% block content-class %}todo-lists{% endblock%}

{% block header-content %}
<div class='todo-welcome'><p>les listes toutes douces<br/>qui te rappellent d'y aller mollo</p></div>
{% endblock %}

{% block content %}
{% if object_list %}
<div class="entry-content">
    <ul>
        {% for todolist in object_list %}
        <li><a href='{% url "list" todolist.id %}'>{{ todolist.title }}</a></li>
        {% endfor %}
    </ul>
</div>
{% endif %}

<div class="todo-buttons">
    <a href='{% url "list-add" %}'>ajouter une liste</a>
</div>
{% endblock %}
