{% extends 'todo/base.html' %}

{% block title %} - {{ todo_list.title }}{% endblock %}
{% block og-title %}todo - {{ todo_list.title }}{% endblock %}
{% block tw-title %}todo - {{ todo_list.title }}{% endblock %}
{% block meta-description %}{{ todo_list.title }} - une liste toute douce de choses à faire{% endblock %}
{% block author %}{{ todo_list.author }}{% endblock %}

{% block content-class %}todo-items{% endblock%}

{% block header-content %}
<h3 class="todo-list-title">liste <a href="{% url 'list' todo_list.id %}">{{ todo_list.title }}</a></h3>
{% endblock %}

{% block content %}
<div class="entry-content">
    {% if object_list %}
    <ul>
        {% for todo_item in object_list %}
        <li>{% if user == todo_list.author %}<a href="{% url 'item-update' todo_list.id todo_item.id %}">{% endif %}{{ todo_item.content }}{% if user == todo_list.author %}</a>{% endif %}</li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="todo-item-empty">(la liste est vide !)</div>
    {% endif %}
</div>

{% if user == todo_list.author %}
<div class="todo-buttons">
    <a href="{% url 'item-add' todo_list.id %}">
        ajouter un élément
    </a>
    <a href="{% url 'list-update' todo_list.id %}">
        modifier la liste
    </a>
</div>
{% elif not user.is_authenticated %}
<div class="todo-buttons">
    <a href="{% url 'login' %}?next={{ request.path }}">
        se connecter
    </a>
</div>
{% endif %}
{% endblock %}
