{% extends "photologue/root.html" %}
{% load i18n %}
{% load photos_extras %}

{% block sidebar %}
<div id="widget-welcome" class="widget">
  <div id="welcome-quote">
      Recueillies en notre sein<br/>
      Déraisonne leur chœur dissident<br/>
      Teinte leur mystère moite<br/>
      Les arabesques impies<br/>
      Eerie, indécentes<br/>
      — Écartèle-nous pour t'en abreuver
  </div>
</div>

<div class="hseparator" role="presentation"></div>

<nav id="widget-galleries" class="widget">
  <h3><a id="sidebar-photos-link" href="/photos/">Galeries</a></h3>
  {% get_public_photo_galleries %}
</nav>

{% if user.is_authenticated %}
{% get_private_photo_galleries_num as priv_gal_num %}
{% if priv_gal_num > 0 %}
<nav id="widget-galleries-private" class="widget">
  <h3>Galerie{{ priv_gal_num|pluralize }} privée{{ priv_gal_num|pluralize }}</h3>
  {% get_private_photo_galleries %}
</nav>
{% endif %}
{% endif %}

<nav id="widget-info" class="widget">
  <h3>Informations</h3>
  <ul>
    <li>
      <a href="/photos/lightpainting">sur le light painting</a> <span>(<a href="/photos/about-lightpainting">en</a>)</span>
    </li>
    <li>
      <a href="/photos/tirages">sur la vente de tirages</a> <span>(<a href="/photos/prints">en</a>)</span>
    </li>
  </ul>
</nav>
{% endblock %}


