{% extends "photologue/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load tln_extras %}
{% load photos_extras %}

{% block title %}{{ gallery_custom.gallery.title }}{% endblock %}
{% block og-title %}{{ gallery_custom.gallery.title }}{% endblock %}
{% block tw-title %}{{ gallery_custom.gallery.title }}{% endblock %}
{% block meta-description %}série photographique '{{ gallery_custom.gallery.title }}', par oriane tury{% endblock meta-description %}

{% block og-image %}https://oriane.ink{{ gallery_custom.gallery.public.0.get_display_url }}{% endblock %}
{% block tw-image %}https://oriane.ink{{ gallery_custom.gallery.public.0.get_display_url }}{% endblock %}

{% block og-description %}{{ gallery_custom.description_fr|striptags|truncatedesc:250 }}{% endblock %}
{% block tw-description %}{{ gallery_custom.description_fr|striptags|truncatedesc:160 }}{% endblock %}

{% block content %}
<div id="gallery-title">
    <h1>{{ gallery_custom.gallery.title }}</h1>
</div>
<div id="gallery-photos">
{% for photo in gallery_custom.gallery.public %}
    <div class="photo-display">
        <a class="photo-link" href="#" data-onclick={{ forloop.counter|add:"-1" }}>
            <img src="{{ photo.get_display_url }}" class="thumbnail" alt="{{ photo.title|stripgallery }}">
        </a>
    </div>
{% endfor %}
</div>
<div id="gallery-description">
    <div id="desc-fr">{{ gallery_custom.description_fr|safe }}</div>
    <div class="hseparator" role="presentation"></div>
    <div id="desc-en" lang="en">{{ gallery_custom.description_en|safe }}</div>
    <div id="desc-date">({{ gallery_custom.date_shooting }})</div>
</div>
{% endblock %}

{% block overlays %}
<div class="overlay" id="gallery-overlay" role="presentation">
    <div id="gallery-slider">
        <ul class="slides">
            {% for photo in gallery_custom.gallery.public %}
            <li>
            <div class="slide">
                <div class="slide-img">
                    <img src="{{ photo.custom.get_vhigh_display_placeholder_url }}"
                         data-src="{{ photo.get_vhigh_display_url }}" alt="" slug="{{ photo.slug }}">
                    <noscript><img src="{{ photo.get_vhigh_display_url }}" alt="" slug="{{ photo.slug }}"></noscript>
                </div>
                <div class="slide-info">
                    <span class="slide-title">{% if "___" not in photo.title %}{{ photo.title|stripgallery }}{% endif %}</span>
                    <span class="slide-index">{{ forloop.counter }} / {{ gallery_custom.gallery.public|length }}</span>
                </div>
            </div>
            </li>
            {% endfor %}
        </ul>
        <ul class="flex-direction-nav">
            <li class="flex-nav-prev">
                <a class="flex-prev" href="#">‹</a>
            </li>
            <li class="flex-nav-next">
                <a class="flex-next" href="#">›</a>
            </li>
        </ul>
    </div>
</div>
{% endblock %}

{% block import-scripts %}
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
{% endblock %}
