{% extends "photologue/root.html" %}
{% load staticfiles %}
{% load i18n %}

{% comment %}
{% block link %}
<link rel="stylesheet" href="{% static 'css/flexslider.css' %}" type="text/css">
{% endblock %}
{% endcomment %}

{% block title %}{{ gallery_custom.gallery.title }}{% endblock %}

{% block content %}
<h1 id="gallery-title">{{ gallery_custom.gallery.title }}</h1>
<div id="gallery-photos">
{% for photo in gallery_custom.gallery.public %}
    <div class="photo-display">
        <a class="photo-link" href="#" data-onclick={{ forloop.counter|add:"-1" }}>
            <img src="{{ photo.get_display_url }}" class="thumbnail" alt="{{ photo.title }}">
        </a>
    </div>
{% endfor %}
</div>
<div id="gallery-description">
    <div id="desc-fr">{{ gallery_custom.description_fr|safe }}</div>
    <div class="hseparator"></div>
    <div id="desc-en">{{ gallery_custom.description_en|safe }}</div>
    <div id="desc-date">({{ gallery_custom.date_shooting }})</div>
</div>
{% endblock %}

{% block overlays %}
<div class="overlay" id="gallery-overlay">
    <div id="gallery-slider">
        <ul class="slides">
            {% for photo in gallery_custom.gallery.public %}
            <li>
            <div class="slide">
                <div class="slide-img">
                    <img src="{{ photo.image.url }}" alt="{{ photo.title }}">
                </div>
                <div class="slide-info">
                    <span class="slide-title">{{ photo.title }}</span>
                    <span class="slide-index">{{ forloop.counter }} / {{ gallery_custom.gallery.public|length }}</span>
                </div>
            </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}

{% block import-scripts %}
<script src="{% static 'js/jquery.flexslider-min.js' %}"></script>
{% endblock %}
