{% extends "photologue/root.html" %}
{% load i18n %}

{% block title %}{{ gallery.title }}{% endblock %}

{% block content %}
<h1 id="gallery-title">{{ gallery.title }}</h1>
<div id="gallery-photos">
{% for photo in gallery.public %}
    <a href="{{ photo.get_absolute_url }}">
         <img src="{{ photo.get_thumbnail_url }}" class="thumbnail" alt="{{ photo.title }}">
    </a>
{% endfor %}
</div>
<div id="gallery-description">
{% if gallery.description %}{{ gallery.description|safe }}{% endif %}
</div>
{% endblock %}
