{% extends "photologue/base.html" %}

{% block title %}light painting{% endblock %}
{% block og-title %}light painting{% endblock %}
{% block tw-title %}light painting{% endblock %}

{% block og-image %}https://oriane.ink/static/img_base/IMG_7213_home_min.JPG{% endblock %}
{% block tw-image %}https://oriane.ink/static/img_base/IMG_7213_home_min.JPG{% endblock %}

{% comment %}
{% block og-description %}séries photographiques, par oriane tury{% endblock %}
{% block tw-description %}séries photographiques, par oriane tury{% endblock %}
{% endcomment %}

{% block body-class %}infos{% endblock %}

{% block content %}
<div id="gallery-title">
    <h1>light painting</h1>
</div>
{% comment %}
<div id="locale"><a href="#">fr</a> | <a href="#">en</a></div>
{% endcomment %}
<div id="lightpainting">
    <img style="border: 1px solid #deda99;" src="/media/photologue/photos/cache/20191226__MG_0620_blog_display.jpg"/>
    <div>page en construction<br>revenez un peu plus tard :)</div>
</div>
{% endblock %}
