{% extends "base.html" %}
{% load staticfiles %}

{% block title-after %} - oriane tury{% endblock %}
{% block css-path %}{% static 'css/photos.css' %}{% endblock %}
{% block meta-keywords %}photos, digital photography, light painting{% endblock %}

{% block skip-link %}<a id="skip-link" class="hidden" href="#content">Skip to main content</a>{% endblock %}

{% block content-wrap %}
  <main id="content" role="main">
    {% block content %}{% endblock content %}
  </main>

  <div id="sidebar-column">
    <aside id="sidebar">
      <div id="sidebar-cruncher">
        {% block sidebar %}{% endblock sidebar %}
      </div>
    </aside>
  </div>
{% endblock %}

{% block footer %}
<footer id="footer">
    <div id="copyright">© Copyright - Oriane Tury</div>
</footer>
{% endblock %}

{% block app-js %}<script src="{% static 'js/photos.js' %}"></script>{% endblock %}
