{% extends "photologue/base.html" %}

{% block title %}tirages{% endblock %}
{% block og-title %}tirages{% endblock %}
{% block tw-title %}tirages{% endblock %}

{% block og-image %}https://oriane.ink/static/img_base/IMG_7213_home_min.JPG{% endblock %}
{% block tw-image %}https://oriane.ink/static/img_base/IMG_7213_home_min.JPG{% endblock %}

{% comment %}
{% block og-description %}séries photographiques, par oriane tury{% endblock %}
{% block tw-description %}séries photographiques, par oriane tury{% endblock %}
{% endcomment %}

{% block body-class %}infos{% endblock %}

{% block content %}
<div id="gallery-title">
    <h1>tirages</h1>
</div>
{% comment %}
<div id="locale"><a href="#">fr</a> | <a href="#">en</a></div>
{% endcomment %}
<div id="infos">
    <div>
        <a href="/media/photologue/photos/cache/20191210_20191123_0001_vhigh_display.jpg">
            <img src="/media/photologue/photos/cache/20191210_20191123_0001_blog_display.jpg"/>
        </a>
        <p>Les photographies exposées sur ce site sont disponibles à la vente, sous la forme de tirages contrecollés sur Dibond.<br>Chaque image fait l'objet d'une préparation spécifique qui, alliée à un procédé d'impression exigeant, permet une restitution de couleurs optimale. Le Dibond garantit quant à lui un support rigide et durable.</p>
    </div>
    <div>
        <a href="/media/photologue/photos/cache/20191210_20191125_0123_vhigh_display.jpg">
            <img src="/media/photologue/photos/cache/20191210_20191125_0123_blog_display.jpg"/>
        </a>
        <p>Pour le format standard 3:2, les dimensions proposées s'échelonnent de 30x20cm à 90x60cm. Les plus grandes tailles restent soumises à validation de ma part, afin d'assurer la qualité du rendu final.<br>Les <em>light paintings</em> sont imprimés sur Hahnemühle Photo Rag Metallic, un papier retenu pour son fini métallisé et sa texture noble. Les autres séries sont éditées sur différents papiers, toujours sélectionnés dans un souci d'adéquation à l'image et de haute longévité.</p>
    </div>
    <div>
        <a href="/media/photologue/photos/cache/20191210_20191125_0179_vhigh_display.jpg">
            <img src="/media/photologue/photos/cache/20191210_20191125_0179_blog_display.jpg"/>
        </a>
        <p>Les tirages livrés dos nu peuvent être fixés aux murs à l'aide de languettes adhésives réutilisables (non fournies). Sur demande et sans supplément, une attache peut être collée au dos du tirage, à combiner avec un support mural ou des crochets (non fournis).<br>L'option de châssis rentrant, d'environ 2cm d'épaisseur, permet de décoller l'image du mur pour mieux la mettre en valeur. Cette option est disponible entre 30€ et 80€, selon les dimensions du tirage.</p>
    </div>
    <div>
        <a href="/media/photologue/photos/cache/20191210__MG_0528_vhigh_display.jpg">
            <img src="/media/photologue/photos/cache/20191210__MG_0528_blog_display.jpg"/>
        </a>
        <p>
        Certaines images seront particulièrement mises en valeur par une caisse américaine. Avec cette finition, le tirage sur Dibond est fixé dans un cadre de telle sorte à. cadre nielsen sur mesure. facilite les manipulations</p>
    </div>
    <div>
        <a href="/media/photologue/photos/cache/20191210__MG_0509_vhigh_display.jpg">
            <img src="/media/photologue/photos/cache/20191210__MG_0509_blog_display.jpg"/>
        </a>
        <p>Chaque tirage est signé et numéroté à l'encre indélébile. L'inscription au dos du support comporte aussi le nom de la personne à qui le tirage a été délivré. Les photographies sont éditées dans la limite de trente exemplaires, tous formats et supports confondus.<br>Les commandes sont envoyées avec une facture nominative, dont le contenu précise la nature des œuvres et atteste leur authenticité.</p>
    </div>
    <div><p>Les tirages sont exécutés sur commande, d'où un délai de préparation de deux semaines. Ensuite, les livraisons sont suivies et remises en main propre contre signature. Les tarifs de livraison sont fixés à 15€ pour les envois en France métropolitaine, 25€ pour l'Europe, et 50€ pour le reste du monde.</p></div>
    <div><p>tableau indicatif des prix, virement bancaire ou chèque</p></div>
    <div><p>Pour établir une commande ou demander des précisions, merci d'écrire à <a href="mailto:contact@oriane.ink">contact@oriane.ink</a>.</p></div>
</div>
{% endblock %}
