{% extends "photologue/base.html" %}

{% block title %}tirages{% endblock %}
{% block og-title %}tirages{% endblock %}
{% block tw-title %}tirages{% endblock %}

{% block og-image %}https://oriane.ink/static/img_base/IMG_7213_home_min.JPG{% endblock %}
{% block tw-image %}https://oriane.ink/static/img_base/IMG_7213_home_min.JPG{% endblock %}

{% block og-description %}Les photographies exposées sur ce site sont disponibles à la vente, sous la forme de tirages contrecollés sur Dibond.{% endblock %}
{% block tw-description %}Les photographies exposées sur ce site sont disponibles à la vente, sous la forme de tirages contrecollés sur Dibond.{% endblock %}

{% block body-class %}photos-infos{% endblock %}

{% block content %}
<div id="gallery-title">
    <h1>tirages</h1>
</div>
<div id="infos-tirages">
    <div>
        <div class="zoomable">
            <img data-src="/media/photologue/photos/cache/20191210_20191123_0001_blog_display.jpg"/>
            <img src="/media/photologue/photos/cache/20191210_20191123_0001_blog_display.jpg"/>
        </div>
        <a class="no-zoom" href="/media/photologue/photos/cache/20191210_20191123_0001_vhigh_display.jpg">
            <img src="/media/photologue/photos/cache/20191210_20191123_0001_blog_display.jpg"/>
        </a>
        <div id="locale-switch"><a id="locale-switch-fr" href="#fr">fr</a>/<a id="locale-switch-en" href="#en">en</a></div>
        <div class="toggle-locale fr">
            <div class="fr"><p>Les photographies exposées sur ce site sont disponibles à la vente, sous la forme de tirages contrecollés sur Dibond.</p><p>Chaque image fait l'objet d'une préparation spécifique qui, alliée à un procédé d'impression exigeant, permet une restitution de couleurs optimale. Le Dibond garantit quant à lui un support rigide et durable.</p></div>
            <div class="en" lang="en"><p>Most photographs displayed on this website are available for sale, with professional quality paper mounted on a Dibond plate.</p><p>Each picture is specifically prepared for retaining color accuracy throughout the printing process. As to the Dibond plate, it ensures a sturdy and lasting support, while keeping eye focus on the print.</p></div>
        </div>
    </div>
    <div>
        <div class="zoomable">
            <img data-src="/media/photologue/photos/cache/20191210_20191125_0123_vhigh_display.jpg"/>
            <img src="/media/photologue/photos/cache/20191210_20191125_0123_blog_display.jpg"/>
        </div>
        <a class="no-zoom" href="/media/photologue/photos/cache/20191210_20191125_0123_vhigh_display.jpg">
            <img src="/media/photologue/photos/cache/20191210_20191125_0123_blog_display.jpg"/>
        </a>
        <div class="toggle-locale fr">
            <div class="fr"><p>Pour le format standard 3:2, les dimensions proposées s'échelonnent de 30x20cm à 90x60cm. Les plus grandes tailles restent soumises à validation de ma part, afin d'assurer la qualité du rendu final.</p><p>Les <em>light paintings</em> sont imprimés sur Hahnemühle Photo Rag Metallic, un papier retenu pour son fini métallisé et sa texture noble. Les autres séries sont éditées sur différents papiers, toujours sélectionnés dans un souci d'adéquation à l'image et de haute longévité.</p></div>
            <div class="en" lang="en"><p>Dimensions range from 30x20cm to 90x60cm for pictures with a standard 3:2 aspect ratio. Some of the largest prints are best viewed from a reasonable distance. I'll be glad to offer advice if needed.</p><p>Light paintings are printed on Hahnemühle Photo Rag Metallic, a fine art paper with noble texture and a shimmering metallic finish. Other series may be printed on different high-longevity fine art papers, which I select according to the way they suit each picture.</p></div>
        </div>
    </div>
    <div>
        <div class="zoomable">
            <img data-src="/media/photologue/photos/cache/20191210_20191125_0179_blog_display.jpg"/>
            <img src="/media/photologue/photos/cache/20191210_20191125_0179_blog_display.jpg"/>
        </div>
        <a class="no-zoom" href="/media/photologue/photos/cache/20191210_20191125_0179_vhigh_display.jpg">
            <img src="/media/photologue/photos/cache/20191210_20191125_0179_blog_display.jpg"/>
        </a>
        <div class="toggle-locale fr">
            <div class="fr"><p>Les tirages livrés dos nu peuvent être fixés aux murs à l'aide de languettes adhésives réutilisables (non fournies). Sur demande et sans supplément, une attache peut être collée au dos du tirage, à combiner avec un support mural ou des crochets (non fournis).</p><p>Un châssis rentrant, d'environ 2cm d'épaisseur, permet de décoller l'image du mur pour mieux la mettre en valeur. Cette option est proposée entre 30€ et 80€, selon les dimensions du tirage.</p></div>
                <div class="en" lang="en"><p>Prints can be hung to walls using sticky removable strips (not included). Hanging plates may also be attached to the back upon request at no extra charge. Then the prints can be suspended with any kind of small mounts or hooks (not included).</p><p>Another option is to use a 2cm-deep metal inset frame. This way, the print stands out nicely against the wall. This option is charged between 30€ and 80€ depending on the size of the print.</p></div>
        </div>
    </div>
    <div>
        <div class="zoomable">
            <img data-src="/media/photologue/photos/cache/20191210__MG_0528_vhigh_display.jpg"/>
            <img src="/media/photologue/photos/cache/20191210__MG_0528_blog_display.jpg"/>
        </div>
        <a class="no-zoom" href="/media/photologue/photos/cache/20191210__MG_0528_vhigh_display.jpg">
            <img src="/media/photologue/photos/cache/20191210__MG_0528_blog_display.jpg"/>
        </a>
        <div class="toggle-locale fr">
            <div class="fr"><p>Il est parfois préférable d'encadrer le tirage, pour embellir la photographie et aussi pour en faciliter la manipulation. Avec l'option de caisse américaine, le support est fixé à l'intérieur d'un cadre, à&nbsp;15mm des bords. L'image, comme flottante, capture le regard.</p><p>Cette finition est disponible en aluminium ou en bois, avec différents coloris possibles (dont placage en bois naturel). Le prix de la caisse américaine, entre 50€ et 175€, dépend de ses dimensions.</p></div>
            <div class="en" lang="en"><p>It may also be interesting to get a frame around the print, in order to delineate it properly or to make its handling easier. Using a floater frame, the print hangs 15mm from every border.</p><p>This optional finish is available either in aluminium or wood, with multiple colours, including some wood veneers. It is charged between 50€ and 175€ depending on the size of the print.</p></div>
        </div>
    </div>
    <div>
        <div class="zoomable">
            <img data-src="/media/photologue/photos/cache/20191210__MG_0509_vhigh_display.jpg"/>
            <img src="/media/photologue/photos/cache/20191210__MG_0509_blog_display.jpg"/>
        </div>
        <a class="no-zoom" href="/media/photologue/photos/cache/20191210__MG_0509_vhigh_display.jpg">
            <img src="/media/photologue/photos/cache/20191210__MG_0509_blog_display.jpg"/>
        </a>
        <div class="toggle-locale fr">
            <div class="fr"><p>Chaque tirage est signé et numéroté à l'encre indélébile. L'inscription au dos du support comporte aussi le nom de la personne à qui le tirage a été délivré. Les photographies sont éditées dans la limite de trente exemplaires, tous formats et supports confondus.</p><p>Les commandes sont envoyées avec une facture nominative, dont le contenu précise la nature des œuvres et atteste leur authenticité.</p></div>
            <div class="en" lang="en"><p>Each print is signed and numbered with indelebile ink. The buyer's name is also written on the back. For each photograph, up to thirty prints across all sizes are made available.</p><p>Every order is shipped with an invoice, which summarily describes the included prints and acts as a certificate of authenticity.</p></div>
        </div>
    </div>
    <div class="toggle-locale fr">
        <div class="fr">
            <div><p>Les tirages sont exécutés sur commande, d'où un délai de préparation de deux semaines. Une fois expédiées, les livraisons sont suivies et remises en main propre contre signature. Les tarifs de livraison sont fixés à 15€ pour les envois en France métropolitaine, 25€ pour l'Europe, et 50€ pour le reste du monde.</p></div>
            <div><p>Actuellement, les prix sont établis de sorte à ce que le bénéfice d'une vente me permette de produire un second tirage aux mêmes dimensions. Les montants indiqués ci-dessous s'entendent toutes taxes comprises, mais n'incluent pas les frais de livraison ni les options (châssis rentrant ou caisse américaine) mentionnées précédemment.</p></div>
            <div class="with-tables">
                <table>
                    <tr><th>Format 1:1</th><th>Prix</th></tr>
                    <tr><td>20x20</td><td>95€</td></tr>
                    <tr><td>30x30</td><td>125€</td></tr>
                    <tr><td>40x40</td><td>150€</td></tr>
                    <tr><td>60x60</td><td>275€</td></tr>
                </table>
                <table>
                    <tr><th>Format 3:2</th><th>Prix</th></tr>
                    <tr><td>30x20</td><td>120€</td></tr>
                    <tr><td>45x30</td><td>150€</td></tr>
                    <tr><td>60x40</td><td>200€</td></tr>
                    <tr><td>90x60</td><td>350€</td></tr>
                </table>
            </div>
            <div><p>Pour établir une commande ou demander des précisions, écrivez-moi à <a href="mailto:contact@oriane.ink">contact@oriane.ink</a>.<br>Merci pour votre soutien !</p></div>
        </div>
        <div class="en" lang="en">
            <div><p>Commissions take approximately two weeks to be prepared, then they are shipped to the buyer with delivery tracking. Shipping rates are set to 15€ for France, 25€ for Europe, and 50€ for the rest of the world.</p></div>
            <div><p>Print rates are currently indexed so that the profit from one sell enables me to produce a new print of the same size. All prices below are tax-inclusive, but they do not encompass the aforementioned options (inset frame or floating frame). Please note that dimensions are specified in centimeters (to preserve the nice round figures from conversion).</p></div>
            <div class="with-tables">
                <table>
                    <tr><th>1:1 Format</th><th>Rate</th></tr>
                    <tr><td>20x20</td><td>95€</td></tr>
                    <tr><td>30x30</td><td>125€</td></tr>
                    <tr><td>40x40</td><td>150€</td></tr>
                    <tr><td>60x60</td><td>275€</td></tr>
                </table>
                <table>
                    <tr><th>3:2 Format</th><th>Rate</th></tr>
                    <tr><td>30x20</td><td>120€</td></tr>
                    <tr><td>45x30</td><td>150€</td></tr>
                    <tr><td>60x40</td><td>200€</td></tr>
                    <tr><td>90x60</td><td>350€</td></tr>
                </table>
            </div>
            <div><p>Purchases and other inquiries are addressed directly through <a href="mailto:contact@oriane.ink">contact@oriane.ink</a>.<br>Thank you for your support!</p></div>
        </div>
    </div>
</div>
{% endblock %}
