{% extends "photologue/base.html" %}

{% block title %}tirages{% endblock %}
{% block og-title %}tirages{% endblock %}
{% block tw-title %}tirages{% endblock %}

{% block og-image %}https://oriane.ink/static/img_base/IMG_7213_home_min.JPG{% endblock %}
{% block tw-image %}https://oriane.ink/static/img_base/IMG_7213_home_min.JPG{% endblock %}

{% block og-description %}Most photographs displayed on this website are available for sale, with professional quality paper mounted on a Dibond plate.{% endblock %}
{% block tw-description %}Most photographs displayed on this website are available for sale, with professional quality paper mounted on a Dibond plate.{% endblock %}

{% block body-class %}photos-infos photos-infos-tirages{% endblock %}

{% block content %}
<div id="gallery-title">
    <h1 lang="en">prints</h1>
</div>
<div id="infos-tirages" lang="en">
    <div>
        <div>
            <div class="zoomable">
                <img data-src="/media/photologue/photos/cache/20191210_20191123_0001_blog_display.jpg"/>
                <img src="/media/photologue/photos/cache/20191210_20191123_0001_blog_display.jpg"/>
            </div>
            <a class="no-zoom" href="/media/photologue/photos/cache/20191210_20191123_0001_vhigh_display.jpg">
                <img src="/media/photologue/photos/cache/20191210_20191123_0001_blog_display.jpg"/>
            </a>
            <div id="locale-switch"><a id="locale-switch-fr" href="/photos/tirages">fr</a>/<a id="locale-switch-en" href="#">en</a></div>
            <div><p>Most photographs displayed on this website are available for sale, with professional quality paper mounted on a Dibond plate.</p><p>Each picture is specifically prepared for retaining color accuracy throughout the printing process. As to the Dibond plate, it ensures a sturdy and lasting support, while keeping eye focus on the print.</p></div>
        </div>
        <div>
            <div class="zoomable">
                <img data-src="/media/photologue/photos/cache/20191210_20191125_0123_vhigh_display.jpg"/>
                <img src="/media/photologue/photos/cache/20191210_20191125_0123_blog_display.jpg"/>
            </div>
            <a class="no-zoom" href="/media/photologue/photos/cache/20191210_20191125_0123_vhigh_display.jpg">
                <img src="/media/photologue/photos/cache/20191210_20191125_0123_blog_display.jpg"/>
            </a>
            <div><p>Dimensions range from 30x20cm to 90x60cm for pictures with a standard 3:2 aspect ratio. Some of the largest prints are best viewed from a reasonable distance. I'll be glad to offer advice if needed.</p><p>Light paintings are printed on Hahnemühle Photo Rag Metallic, a fine art paper with noble texture and a shimmering metallic finish. Other series may be printed on different high-longevity fine art papers, which I select according to the way they suit each picture.</p></div>
        </div>
        <div>
            <div class="zoomable">
                <img data-src="/media/photologue/photos/cache/20191210_20191125_0179_blog_display.jpg"/>
                <img src="/media/photologue/photos/cache/20191210_20191125_0179_blog_display.jpg"/>
            </div>
            <a class="no-zoom" href="/media/photologue/photos/cache/20191210_20191125_0179_vhigh_display.jpg">
                <img src="/media/photologue/photos/cache/20191210_20191125_0179_blog_display.jpg"/>
            </a>
            <div><p>Prints can be hung to walls using sticky removable strips (not included). Hanging plates may also be attached to the back upon request at no extra charge. Then the prints can be suspended with any kind of small mounts or hooks (not included).</p><p>Another option is to use a 2cm-deep metal inset frame. This way, the print stands out nicely against the wall. This option is charged between 30€ and 80€ depending on the size of the print.</p></div>
        </div>
        <div>
            <div class="zoomable">
                <img data-src="/media/photologue/photos/cache/20191210__MG_0528_vhigh_display.jpg"/>
                <img src="/media/photologue/photos/cache/20191210__MG_0528_blog_display.jpg"/>
            </div>
            <a class="no-zoom" href="/media/photologue/photos/cache/20191210__MG_0528_vhigh_display.jpg">
                <img src="/media/photologue/photos/cache/20191210__MG_0528_blog_display.jpg"/>
            </a>
            <div><p>It may also be interesting to get a frame around the print, in order to delineate it properly or to make its handling easier. Using a floater frame, the print hangs 15mm from every border.</p><p>This optional finish is available either in aluminium or wood, with multiple colours, including some wood veneers. It is charged between 50€ and 175€ depending on the size of the print.</p></div>
        </div>
        <div>
            <div class="zoomable">
                <img data-src="/media/photologue/photos/cache/20191210__MG_0509_vhigh_display.jpg"/>
                <img src="/media/photologue/photos/cache/20191210__MG_0509_blog_display.jpg"/>
            </div>
            <a class="no-zoom" href="/media/photologue/photos/cache/20191210__MG_0509_vhigh_display.jpg">
                <img src="/media/photologue/photos/cache/20191210__MG_0509_blog_display.jpg"/>
            </a>
            <div><p>Each print is signed and numbered with indelebile ink. The buyer's name is also written on the back. For each photograph, up to thirty prints across all sizes are made available.</p><p>Every order is shipped with an invoice, which summarily describes the included prints and acts as a certificate of authenticity.</p></div>
        </div>
    </div>
    <div>
        <div><p>Commissions take approximately two weeks to be prepared, then they are shipped to the buyer with delivery tracking. Shipping rates are set to 15€ for France, 25€ for Europe, and 50€ for the rest of the world.</p></div>
        <div><p>Print rates are currently indexed so that the profit from each sale enables me to produce a new print of the same size. All prices below are tax-inclusive, but they do not encompass the aforementioned options (inset frame or floating frame). Please note that dimensions are specified in centimeters (to preserve the nice round figures from conversion).</p></div>
        <div class="with-tables">
            <table>
                <tr><th>1:1 Format</th><th>Rate</th></tr>
                <tr><td>20x20</td><td>95€</td></tr>
                <tr><td>30x30</td><td>125€</td></tr>
                <tr><td>40x40</td><td>150€</td></tr>
                <tr><td>60x60</td><td>275€</td></tr>
            </table>
            <table>
                <tr><th>3:2 Format</th><th>Rate</th></tr>
                <tr><td>30x20</td><td>120€</td></tr>
                <tr><td>45x30</td><td>150€</td></tr>
                <tr><td>60x40</td><td>200€</td></tr>
                <tr><td>90x60</td><td>350€</td></tr>
            </table>
        </div>
        <div><p>Purchases and other inquiries are addressed directly through <a href="mailto:contact@oriane.ink">contact@oriane.ink</a>.<br>Thank you for your support!</p></div>
    </div>
</div>
{% endblock %}
