{% extends "photologue/base.html" %}

{% block title %}tirages{% endblock %}
{% block og-title %}tirages{% endblock %}
{% block tw-title %}tirages{% endblock %}

{% block og-image %}https://oriane.ink/static/img_base/IMG_7213_home_min.JPG{% endblock %}
{% block tw-image %}https://oriane.ink/static/img_base/IMG_7213_home_min.JPG{% endblock %}

{% block og-description %}Les photographies exposées sur ce site sont disponibles à la vente.{% endblock %}
{% block tw-description %}Les photographies exposées sur ce site sont disponibles à la vente.{% endblock %}

{% block body-class %}photos-infos photos-infos-tirages{% endblock %}

{% block content %}
<div id="gallery-title">
    <h1>tirages</h1>
</div>
<div id="infos-tirages">
    <div>
        <div class="zoomable-container" data-zoom-coeff="1.5">
            <div class="zoomable">
                <img data-src="/media/photologue/photos/cache/20191210_20191123_0001_blog_display.jpg"/>
                <img src="/media/photologue/photos/cache/20191210_20191123_0001_blog_display.jpg"/>
            </div>
            <a class="no-zoom" href="/media/photologue/photos/cache/20191210_20191123_0001_vhigh_display.jpg">
                <img src="/media/photologue/photos/cache/20191210_20191123_0001_blog_display.jpg"/>
            </a>
            <div id="locale-switch"><a id="locale-switch-fr" href="#">fr</a>/<a id="locale-switch-en" href="/photos/prints">en</a></div>
            <div><p>Les photographies exposées sur ce site sont disponibles à la vente. Dans un souci de qualité, les commandes sont établies par mail.</p><p>Chaque image fait l'objet d'une préparation spécifique, afin que l'impression finale réponde à la fois à l'œuvre et à vos besoins.</p></div>
        </div>
        <div class="zoomable-container" data-zoom-coeff="3.76">
            <div class="zoomable">
                <img data-src="/media/photologue/photos/cache/20191210_20191125_0123_vhigh_display.jpg"/>
                <img src="/media/photologue/photos/cache/20191210_20191125_0123_blog_display.jpg"/>
            </div>
            <a class="no-zoom" href="/media/photologue/photos/cache/20191210_20191125_0123_vhigh_display.jpg">
                <img src="/media/photologue/photos/cache/20191210_20191125_0123_blog_display.jpg"/>
            </a>
            <div><p>Les <em lang="en">light paintings</em> sont imprimés sur Hahnemühle Photo Rag Metallic, un papier retenu pour son fini métallisé et sa texture noble.</p><p>Les autres séries sont éditées sur différents papiers, toujours sélectionnés dans un souci d'adéquation à l'image et de longévité.</p></div>
        </div>
        <div class="zoomable-container" data-zoom-coeff="3.76">
            <div class="zoomable">
                <img data-src="/media/photologue/photos/cache/20191210__MG_0528_vhigh_display.jpg"/>
                <img src="/media/photologue/photos/cache/20191210__MG_0528_blog_display.jpg"/>
            </div>
            <a class="no-zoom" href="/media/photologue/photos/cache/20191210__MG_0528_vhigh_display.jpg">
                <img src="/media/photologue/photos/cache/20191210__MG_0528_blog_display.jpg"/>
            </a>
            <div><p>Les tirages sont proposés nus, ou bien sur support Dibond rigide. Sur demande, une accroche murale peut être collée au dos du support.</p><p>Le châssis rentrant ou la caisse américaine sont en option.</p></div>
        </div>
        <div class="zoomable-container" data-zoom-coeff="3.76">
            <div class="zoomable">
                <img data-src="/media/photologue/photos/cache/20191210__MG_0509_vhigh_display.jpg"/>
                <img src="/media/photologue/photos/cache/20191210__MG_0509_blog_display.jpg"/>
            </div>
            <a class="no-zoom" href="/media/photologue/photos/cache/20191210__MG_0509_vhigh_display.jpg">
                <img src="/media/photologue/photos/cache/20191210__MG_0509_blog_display.jpg"/>
            </a>
            <div><p>Chaque tirage est signé et numéroté à l'encre indélébile. L'inscription comporte aussi le nom de la personne à qui le tirage a été délivré.</p><p>Les commandes sont envoyées avec une facture nominative, dont le contenu précise la nature des œuvres et atteste leur authenticité.</p></div>
        </div>
    </div>
    <div>
        <div><p>Les livraisons sont expédiées sous deux semaines. Elles sont suivies et remises en main propre contre signature. Les tarifs de livraison sont fixés à 15€ pour la France métropolitaine, 25€ pour l'Europe, et 50€ pour le reste du monde.</p></div>
        <div><p>Vous trouverez ci-dessous des montants indicatifs pour l'impression d'images au format standard 3:2. Ces montants s'entendent toutes taxes comprises. Ils n'incluent pas les frais de livraison ni les options d'encadrement.</p></div>
        <div class="with-tables">
            <table>
                <tr><th>Dimensions</th><th>Tirage sans support</th><th>Tirage sur Dibond</th></tr>
                <tr><td>45x30</td><td>65€</td><td>150€</td></tr>
                <tr><td>60x40</td><td>80€</td><td>200€</td></tr>
                <tr><td>90x60</td><td>160€</td><td>350€</td></tr>
            </table>
        </div>
        <div><p>Pour établir une commande ou demander des précisions, écrivez-moi à <a href="mailto:contact@oriane.ink">contact@oriane.ink</a>.<br>Merci pour votre soutien !</p></div>
    </div>
</div>
{% endblock %}
