div.molopeach .hll { background-color: #ffffcc }
div.molopeach  { background: #080808; color: #fafafa; background-color: #080808 }
div.molopeach .c { color: #6a6ad1; background-color: #080808 } /* Comment */
div.molopeach .err { color: #fafafa; background-color: #080808 } /* Error */
div.molopeach .esc { color: #fafafa; background-color: #080808 } /* Escape */
div.molopeach .g { color: #fafafa; background-color: #080808 } /* Generic */
div.molopeach .k { color: #ff9a00; background-color: #080808 } /* Keyword */
div.molopeach .l { color: #fafafa; background-color: #080808 } /* Literal */
div.molopeach .n { color: #fafafa; background-color: #080808 } /* Name */
div.molopeach .o { color: #fafafa; background-color: #080808 } /* Operator */
div.molopeach .x { color: #fafafa; background-color: #080808 } /* Other */
div.molopeach .p { color: #fafafa; background-color: #080808 } /* Punctuation */
div.molopeach .ch { color: #6a6ad1; background-color: #080808 } /* Comment.Hashbang */
div.molopeach .cm { color: #6a6ad1; background-color: #080808 } /* Comment.Multiline */
div.molopeach .cp { color: #a772c8; background-color: #080808 } /* Comment.Preproc */
div.molopeach .cpf { color: #6a6ad1; background-color: #080808 } /* Comment.PreprocFile */
div.molopeach .c1 { color: #6a6ad1; background-color: #080808 } /* Comment.Single */
div.molopeach .cs { color: #6a6ad1; background-color: #080808 } /* Comment.Special */
div.molopeach .gd { color: #6a6ad1; background-color: #64a3ce } /* Generic.Deleted */
div.molopeach .ge { color: #fafafa; background-color: #080808 } /* Generic.Emph */
div.molopeach .gr { color: #dadae0; background-color: #eb007d } /* Generic.Error */
div.molopeach .gh { color: #a772c8; background-color: #080808 } /* Generic.Heading */
div.molopeach .gi { color: #fafafa; background-color: #6a6ad1 } /* Generic.Inserted */
div.molopeach .go { color: #6a6ad1; background-color: #080808 } /* Generic.Output */
div.molopeach .gp { color: #fafafa; background-color: #080808 } /* Generic.Prompt */
div.molopeach .gs { color: #fafafa; background-color: #080808 } /* Generic.Strong */
div.molopeach .gu { color: #a772c8; background-color: #080808 } /* Generic.Subheading */
div.molopeach .gt { color: #dadae0; background-color: #eb007d } /* Generic.Traceback */
div.molopeach .kc { color: #64a3ce; background-color: #080808 } /* Keyword.Constant */
div.molopeach .kd { color: #93e927; background-color: #080808 } /* Keyword.Declaration */
div.molopeach .kn { color: #ff9a00; background-color: #080808 } /* Keyword.Namespace */
div.molopeach .kp { color: #ff9a00; background-color: #080808 } /* Keyword.Pseudo */
div.molopeach .kr { color: #ff9a00; background-color: #080808 } /* Keyword.Reserved */
div.molopeach .kt { color: #ff9a00; background-color: #080808 } /* Keyword.Type */
div.molopeach .ld { color: #fafafa; background-color: #080808 } /* Literal.Date */
div.molopeach .m { color: #fafafa; background-color: #080808 } /* Literal.Number */
div.molopeach .s { color: #eb007d; background-color: #080808 } /* Literal.String */
div.molopeach .na { color: #fafafa; background-color: #080808 } /* Name.Attribute */
div.molopeach .nb { color: #64a3ce; background-color: #080808 } /* Name.Builtin */
div.molopeach .nc { color: #fafafa; background-color: #080808 } /* Name.Class */
div.molopeach .no { color: #eb007d; background-color: #080808 } /* Name.Constant */
div.molopeach .nd { color: #fafafa; background-color: #080808 } /* Name.Decorator */
div.molopeach .ni { color: #a772c8; background-color: #080808 } /* Name.Entity */
div.molopeach .ne { color: #fafafa; background-color: #080808 } /* Name.Exception */
div.molopeach .nf { color: #fafafa; background-color: #080808 } /* Name.Function */
div.molopeach .nl { color: #fafafa; background-color: #080808 } /* Name.Label */
div.molopeach .nn { color: #fafafa; background-color: #080808 } /* Name.Namespace */
div.molopeach .nx { color: #fafafa; background-color: #080808 } /* Name.Other */
div.molopeach .py { color: #fafafa; background-color: #080808 } /* Name.Property */
div.molopeach .nt { color: #ff9a00; background-color: #080808 } /* Name.Tag */
div.molopeach .nv { color: #fafafa; background-color: #080808 } /* Name.Variable */
div.molopeach .ow { color: #fafafa; background-color: #080808 } /* Operator.Word */
div.molopeach .w { color: #fafafa; background-color: #080808 } /* Text.Whitespace */
div.molopeach .mb { color: #fafafa; background-color: #080808 } /* Literal.Number.Bin */
div.molopeach .mf { color: #fafafa; background-color: #080808 } /* Literal.Number.Float */
div.molopeach .mh { color: #fafafa; background-color: #080808 } /* Literal.Number.Hex */
div.molopeach .mi { color: #fafafa; background-color: #080808 } /* Literal.Number.Integer */
div.molopeach .mo { color: #fafafa; background-color: #080808 } /* Literal.Number.Oct */
div.molopeach .sa { color: #eb007d; background-color: #080808 } /* Literal.String.Affix */
div.molopeach .sb { color: #eb007d; background-color: #080808 } /* Literal.String.Backtick */
div.molopeach .sc { color: #eb007d; background-color: #080808 } /* Literal.String.Char */
div.molopeach .dl { color: #eb007d; background-color: #080808 } /* Literal.String.Delimiter */
div.molopeach .sd { color: #eb007d; background-color: #080808 } /* Literal.String.Doc */
div.molopeach .s2 { color: #eb007d; background-color: #080808 } /* Literal.String.Double */
div.molopeach .se { color: #eb007d; background-color: #080808 } /* Literal.String.Escape */
div.molopeach .sh { color: #eb007d; background-color: #080808 } /* Literal.String.Heredoc */
div.molopeach .si { color: #eb007d; background-color: #080808 } /* Literal.String.Interpol */
div.molopeach .sx { color: #eb007d; background-color: #080808 } /* Literal.String.Other */
div.molopeach .sr { color: #eb007d; background-color: #080808 } /* Literal.String.Regex */
div.molopeach .s1 { color: #eb007d; background-color: #080808 } /* Literal.String.Single */
div.molopeach .ss { color: #eb007d; background-color: #080808 } /* Literal.String.Symbol */
div.molopeach .bp { color: #64a3ce; background-color: #080808 } /* Name.Builtin.Pseudo */
div.molopeach .fm { color: #fafafa; background-color: #080808 } /* Name.Function.Magic */
div.molopeach .vc { color: #fafafa; background-color: #080808 } /* Name.Variable.Class */
div.molopeach .vg { color: #fafafa; background-color: #080808 } /* Name.Variable.Global */
div.molopeach .vi { color: #fafafa; background-color: #080808 } /* Name.Variable.Instance */
div.molopeach .vm { color: #fafafa; background-color: #080808 } /* Name.Variable.Magic */
div.molopeach .il { color: #fafafa; background-color: #080808 } /* Literal.Number.Integer.Long */
