{% load comments %}
{% load i18n %}
<form id="comment_form_custom" action="{% comment_form_target %}" method="post" aria-live="polite">{% csrf_token %}
  {% if next %}
    <div><input type="hidden" name="next" value="{{ next }}"/></div>{% endif %}
  <div class="form_inputs">
  {% for field in form %}
    {% if field.is_hidden %}
      <div>{{ field }}</div>
    {% else %}
      {% if field.errors %}{{ field.errors }}{% endif %}
      <p
              {% if field.errors %} class="error"{% endif %}
              {% ifequal field.name "name" %}{% if user.is_authenticated %} style="display:none;"{% endif %}{% endifequal %}
              {% ifequal field.name "email" %}{% if user.is_authenticated %} style="display:none;"{% endif %}{% endifequal %}
              {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
        {{ field.label_tag|lower }} {{ field }}
      </p>
    {% endif %}
  {% endfor %}
  </div>
  <div class="form_buttons">
    <input type="submit" name="post" class="submit-post" value="envoyer"/>
  </div>
</form>
