{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

  <head>
    <meta charset="utf-8" />
    <title>{% block title-before %}{% endblock %}{% block title %}{% endblock %}{% block title-after %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta property="og:title" content="{% block og-title %}{% endblock %}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{% block og-image %}https://trompe-la-nuit.ink/static/img_base/tln_logo_blue_glow_fb.png{% endblock %}" />
    <meta property="og:description" content="{% block og-description %}{% endblock og-description %}" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{% block tw-title %}{% endblock %}" />
    <meta name="twitter:description" content="{% block tw-description %}{% endblock tw-description %}" />
    <meta name="twitter:image" content="{% block tw-image %}https://trompe-la-nuit.ink/static/img_base/tln_logo_blue_glow_tw.png{% endblock %}" />
    <meta name="author" content="max tury" />
    <meta name="keywords" content="{% block meta-keywords %}photos, blog, cinema, film, critique, reviews, vérités extatiques{% endblock meta-keywords %}" />{% block meta %}{% endblock meta %}
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tln.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% block css-path %}{% endblock %}" />{% block link %}{% endblock link %}{% block script %}{% endblock script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>{% block import-scripts %}{% endblock %}
    <script>var userIsAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};</script> <!-- display tweaks for the admin -->
  </head>

  <body class="{% block body-class %}{% endblock body-class %}">

    {% block skip-link %}{% endblock %}

    {% block header %}
    <header id="header" role="banner">
      <nav id="top-nav-h-access" class="hidden"><ul>
          <li><a tabindex="-1" href="/">Home</a></li>
          <li><a tabindex="-1" href="{% url 'zinnia:entry_archive_index' %}">Blog</a></li>
          <li><a tabindex="-1" href="/photos/">Photos</a>
              <ul>
              {% for gallerycustom in gallery_list %}
              <li><a tabindex="-1" href="{{ gallerycustom.gallery.get_absolute_url }}">{{ gallerycustom.gallery.title }}</a></li>
              {% endfor %}
              </ul></li>
          <li><a tabindex="-1" href="/critique/">Critique</a></li>
          <li><a tabindex="-1" href="/#info">À propos</a></li>
      </ul></nav>

      <nav id="top-nav-h" class="navbar" role="presentation">
        <a id="homepage-link" href="/">
            <img class="img-top" src={% static 'img_base/tln_logo_rust_light_mini.png' %} alt="tln"/>
            <img class="img-bottom" src={% static 'img_base/tln_logo_blue_glow_mini.png' %} alt="tln"/>
        </a>
        <span class="nav-separator-homepage"></span>
        <ul id="top-nav1">
          <li><a href="{% url 'zinnia:entry_archive_index' %}">Blog</a></li>
          <span class="nav-separator-sub"></span>
          <li id="photos-dropdown-menu" class="dropdown">
              <a id="photos-dropdown-link" href="/photos/">Photos</a>
              <div class="dropdown-content">
                  <div class="shadow-up"></div>
                  <div class="shadow-right"></div>
                  <div class="shadow-down"></div>
                  <div class="shadow-left"></div>
                  {% for gallerycustom in gallery_list %}
                  <a href="{{ gallerycustom.gallery.get_absolute_url }}">{{ gallerycustom.gallery.title }}</a>
                  {% if not forloop.last %}
                  <div class="dropdown-separator"></div>
                  {% endif %}
                  {% endfor %}
              </div>
          </li>
        </ul>
          <span class="nav-separator"></span>
        <ul id="top-nav2">
          <li><a href="/critique/">Critique</a></li>
          <span class="nav-separator-sub"></span>
          <li><a href="/#info">À propos</a></li>
        </ul>
      </nav>
      {% block header-more %}{% endblock %}
    </header>
    {% endblock %}

    <div id="content-wrap" class="{% block content-wrap-class %}{% endblock %}">
        {% block content-wrap %}{% endblock %}
    </div>

    {% block footer %}{% endblock %}

    {% block overlays %}{% endblock %}

    {% if not user.is_authenticated %}
    <div class="overlay">
        <form id="login_form" action="{% url 'login' %}" method="post">
            <div class="form_inputs">
                {% csrf_token %}
                {{ login_form.as_p }}
            </div>
            <div class="form_buttons">
                <input type="submit" value="envoyer"/>
                <div class="filler"></div>
                <input type="reset" value="annuler"/>
            </div>
        </form>
    </div>
    {% endif %}

    <script src="{% static 'js/tln.js' %}"></script>
    <script src="{% static 'js/tln_form_validate.js' %}"></script>

  </body>

</html>
