{% load staticfiles %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">

  <head>
    <meta charset="utf-8" />
    <title>tln{% block title-between %}{% endblock %}{% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %}</title>
    <meta name="robots" content="follow, all" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="{% block meta-description %}{% endblock meta-description %}{% block meta-description-page %}{% endblock meta-description-page %}" />
    <meta name="author" content="max tury" />
    <meta name="keywords" content="{% block meta-keywords %}photos, blog, cinema, critique{% endblock meta-keywords %}" />
    {% block meta %}{% endblock meta %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}" />
    <link rel="home" href="{% url 'zinnia:entry_archive_index' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/tln.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% block css-path %}{% endblock %}" />
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
  </head>

  <body class="{% block body-class %}{% endblock body-class %}">

    <header id="header" role="banner">
      <nav id="top-navigation">
        <ul id="top-navigation1">
          <li><a href="{% url 'zinnia:entry_archive_index' %}" rel="home">Blog</a></li>
          <span class="nav-separator-sub"></span>
          <li class="dropdown">
              <a href="/photos">Photos</a>
              <div class="dropdown-content">
                  {% for gallerycustom in gallery_list %}
                  <a href="{{ gallerycustom.gallery.get_absolute_url }}">{{ gallerycustom.gallery.title }}</a>
                  {% if not forloop.last %}
                  <div class="dropdown-separator"></div>
                  {% endif %}
                  {% endfor %}
              </div>
          </li>
        </ul>
          <span class="nav-separator"></span>
        <ul id="top-navigation2">
          <li><a href="/critique">Critique</a></li>
          <span class="nav-separator-sub"></span>
          <li><a href="/info">À propos</a></li>
        </ul>
      </nav>
      {% block header-more %}{% endblock %}
    </header>

    {% block content-wrap %}{% endblock %}

    <footer>{% block footer %}{% endblock %}</footer>

    {% block overlays %}{% endblock %}

    {% if not user.is_authenticated %}
    <div class="overlay">
        <form id="login_form" action="{% url 'login' %}" method="post">
            <div class="form_inputs">
                {% csrf_token %}
                {{ login_form.as_p }}
            </div>
            <div class="form_buttons">
                <input type="submit" value="envoyer"/>
                <div class="filler"></div>
                <input type="reset" value="annuler"/>
            </div>
        </form>
    </div>
    {% endif %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block import-scripts %}{% endblock %}
    <script>
        <!-- this variable does not enable access to sensitive operations -->
        <!-- it is only used for basic display tweaks meant for the admin -->
        var userIsAuthenticated = {% if user.is_authenticated %}true{% else %}false{% endif %};
    </script>
    <script src="{% static 'js/tln.js' %}"></script>

  </body>

</html>
