{% extends "zinnia/skeleton.html" %}
{% load i18n %}
{% load zinnia %}
{% load blog_extras %}

{% block meta-keywords %}{% get_tags as entry_tags %}{{ entry_tags|join:", "}}{% endblock meta-keywords %}

{% block link %}
    <link rel="index" href="{% url 'zinnia:entry_archive_index' %}" />
    <link rel="alternate" type="application/rss+xml" title="{% trans "RSS feed of last entries" %}" href="{% url 'zinnia:entry_feed' %}" />
{% endblock link %}

{% block breadcrumbs %}
  {% trans "Blog" as root_name %}
  {% zinnia_breadcrumbs root_name %}
{% endblock breadcrumbs %}

{% block sidebar %}
<div id="widget-welcome" class="widget">
  <div id="welcome-quote" lang="en">
      Cette petite fille qui s'amusait d'un rien,<br/>
      cette femme qui ne se contentait de rien.<br/>
      Bérénice avait deux visages,<br/>
      cette nuit et ce jour.
  </div>
  <div id="welcome-author" lang="en">
  Louis Aragon — Aurélien
  </div>
</div>
<nav id="widget-tags" class="widget">
  <h3>
    {% trans "Tags" %}
  </h3>
  {% get_tag_cloud_su_sensitive %}
</nav>
<nav id="widget-archives" class="widget">
  <h3>{% trans "Archives" %}</h3>
  {% get_archives_entries_tree_su_sensitive %}
</nav>
{% if user.is_authenticated %}
<div id="widget-tools" class="widget">
  <h3>{% trans "Tools" %}</h3>
  <ul>
    {% if user.is_superuser %}
        {% block admin-tools %}
        {% endblock admin-tools %}
    {% endif %}
    <li>
      <a href="/logout" title="déconnexion">déconnexion :: {{user.username}}</a>
    </li>
  </ul>
</div>
{% endif %}
{% endblock sidebar %}
