{% extends "zinnia/base.html" %}
{% load i18n %}
{% load zinnia %}
{% load blog_extras %}

{% block title %}{% spaceless %}
{% if tag %}
{% blocktrans with object=tag %}blog - {{ object }}{% endblocktrans %}
{% endif %}
{% endspaceless %}{% endblock title %}

{% block meta-description %}d'éparses pensées{% endblock %}

{% block body-class %}entry-list{% if tag %} tag tag-{{ tag|slugify }}{% endif %}{% endblock body-class %}

{% block content %}
{% block content-loop %}
<div class="entry-links"><ul>
<p>maintenance en cours lol</p>
    {% tag_entries_with_year object_list as year_entries %}
    {% regroup year_entries by year as year_entries_groups %}
    {% for year, year_entries_group in year_entries_groups %}
    <li class="entries-year">
        <div class="group-year">{{ year }}</div>
        <ul>
        {% for year_entry in year_entries_group %}
            {% with entry=year_entry.entry %}
            <li class="entry-line">
                <span class="entry-date">{{ entry.publication_date|date:"j F" }}</span>
                <a href="{{ entry.get_absolute_url }}" class="entry-link" rel="bookmark" itemprop="url">{{ entry.title }}</a>
            </li>
            {% endwith %}
        {% endfor %}
        </ul>
    {% empty %}
      <p class="info">      {# TODO style (accéder avec via tags/null) #}
        Il n'y a rien ici !
      </p>
    {% endfor %}
    </li>
</ul></div>
{% endblock content-loop %}
{% endblock content %}
