{% extends "zinnia/base.html" %}
{% load i18n %}
{% load zinnia %}
{% load blog_extras %}

{% block title %}{% spaceless %}
{% if tag %}
{% blocktrans with object=tag %}blog - {{ object }}{% endblocktrans %}
{% endif %}
{% endspaceless %}{% endblock title %}

{% block meta-description %}d'éparses pensées{% endblock %}

{% block body-class %}entry-list{% if tag %} tag tag-{{ tag|slugify }}{% endif %}{% endblock body-class %}

{% block content %}
{% block content-loop %}
<div class="entry-links"><ul>
    {% tag_entries_with_year object_list as year_entries %}
    {% regroup year_entries by year as year_entries_groups %}
    {% for year, year_entries_group in year_entries_groups %}
    <li class="entries-year">
        <div class="group-year">{{ year }}</div>
        <ul>
        {% for year_entry in year_entries_group %}
            {% with entry=year_entry.entry %}
            <li class="entry-body">
                <span class="entry-date">{{ entry.publication_date|date:"j F" }}</span>
                <a href="{{ entry.get_absolute_url }}" class="entry-link{% if 'Psychanalyse' in entry.title or 'Pride' in entry.title %} entry-link-marked{% endif %}" rel="bookmark" itemprop="url"{% if not entry.custom.lang == 'fr-FR' %} lang="{{ entry.custom.lang }}"{% endif %}>{{ entry.title }}</a>
                {# dirty hack to prevent orphaned words for selected titles #}
            </li>
            {% endwith %}
        {% endfor %}
        </ul>
    {% empty %}
        <div class="entries-empty">
            <p>Il n'y a rien ici !</p>
            <p><a href="/blog/">Retour vers le blog.</a></p>
        </div>
    {% endfor %}
    </li>
</ul></div>
{% endblock content-loop %}
{% endblock content %}
