{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block css-path %}{% static 'css/blog.css' %}{% endblock %}
{% block title-between %} - {% endblock %}

{% comment %}
<header id="header" role="banner">
  <nav>
    <ul class="top-navigation">
      <li>
        <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap" rel="sitemap">
          {% trans "Sitemap" %}
        </a>
      </li>
      <li>
        <a href="{% url 'zinnia:entry_feed' %}" title="{% trans "RSS feed of last entries" %}" class="feeds">
          {% trans "RSS feed" %}
        </a>
      </li>
    </ul>
  </nav>
  <form method="get" action="{% url 'zinnia:entry_search' %}">
    <p>
      <input type="text" name="pattern" placeholder="{% trans "Keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %} />
      <input type="submit" class="submitbutton" value="OK" />
    </p>
  </form>
  {% block breadcrumbs %}{% endblock breadcrumbs %}
</header>
{% endcomment %}

{% block content-wrap %}
<div class="container">
  {% block slider %}{% endblock slider %}
  <div id="blog-content-wrap">
    <div id="sidebar-wrap-balance" role="none"></div>
    <div id="content" class="hfeed" role="main">
      {% block content %}
      {% endblock content %}
    </div>
    <div id="sidebar-wrap">
      <div id="sidebar-balance" role="none"></div>
      <div id="sidebar" role="complementary">
        {% block sidebar %}
        {% endblock sidebar %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
