{% extends 'tln/base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block css-path %}{% static 'css/blog.css' %}{% endblock %}
{% block title-between %} - {% endblock %}

{% block body %}
<div class="container">
  <header id="header" role="banner">
  {% comment %}
    <nav>
      <ul class="top-navigation">
        <li>
          <a href="{% url 'zinnia:sitemap' %}" title="{% trans "Sitemap" %}" class="sitemap" rel="sitemap">
            {% trans "Sitemap" %}
          </a>
        </li>
        <li>
          <a href="{% url 'zinnia:entry_feed' %}" title="{% trans "RSS feed of last entries" %}" class="feeds">
            {% trans "RSS feed" %}
          </a>
        </li>
      </ul>
    </nav>
    <form method="get" action="{% url 'zinnia:entry_search' %}">
      <p>
        <input type="text" name="pattern" placeholder="{% trans "Keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %} />
        <input type="submit" class="submitbutton" value="OK" />
      </p>
    </form>
    <h1>
      <a href="{% url 'zinnia:entry_archive_index' %}" title="Zinnia's Weblog" rel="home">
        Zinnia's Weblog
      </a>
    </h1>
    <blockquote>
      <p>{% trans "another Zinnia weblog." %}</p>
    </blockquote>
    {% block breadcrumbs %}{% endblock breadcrumbs %}
  {% endcomment %}
    <h1>
      <a href="{% url 'zinnia:entry_archive_index' %}" id="top_title" title="blog" rel="home">
        blog
      </a>
    </h1>
  </header>
  {% block slider %}{% endblock slider %}
  <div id="blog-content-wrap">
    <div id="sidebar-wrap-balance" role="none"></div>
    <div id="content" class="hfeed" role="main">
      {% block content %}
      {% endblock content %}
    </div>
    <div id="sidebar-wrap">
      <div id="sidebar-balance" role="none"></div>
      <div id="sidebar" role="complementary">
        {% block sidebar %}
        {% endblock sidebar %}
      </div>
    </div>
  </div>
  {% comment %}
  <footer id="footer" role="contentinfo">
    <p>{% blocktrans %}Powered by <a href="http://www.djangoproject.com">Django</a> and <a href="https://github.com/Fantomas42/django-blog-zinnia">Zinnia {{ ZINNIA_VERSION }}</a>.{% endblocktrans %}</p>
  </footer>
  {% endcomment %}
</div>
{% endblock %}
