/* Main
   ========================================================================== */
body > header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    pointer-events: none; }

#critique-header {
    box-shadow: 0 3px 13px 0px rgba(0, 0, 0, 0.23);
    pointer-events: auto; }
@media (min-width: 1921px) {
#critique-header { background-size: 100% auto; } }
@media (min-width: 961px) {
#critique-header {
    background-position: right top;
    background-image: url("/static/tln/img/critique_background_header.jpg"); } }
@media (max-width: 960px) {
#critique-header #main-nav {
    background-position: right top;
    background-image: url("/static/tln/img/critique_background_header_min.jpg"); } }

#content-wrap { margin-top: 64px; }
@media (min-width: 961px) { #content-wrap.decenter { margin-right: 1.4%; } }
#content { margin-top: 36px; outline: none; }

hr, .hseparator {
    margin-left: -1px;
    max-width: 777px;
    width: 100%;
    border-bottom-color: black; }
@media (max-width: 800px) { hr, .hseparator { width: 68% !important; margin-left: 0; } }

#pagination { margin-top: 10px; padding-right: 96px; text-align: right; }
@media (max-width: 800px) {
#pagination { padding-right: 0; text-align: center; } }


/* ==========================================================================
/* Navigation Bars
/* ========================================================================== */

/* Top Navigation Bar
   ========================================================================== */

#top-nav-h {
    visibility: hidden;
    background-image: url("/static/tln/img/critique_background_content_norm.jpg");
    background-size: 100% auto;
    height: 0;
    margin: 0;
    padding: 0;
    transition: all 0.4s ease;
    pointer-events: auto; }
@media (max-width: 960px) {
#top-nav-h { background-image: url("/static/tln/img/critique_background_content_min.jpg"); } }

#top-nav-h.expanded {
    visibility: visible;
    padding: 7px 0 5px 0;
    height: 70px; }
@media (max-width: 820px) { #top-nav-h.expanded { height: 86px; } }

#top-nav-h a, #top-nav-h span { opacity: 0; line-height: 1.15; }
#top-nav-h.expanded a, #top-nav-h.expanded span { opacity: 1; }

#top-nav-h > * {
    transform: translateY(-35px);
    transition: all 0.4s ease; }
#top-nav-h.expanded > * {
    transform: none; }
#top-nav1 { z-index: 200; }


/* Main Navigation Bar
   ========================================================================== */

#main-nav {
    line-height: 1.15;
    justify-content: space-between; }

#main-nav #top-nav-trigger {
    margin-left: 50px;
    font-family: SoljikDambaek, "Times New Roman", Times, serif;
    font-size: 56px; }
@media (max-width: 820px) {
#main-nav #top-nav-trigger {
    margin-left: 32px; } }

#main-nav ul {
    font-size: 46px;
    display: flex;
    justify-content: flex-end; }

#critique-header #main-nav > nav > ul { margin-right: 0; }
@media (max-width: 1380px) {
#critique-header #main-nav > nav { flex: 1; } }

#critique-header #main-nav li { margin: 0 34px; }
#critique-header #main-nav #critique-search.expanded { margin-left: 12px; }

#critique-header #main-nav #main-nav-links {
    padding-top: 2px;
    display: flex; }
@media(max-width: 700px) {
#critique-header #main-nav #main-nav-links { padding-top: 4px; } }


/* Search Button
   ========================================================================== */

#critique-header #main-nav #sub-nav-trigger {
    margin-left: 18px;
    margin-right: 17px;
    transition: margin 0.4s ease;
}
#critique-header #main-nav #sub-nav-trigger.reduced { margin-right: 38px; }
@media(max-width: 700px) {
#critique-header #main-nav #sub-nav-trigger {
    margin-left: -2px;
    margin-right: -1px; } }

#critique-search {
    position: relative;
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    transition: all 0.4s ease; }
#critique-header #main-nav #critique-search { margin-right: 15px; }
#critique-search-field {
    position: relative;
    display: flex;
    flex-direction: row; }
_:-ms-fullscreen, :root #critique-search { top: 0; } /* IE 11 */

#critique-search-m {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 64px;
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    transform: translateY(-100%);
    transition: transform 0.4s ease, z-index 0s ease 0.4s; }
@media(min-width: 701px) { #critique-search-m { display: none; } }
@media(max-width: 700px) {
#critique-search-m.expanded {
    z-index: 1;
    transform: translateY(0);
    transition: transform 0.4s ease, z-index 0s ease; } }
#critique-search-field-m {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row; }

#critique-search-form {
    display: flex;
    flex-direction: column;
    justify-content: center; }
#critique-search #critique-search-input {
    border: 2px solid #deda99;
    padding: 6px 0;
    width: 40px;
    background-color: #fffddb;
    font-size: 20px;
    cursor: pointer;
    transition: padding 0.4s ease, width 0.4s ease, border 0s ease 0.4s, background-color 0s ease 0.4s; }
@media(min-width: 701px) {
#critique-search.expanded #critique-search-input {
    width: 300px;
    padding: 6px 24px 6px 4px;
    cursor: initial;
    transition: padding 0.4s ease, width 0.4s ease, border 0.4s ease, border-color 0s ease; } }
#critique-search-input:focus, #critique-search-input-m:focus { outline: none; }

#critique-search-form-m {
    height: 100%;
    width: 100%; }
#critique-search-input-m {
    height: 100%;
    width: 100%;
    border: 4px solid #deda99;
    padding: 6px 8px;
    background-color: #fffddb;
    font-size: 32px; }

#critique-search-field a, #critique-search-field-m a {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
#critique-search-button { left: -8px; }
#critique-searchend-button { left: -11px; }
#critique-search-field-m a { left: -15px; }
#critique-search-field a:focus, #critique-search-field-m a:focus { outline: none; }

#critique-search #critique-search-button { z-index: 0; }
#critique-search #critique-searchend-button { z-index: -1; opacity: 0; }
@media(min-width: 701px) {
#critique-search.expanded #critique-search-button { z-index: -1; opacity: 0; }
#critique-search.expanded #critique-searchend-button { z-index: 0; opacity: 1; } }

#critique-search img, #critique-search-m img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-100%, -50%);
    transition: opacity 0.2s ease; }
#critique-search img.img-bottom, #critique-search-m img.img-bottom { opacity: 0; }
#critique-search img.img-top:hover, #critique-search-m img.img-top:hover { opacity: 0; }
#critique-search img.img-bottom:hover, #critique-search-m img.img-bottom:hover { opacity: 1; }
#critique-search-button img { height: 24px; }
_:-ms-fullscreen, :root #critique-search-button img { top: 8px; transform: translate(-100%, 0);} /* IE 11 */
#critique-searchend-button img { height: 17px; }
_:-ms-fullscreen, :root #critique-searchend-button img { top: 50%; left: 0; } /* IE 11 */
#critique-searchend-button-m img { height: 34px; }
_:-ms-fullscreen, :root #critique-searchend-button-m img { top: 50%; left: 0; } /* IE 11 */

#critique-search-results {
    z-index: 9;
    display: none;
    position: absolute;
    top: 95%;
    width: 100%; }
#critique-search-results-list {
    z-index: 10;
    display: flex;
    flex-direction: column; }
@media(min-width: 701px) {
#critique-search.expanded #critique-search-results.expanded { display: block; } }

#critique-search-results-m { height: 0; }
@media(min-width: 701px) {
#critique-search-m.expanded #critique-search-results-m { height: auto; } }
@media(max-width: 700px) {
#critique-search-m:not(.expanded) #critique-search-results-list-m { display: none; } }

#critique-search-results-list li, #critique-search-results-list-m li {
    position: relative;
    margin: 0 !important;   /* actually, it isn't */
    width: 100%;
    text-align: left; }
#critique-search-results-list li.empty, #critique-search-results-list-m li.empty {
    border: 2px solid #d3d4db;
    background-color: #fffddb;
    text-align: center; }
#critique-search-results-list-m li.empty { border-width: 4px; }
#critique-search-results-list li.empty { padding: 6px 0; font-size: 20px; }
#critique-search-results-list-m li.empty { padding: 8px 0; font-size: 34px; }
#critique-search-results-list a, #critique-search-results-list-m a {
    display: block;
    margin: 0;
    border-top: 1px solid #d3d4db;
    border-bottom: 1px solid #d3d4db;
    border-left: 2px solid #d3d4db;
    border-right: 2px solid #d3d4db;
    padding: 6px 6px 4px 6px;
    width: 100%;
    background-color: #fffddb;
    color: black;
    transition: box-shadow 0.2s ease; }
#critique-search-results-list-m a {
    border-top-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 4px;
    border-right-width: 4px; }
#critique-search-results-list a { padding: 6px 6px 4px 6px; }
#critique-search-results-list-m a { padding: 10px 9px 9px 9px; }
#critique-search-results-list li:first-child a { border-top-width: 2px; }
#critique-search-results-list-m li:first-child a { border-top-width: 4px; }
#critique-search-results-list li:last-child a { border-bottom-width: 2px; }
#critique-search-results-list-m li:last-child a { border-bottom-width: 4px; }

#critique-search-results-list a:focus,
#critique-search-results-list a:hover,
#critique-search-results-list-m a:focus,
#critique-search-results-list-m a:hover {
    z-index: 11;
    position: relative;
    outline: none; }
#critique-search-results-list.highlight-ok a:focus,
#critique-search-results-list.highlight-ok a:hover {
    padding-left: 7px;
    padding-right: 7px;
    box-shadow: 0 0 14px 0 rgba(0, 13, 181, 0.8);
    border-left-width: 1px; border-right-width: 1px; }
#critique-search-results-list-m.highlight-ok a:focus,
#critique-search-results-list-m.highlight-ok a:hover {
    box-shadow: inset 0 0 14px 0 rgba(0, 13, 181, 0.8); }
#critique-search-results-list.highlight-ok li:first-child a:focus,
#critique-search-results-list.highlight-ok li:first-child a:hover {
    margin-top: 1px;
    border-top-width: 1px; }
#critique-search-results-list.highlight-ok li:last-child a:focus,
#critique-search-results-list.highlight-ok li:first-child a:hover {
    border-bottom-width: 1px; }

#critique-search-results p, #critique-search-results-m p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; }
#critique-search-results a > p, #critique-search-results-m a > p {
    font-weight: bold;
    letter-spacing: -1px; }
#critique-search-results a > p { font-size: 22px; }
#critique-search-results-m a > p { font-size: 25px; }
#critique-search-results a > div, #critique-search-results-m a > div {
    width: 100%;
    padding-left: 1px;
    display: flex;
    align-items: center;
    color: #737373; }
#critique-search-results a > div { margin-top: -1px; font-size: 16px; }
#critique-search-results-m a > div { margin-top: -5px; font-size: 18px; }
#critique-search-results a > div > p,
#critique-search-results-m a > div > p { display: inline; }
#critique-search-results a > div > p:first-child,
#critique-search-results-m a > div > p:first-child { flex: 1; }
_:-ms-input-placeholder, :root #critique-search-results a > div > p:first-child,
#critique-search-results a > div > p:first-child { margin-right: 12px; }
#critique-search-results-m a > div > p:first-child { margin-right: 16px; }
#critique-search-results a > div > p:last-child,
#critique-search-results-m a > div > p:last-child { font-style: italic; }


/* Sub Navigation Bar
   ========================================================================== */

#sub-nav {
    line-height: 1.15;
    visibility: hidden;
    position: relative;
    overflow: hidden;
    font-size: 40px;
    transition: all 0.4s ease; }
#critique-header #sub-nav {
    height: 0;
    flex-direction: column;
    float: right;
    width: auto;
    box-shadow: 0 3px 13px 0px rgba(0, 0, 0, 0.23); }
#sub-nav.expanded { visibility: visible; }

#critique-header #sub-nav > #sub-nav-links { display: flex; }

#critique-header #sub-nav.expanded { height: 319px; }
@media (max-width: 950px) {
#critique-header #sub-nav.expanded { height: 425px; } }

#sub-nav-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border: 1px solid #c1bd79;
    background-color: #fbf2bd;
    line-height: 1.3; }
#sub-nav-links li {
    width: 100%;
    height: 53px;
    border-bottom: 1px solid #deda99; }
#sub-nav-links li:last-child {
    height: 52px;
    border-bottom: none; }
#sub-nav-links li a { padding: 0 42px; display: block; }


/* ==========================================================================
/* Content
/* ========================================================================== */

/* Content Assets
   ========================================================================== */

.critique-title {
    margin: 8px 0;
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-weight: bold;
    font-size: 34px;
    text-align: center;
    letter-spacing: -1px; }

.critique-info {
    height: 100%;
    width: 100%;
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: flex;
    justify-content: center;
    align-items: stretch; }
.critique-info-text {
    margin: 10px 0;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.critique-perso {
    display: flex;
    flex-direction: column;
    align-items: center; }
.critique-perso .hentry {
    width: 100%;
    padding: 4px 4px 0 6px;
    max-width: 760px; }
@media (max-width: 800px) { .critique-perso .hentry { padding: 4px 23px 0 22.2px; } }
.critique-perso .hentry .entry-footer {
    flex-direction: column;
    align-items: end;
    padding-top: 0;
    padding-right: 20px;
    margin-bottom: 10px; }
.critique-perso .hentry .entry-footer-tgdb-note { font-style: italic; }
@media (max-width: 800px) {
.critique-perso .hentry { padding: 4px 23px 0 22.2px; }
.critique-perso .hentry .entry-footer { padding-right: 0; } }


/* Oeuvre Display
   ========================================================================== */

.oeuvre-display {
    display: flex;
    justify-content: center;
    align-items: center; }
.oeuvre-display img {
    border: 1px solid #eee;
    max-width: 100%;
    max-height: 100%; }
_:-ms-fullscreen, :root .oeuvre-display img { flex: 0 0 auto; } /* IE 11 */
.oeuvre-display a img {
    transition: all 0.3s ease; }
.oeuvre-display a img:hover {
    border: 1px solid rgba(0, 0, 255, 0.4);
    box-shadow: 0 0 12px 0 rgba(0, 13, 181, 0.7); }

#content .oeuvres-display {
    margin-top: -3px;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }

.oeuvres-display .oeuvre-display {
    margin: 7px 6px;
    max-width: 300px;
    max-height: 300px; }
@media (max-width: 800px) {
.oeuvres-display .oeuvre-display { max-width: 180px; }
.oeuvre-display img { max-height: 240px; } }
@media (max-width: 500px) {
.oeuvres-display .oeuvre-display { max-width: 156px; }
.oeuvre-display img { max-height: 210px; } }
.oeuvres-display .oeuvre-display a {
    display: flex; }
.oeuvres-display .oeuvre-display a img {
    align-self: center; }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE 11 */
.oeuvres-display .oeuvre-display a img { max-width: 300px; } }


/* Here is a dirty fix for borders/shadows of substitute displays...
 * Otherwise shadows would not appear when hovering over the inner p.
 * Also, removing class names might mess with css specificities... */
.oeuvre-display .substitute-display {
    position: relative;
    border: 1px solid #eee;
    max-width: 100%;
    max-height: 100%;
    display: inline-flex;
    transition: all 0.3s ease; }
.oeuvre-display .substitute-display:hover {
    border: 1px solid rgba(0, 0, 255, 0.4);
    box-shadow: 0 0 12px 0 rgba(0, 13, 181, 0.7);
    transition: all 0.3s ease; }
.oeuvre-display .substitute-display img {
    border: none; }
.oeuvre-display .substitute-display img:hover {
    border: none;
    box-shadow: none; }
.oeuvre-display .substitute-display p {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -70%); }


/* Oeuvre Info
   ========================================================================== */

#oeuvre-info-wrapper {
    min-height: 310px;
    display: flex;
    flex-direction: row;
    align-items: center; }

#oeuvre-info {
    /*min-height: 286px;*/
    margin-bottom: 24px;
    display: flex; }

#oeuvre-info .oeuvre-display {
    margin: 10px;
    margin-right: 20px; }

#oeuvre-info .oeuvre-display img {
    max-width: 350px;
    max-height: 302px; }

@media (max-width: 500px) {
#oeuvre-info .oeuvre-display {
    max-width: 140px;
    margin-right: 14px; }
#oeuvre-info .oeuvre-display img {
    max-width: 100%; } }

#oeuvre-info .critique-info-text {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 6px; }
#oeuvre-info .critique-info-text.with-spans {
    min-width: 310px; }
#oeuvre-info .critique-info-text.with-spans.with-long-span {
    min-width: 346px; }
@media (max-width: 600px) {
#oeuvre-info .critique-info-text { min-width: 0; margin-right: 12px; } }
@media (max-width: 500px) {
#oeuvre-info .critique-info-text.with-spans {
    min-width: 200px; }
#oeuvre-info .critique-info-text.with-spans.with-long-span {
    min-width: 240px; }
#oeuvre-info #imdb-link {
    opacity: 0;  /* hack aiming at better, non-overlapping oeuvre-span display */ } }

#oeuvre-info .critique-info-text .oeuvretags {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 2px;
    text-align: right;
    font-style: italic;
    font-size: 20px;
    color: #aaa; }
#oeuvre-info .critique-info-text .oeuvretags a {
    color: inherit;
    text-decoration: none; }
#oeuvre-info .critique-info-text .oeuvretags a:hover {
    color: #f7a300; }
@media(max-width: 600px) {
#oeuvre-info .critique-info-text .oeuvretags { display: none; } }

#oeuvre-info .critique-info-text-content {
    padding-bottom: 8%;
    width: 100%; }

#oeuvre-info .critique-info-text .oeuvrespans-outer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 2px;
    text-align: right;
    white-space: nowrap; }
#oeuvre-info .critique-info-text .oeuvrespans {
    float: right;
    font-style: italic;
    font-size: 20px; }
@media (max-width: 500px) {
#oeuvre-info .critique-info-text .oeuvrespans-outer {
    top: 90%; }
#oeuvre-info .critique-info-text .oeuvrespans {
    font-size: 16px; } }

#oeuvre-info .critique-title {
    text-align: left;
    margin-left: -1px;
    padding-bottom: 2px;
    display: block;
    line-height: 1;
    padding-top: 5px;
    padding-right: 1px; }
#oeuvre-info .alt-title {
    margin-top: -13px;
    padding-bottom: 8px; }
#oeuvre-info .artists {
    margin-top: 2px;
    line-height: 1; }
@media (max-width: 500px) {
#oeuvre-info .critique-title { font-size: 28px; }
#oeuvre-info .alt-title, #oeuvre-info .artists, #oeuvre-info .imdb-link { font-size: 16px; } }


/* Oeuvre Comments
   ========================================================================== */

#comments .hseparator:first-child {
    margin-top: 0; }
#comments .hseparator {
    margin-top: 46px; }
#comments .entry-title {
    padding: 44px 8px 12px 0;
    font-size: 30px; }
@media (max-width: 960px) { #comments .entry-title { padding: 44px 0 12px 0; } }

#comments img { max-width: 92%; display: block; margin: 34px auto; }


/* Oeuvre Previews
   ========================================================================== */

.entry-links { max-width: 940px; }
.entry-links.no-filter-nav-bar { margin-top: 6px; }

.entry-links .oeuvre-display {
    width: 140px;
    min-width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
@media (max-width: 500px) {
.entry-links .oeuvre-display {
    width: 96px;
    min-width: 96px; } }

.entry-link {
    margin: 6px 0;
    padding: 10px;
    border: 1px solid #d3d4db;
    width: 100%;
    max-height: 210px;
    background-color: #fffddb;
    color: black !important;
    box-shadow: 0 0 8px 0 rgba(0, 13, 181, 0.2);
    display: flex;
    transition: all 0.4s ease; }
.entry-link:hover {
    box-shadow: 0 0 12px 0 rgba(0, 13, 181, 0.7); }

.entry-link .hentry {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column; }
.entry-link .hentry .entry-content {
    max-height: 108px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    position: relative;
    padding: 0 !important;
    overflow: hidden;
    text-overflow: ellipsis; }
.entry-link .hentry .entry-content-tgdb-quote { font-style: italic; }
.entry-link .hentry .entry-content:after {
    display: block;
    position: absolute;
    top: 81px;
    left: 20%;
    width: 80%;
    height: 27px;
    content: "";
    text-align: right;
    background: linear-gradient(to right, rgba(255, 253, 219, 0), rgba(255, 253, 219, 1) 85%); }
@supports (-webkit-line-clamp: 1) {
.entry-link .hentry .entry-content:after { display: none; } }

.entry-list .hentry { margin-left: 10px; margin-right: 2px; }
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) { /* IE 11 */
.entry-list .hentry { height: 188px; } }
.entry-list .entry-title { padding-right: 26px; }
.entry-list .entry-body { flex: 1; }
.entry-list .entry-footer { margin-right: 24px; }

@media(max-width: 500px) {
#content > .entry-links .entry-title { font-size: 20px; }
#content > .entry-links .entry-content,
#content > .entry-links .entry-footer { font-size: 14px; }
#content > .entry-links .entry-footer { margin-right: 2px; } }


/* Cinema
   ========================================================================== */

#cinema-info {
    width: auto;
    display: flex;
    flex-direction: column; }
#cinema-info .critique-title {
    margin-bottom: -4px; }
#cinema-info .cinema-location {
    font-size: 80%;
    text-align: right; }

#cinema-footer-content {
    display: flex;
    flex-direction: column; }
#cinema-footer-content a {
    margin-top: -4px;
    font-style: italic;
    text-align: right;
    text-decoration: underline rgba(189, 71, 0, .5); }


/* Chunks
   ========================================================================== */

.chunks {
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
.chunks ul {
    padding: 10px 0;
    margin: 0 -16px -1px -16px;
    border-top: 1px solid #a57100;
    border-bottom: 1px solid #a57100;
    width: 100%; }
.chunks li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 30px; }
@media (max-width: 500px) {
#seances.chunks li, #cinema-seances.chunks li,
#cinemas.chunks li, #cinemas-elsewhere.chunks li {
    margin: 0 12px;
    font-size: 14px; } }
.chunks li { color: #bd4700; }
.chunks li:hover { color: #f7a300; }
.chunks li.ellipsis-black { color: black; }
.chunks li.ellipsis-black:hover { color: black; }
.chunks li span { color: black; }
.chunks li a { color: #bd4700; }
.chunks li a:hover { color: #f7a300; }

#collection.chunks ul { max-width: 380px; }
#collection.artiste-oeuvres.chunks ul { max-width: 520px; }
#seances.chunks ul, #cinema-seances.chunks ul { max-width: 600px; }
#cinemas.chunks ul { max-width: 440px; }
#cinemas-elsewhere.chunks ul { max-width: 490px; }
_:-ms-fullscreen, :root #cinemas.chunks { height: 2298px; } /* IE 11 */
@media (min-width: 871px) {
_:-ms-fullscreen, :root #cinemas.chunks { height: 1176px; } /* IE 11 */ }
@media (min-width: 1801px) {
_:-ms-fullscreen, :root #cinemas.chunks { height: 588px; } /* IE 11 */ }
#cinemas-elsewhere.chunks li { color: black; }
#cinemas-elsewhere.chunks li:hover { color: black; }


/* Content Index
   ========================================================================== */

#preambule { margin-top: -14px; margin-bottom: 20px; }
#preambule .hentry { max-width: 860px; width: 100%; }
#preambule .entry-title { padding-bottom: 12px; }
#preambule .entry-content {
    display: flex;
    flex-direction: column;
    align-items: center; }
#preambule .entry-content .entry-section {
    max-width: 750px;
    width: 100%; }
#preambule .entry-content .entry-section > ul {
    margin-top: 8px;
    margin-bottom: 22px;
    padding-left: 44px;
}
#preambule .entry-content .entry-section > ul > li { margin-bottom: 11px; }
#preambule .entry-content .entry-section > ul > li > ul { margin-top: 2px; padding-left: 34px; }
#preambule .entry-content .entry-section > ul > li > ul > li { list-style: disc; }
#preambule .entry-content .entry-section > ul > li > ul > li { padding: 1px 0; }
#preambule .entry-content .entry-section > ul > li > ul > li:first-child { padding-top: 0; }
#preambule .entry-content .entry-section > ul > li > ul > li:last-child { margin-bottom: 4px; }
#preambule hr {
    max-width: none;
    border-bottom-color: #a57100; }


/* Content Thinky Games
   ========================================================================== */

#tgdb-excerpts { margin-top: -14px; margin-bottom: 20px; }
#tgdb-excerpts > div {
    padding: 4px 4px 0 6px;
    max-width: 860px;
    width: 100%; }
@media(max-width: 800px) {
#tgdb-excerpts > div { padding: 4px 23px 0 22.2px; }
#tgdb-excerpts .entry-links { padding-left: 0; padding-right: 0; } }
#tgdb-excerpts h1.entry-title {
    padding: 44px 8px 12px 0;
    letter-spacing: normal;
    font-size: 40px;
    font-family: Alegreya, Palatino, serif; }
#tgdb-excerpts .entry-content {
    display: flex;
    flex-direction: column;
    align-items: center; }
#tgdb-excerpts .entry-content .entry-section {
    padding-top: 20px;
    padding-bottom: 4px;
    max-width: 750px;
    width: 100%; }
#tgdb-excerpts .entry-content .entry-section:first-child { padding-top: 6px; }
#tgdb-excerpts .entry-content .entry-section { padding-top: 4px; }
#tgdb-excerpts .entry-content .entry-section:last-child { padding-top: 20px; }
#tgdb-excerpts .entry-content p {
    margin: 18px 0;
    line-height: 27px; }
#tgdb-excerpts hr {
    max-width: none;
    border-bottom-color: #a57100; }
#tgdb-excerpts .oeuvre-display { display: none; }
#tgdb-excerpts .entry-content .entry-section.entry-links { max-width: 830px; }
#tgdb-excerpts .entry-link { text-decoration: none; max-height: none; }
#tgdb-excerpts .entry-link .hentry { padding: 0; }
#tgdb-excerpts .entry-link .entry-title {
    text-align: left;
    padding: 4px 0 4px 40px; }
#tgdb-excerpts .entry-link .entry-title::before {
    padding-right: 6px;
    content: "— "; }
#tgdb-excerpts .entry-link .hentry .entry-body { padding: 0 4px 0 8px; }
#tgdb-excerpts .entry-link .hentry .entry-content { max-height: none; }
#tgdb-excerpts .entry-link .hentry .entry-footer {
    padding-top: 6px;
    padding-right: 0;
    margin-bottom: 0; }


/* Content Artiste
   ========================================================================== */

.artiste-oeuvres { max-width: 1200px; }
#artiste-info { margin-top: 38px; margin-bottom: 24px; }


/* Content Oeuvres
   ========================================================================== */

#collection.oeuvres-homonymes {
    position: absolute;
    top: 42.8%;
    left: -1.2%;
    width: 100%; }


/* Content Tag
   ========================================================================== */

#tag-info { margin-top: 38px; margin-bottom: 4px; }
#tag-detail.oeuvres-display { margin-top: 70px; }


/* Content Cinemas
   ========================================================================== */

#cinemas-intro1 { margin-top: -14px; margin-bottom: 20px; }
#cinemas-intro1 .entry-title { padding-bottom: 12px; }
#cinemas-intro2 { margin-top: 20px; }
#cinemas-intro2 .hentry { width: 100%; }
#cinemas-intro2 .entry-footer { overflow-x: hidden; }
#cinemas-intro2 #cinemas_total { margin-top: 8px; }
#cinema-info { margin-top: 38px; margin-bottom: 24px; }
#cinemas-intro2 hr {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 113%;
    max-width: none;
    margin-top: 33px;
    margin-bottom: 16px;
    border-bottom-color: #a57100; }
#cinemas-elsewhere-intro { margin-bottom: 19px; }
#cinemas-elsewhere { margin-bottom: 21px; }


/* Content Seances
   ========================================================================== */

#cinema-seances { margin-bottom: 14px; }


/* Content Top Films
   ========================================================================== */

#top_films { max-width: 1320px; }
#top_films.all_time { max-width: 1400px; }


/* Content Top Jeux
   ========================================================================== */

#top_jeux { max-width: 1300px; }


/* Timeline
   ========================================================================== */

/* introduction */
#chronologie { margin-bottom: 24px; }
#chronologie p { text-align: center; }

/* timeline */
#timeline {
    width: 92%;
    transform: translateX(.8%);  /* balances de-centering from hiding groups column */
    opacity: 1;
    transition: opacity 1s ease;
}
#timeline.transparent { opacity: 0; }

/* borders */
#timeline .vis-timeline { border: 0; overflow: visible; }
#timeline .vis-panel.vis-left { display: none; }
#timeline .vis-panel.vis-center {
    border: 0;
    border-top: 1px solid #cbcbcb;
    padding-left: 1px;
    overflow: visible;
}
#timeline .vis-panel.vis-bottom {
    border-top-style: solid;
    border-color: #cbcbcb;
    border-left-style: none;
    border-right-style: none;
}
#timeline .vis-grid.vis-vertical.vis-major { border-color: #e5e5e5; }
#timeline .vis-group { border-bottom: 0; }

/* left & right far sides */
#timeline .vis-panel.vis-center::before {
    content: "";
    position: absolute;
    z-index: 10;
    height: 100.7%;
    bottom: -5px;
    width: 5%;
    left: -5%;
    background: linear-gradient(to right, rgba(60, 50, 30, .7), rgba(60, 50, 30, .3), transparent);
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    transition: ease .2s;
}
#timeline .vis-panel.vis-center.furthest-left::before { visibility: hidden; opacity: 0; }
#timeline .vis-panel.vis-center::after {
    content: "";
    position: absolute;
    z-index: 10;
    height: 100.7%;
    bottom: -5px;
    width: 5%;
    right: -5%;
    background: linear-gradient(to left, rgba(60, 50, 30, .7), rgba(60, 50, 30, .3), transparent);
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb;
    transition: ease .2s;
}
#timeline .vis-panel.vis-center.furthest-right::after { visibility: hidden; opacity: 0; }

/* user help */
#timeline .vis-panel.vis-background.vis-horizontal { --after-display: initial; }
#timeline .vis-panel.vis-background.vis-horizontal::after {
    display: var(--after-display);  /* hack to edit the pseudo-element with javascript */
    content: " ↔ (scroll)\A           (ctrl+scroll)";
    white-space: pre;
    background: url("/static/tln/img/search_icon_timeline.png") no-repeat 7px 33px fixed;
    background-size: 15%;
    position: absolute;
    top: 5%;
    right: 4%;
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: italic;
    color: #4d4d4d;
}

/* items */
#timeline .vis-item { border: 0; }
#timeline .vis-item.transparent { visibility: hidden; opacity: 0; }
#timeline .vis-item.vis-item-animated-0 { transition: visibility ease .3s, opacity ease .4s; }
#timeline .vis-item.vis-item-animated-1 { transition: visibility ease .3s .02s, opacity ease .4s .02s; }
#timeline .vis-item.vis-item-animated-2 { transition: visibility ease .3s .04s, opacity ease .4s .04s; }
#timeline .vis-item.vis-item-animated-3 { transition: visibility ease .3s .06s, opacity ease .4s .06s; }
#timeline .vis-item.vis-item-animated-4 { transition: visibility ease .3s .08s, opacity ease .4s .08s; }
#timeline .vis-item.vis-item-animated-5 { transition: visibility ease .3s .1s, opacity ease .4s .1s; }
#timeline .vis-item.vis-item-animated-6 { transition: visibility ease .3s .12s, opacity ease .4s .12s; }
#timeline .vis-item.vis-item-animated-7 { transition: visibility ease .3s .14s, opacity ease .4s .14s; }
#timeline .vis-item.vis-item-animated-8 { transition: visibility ease .3s .16s, opacity ease .4s .16s; }
#timeline .vis-item.vis-item-animated-9 { transition: visibility ease .3s .18s, opacity ease .4s .18s; }
#timeline .vis-item.vis-item-animated-10 { transition: visibility ease .3s .2s, opacity ease .4s .2s; }
#timeline .vis-group-film .vis-item { background-color: #6ea1fa; }
#timeline .vis-group-serie .vis-item { background-color: #a2dad3; }
#timeline .vis-group-jeu .vis-item { background-color: #fba76d; }
#timeline .vis-group-livre .vis-item { background-color: #e9a2b6; }
#timeline .vis-group-bd .vis-item { background-color: #c3aed8; }

/* tooltip */
#timeline .vis-item-overflow { font-size: 48%; overflow: visible; }
#timeline .vis-item-content { width: 100%; padding: 0; }
#timeline .vis-item-content .vis-item-details {
    position: absolute;
    left: 50%;
    bottom: 22px;
    width: 180px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #deda99;
    border-radius: 4px;
    background-color: #fbf2bd;
    box-shadow: 0 0 4px 0 rgba(0, 13, 181, 0.3);
    transition: opacity ease .1s .1s, transform ease .1s .1s, visibility .1s .1s, box-shadow ease .3s;
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, 5px);
}
#timeline .vis-item-content .vis-item-details.linkable { cursor: pointer; }
#timeline .vis-item-content .vis-item-details.linkable:hover {
    box-shadow: 0 0 8px 0 rgba(0, 13, 181, .7);
}
#timeline .vis-item:hover .vis-item-details,
#timeline .vis-item-content .vis-item-details:hover {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, 0);
}
#timeline .vis-item-content .vis-item-details::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 48%;
    height: 12px;
    width: 12px;
    transform: rotate(45deg) translate(-50%, -10%);
    border-bottom: inherit;
    border-right: inherit;
    background-color: inherit;
}    
#timeline .vis-item-content .vis-item-details h2 {
    max-width: 90%;
    margin: 4px 0;
    font-size: 20px;
    text-wrap: wrap;
    text-align: center;
    line-height: 92%;
}
#timeline .vis-item-content .vis-item-details img {
    max-width: 70%;
    border: 1px solid #ddd;
    margin-top: 6px;
    margin-bottom: 8px;
}
#timeline .vis-item-content .vis-item-details .vis-item-time {
    margin-bottom: 4px;
    font-size: 16px;
    font-style: italic;
    text-align: center;
    line-height: 104%;
    color: #4d4d4d;
}

/* time axis */
#timeline .vis-time-axis {
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: italic;
}
#timeline .vis-time-axis .vis-text { padding-left: 6px; }
#timeline .vis-time-axis .vis-text.vis-minor { padding-bottom: 0; }
#timeline .vis-time-axis .vis-text.vis-major { padding-top: 0; }
#timeline .vis-panel.vis-bottom { margin-top: 4px; }
#timeline .vis-panel.vis-center .vis-content::after {
    content: ">";
    font-size: 116%;
    color: #cbcbcb;
    position: absolute;
    right: 0;
    bottom: -20px;
}

/* filters */
#timeline-filters { opacity: 1; transition: opacity 1s ease; }
#timeline-filters.transparent { opacity: 0; }
#timeline-filters .hentry > div {
    margin: 12px 0;
    display: flex;
    flex-direction: row;
}
#timeline-filters .hentry > div:first-child { justify-content: center; }
#timeline-filters .hentry > div:last-child {
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 12px;
}
#timeline-filters span {
    cursor: pointer;
    user-select: none;
    padding: 3px 5px;
    margin: 0 2px;
    border: 1px solid #d3d4db;
    background-color: #fffddb;
    font-family: AlegreyaSans, "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: italic;
    color: #4d4d4d;
    box-shadow: 0 0 4px 0 rgba(0, 13, 181, .2);
    text-wrap: nowrap;
    transition: .2s ease;
    position: relative;
}
#timeline-filters span:hover {
    box-shadow: 0 0 6px rgba(0, 13, 181, .7);
}
#timeline-filters span.active {
    border-color: #deda99;
    background-color: #fbf2bd;
    color: #333;
    box-shadow: 0 0 6px rgba(0, 13, 181, .7);
}

/* additional filter colors */
#timeline-filters span[data-filter-group] { color: #444; }
#timeline-filters span.active[data-filter-group] {
    border-color: #a0a0a0;
    color: #1b1b1b;
}
#timeline-filters span::after {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    content: "";
}
#timeline-filters span[data-filter="film"]::after {
    box-shadow: inset 0 6px 14px -4px #6ea1fa, inset 0 -6px 14px -4px #6ea1fa;
}
#timeline-filters span[data-filter="serie"]::after {
    box-shadow: inset 0 6px 14px -4px #a2dad3, inset 0 -6px 14px -4px #a2dad3;
}
#timeline-filters span[data-filter="jeu"]::after {
    box-shadow: inset 0 6px 14px -4px #fba76d, inset 0 -6px 14px -4px #fba76d;
}
#timeline-filters span[data-filter="livre"]::after {
    box-shadow: inset 0 6px 14px -4px #e9a2b6, inset 0 -6px 14px -4px #e9a2b6;
}
#timeline-filters span[data-filter="bd"]::after {
    box-shadow: inset 0 6px 14px -4px #c3aed8, inset 0 -6px 14px -4px #c3aed8;
}


/* ==========================================================================
/* Forms
/* ========================================================================== */

@media (max-width: 400px) {
.select2-dropdown {
    font-size: 16px; }
.select2-dropdown .select2-results__option {
    padding: 5px 5px !important;
    font-size: 16px; } }

/* Forms Oeuvre
   ========================================================================== */

#oeuvre_form .form_inputs,
#oeuvre_form_empty .form_inputs { margin-top: 0; }
#oeuvre_form p,
#oeuvre_form_empty p { width: 350px; }
#oeuvre_form p label,
#oeuvre_form_empty p label { width: 130px; }
#oeuvre_form p label[for="id_mtype"],
#oeuvre_form p label[for="id_year"],
#oeuvre_form p label[for="id_envie"],
#oeuvre_form_empty p label[for="id_empty_mtype"],
#oeuvre_form_empty p label[for="id_empty_year"],
#oeuvre_form_empty p label[for="id_empty_envie"] { width: 92.7px; }
#oeuvre_form .select2-container,
#oeuvre_form_empty .select2-container { width: 352px !important; }
#oeuvre_form .form_buttons,
#oeuvre_form_empty .form_buttons { margin-top: -4px; }
#oeuvre_form .form_buttons .filler { width: 32px; }
#oeuvre_form_empty .form_buttons .filler { width: 44px; }
@media (max-width: 400px) {
#oeuvre_form p,
#oeuvre_form_empty p { width: 265px; }
#oeuvre_form p label,
#oeuvre_form_empty p label { width: 108px; }
#oeuvre_form p label[for="id_envie"],
#oeuvre_form p label[for="id_mtype"],
#oeuvre_form_empty p label[for="id_empty_envie"],
#oeuvre_form_empty p label[for="id_empty_mtype"] { width: 74.8px; }
#oeuvre_form .select2-container,
#oeuvre_form_empty .select2-container { width: 268px !important; }
#oeuvre_form .form_buttons .filler { width: 18px; }}

#oeuvre_form .form_inputs[data-mtype="album"] p[data-input="id_title_vo"],
#oeuvre_form .form_inputs[data-mtype="jeu"] p[data-input="id_title_vo"],
#oeuvre_form :not(.form_inputs[data-mtype="film"]) p[data-input="id_title_alt"],
#oeuvre_form :not(.form_inputs[data-mtype="film"]) p[data-input="id_imdb_id"],
#oeuvre_form_empty .form_inputs[data-mtype="album"] p[data-input="id_empty_title_vo"],
#oeuvre_form_empty .form_inputs[data-mtype="jeu"] p[data-input="id_empty_title_vo"],
#oeuvre_form_empty :not(.form_inputs[data-mtype="film"]) p[data-input="id_empty_title_alt"],
#oeuvre_form_empty :not(.form_inputs[data-mtype="film"]) p[data-input="id_empty_imdb_id"] { display: none; }


/* Form OeuvreSpan
   ========================================================================== */

#oeuvrespan_form p,
#oeuvrespan_form_empty p { width: 300px; }
#oeuvrespan_form p label,
#oeuvrespan_form_empty p label { width: 84px; }
#oeuvrespan_form .select2-container,
#oeuvrespan_form_empty .select2-container { width: 204px !important; }
#oeuvrespan_form .form_buttons { padding-left: 4px; }
#oeuvrespan_form .form_buttons,
#oeuvrespan_form_empty .form_buttons { margin-top: -4px; }
#oeuvrespan_form .form_buttons .filler { width: 16px; }
#oeuvrespan_form_empty .form_buttons .filler { width: 38px; }
@media (max-width: 400px) {
#oeuvrespan_form p,
#oeuvrespan_form_empty p { width: 234px; }
#oeuvrespan_form p label,
#oeuvrespan_form_empty p label { width: 64px; }
#oeuvrespan_form .select2-container,
#oeuvrespan_form_empty .select2-container { width: 158px !important; }
#oeuvrespan_form .form_buttons { padding-left: 0; }
#oeuvrespan_form .form_buttons .filler { width: 9px; }
#oeuvrespan_form_empty .form_buttons .filler { width: 28px; }}


/* Forms Comment
   ========================================================================== */

/* The textarea should mirror exactly the width of the text underneath. */
#comment_form p,
#comment_form_empty p { width: 869px; }
#comment_form p label,
#comment_form_empty p label { width: 103px; }
#comment_form p label[for="id_date"],
#comment_form_empty p label[for="id_empty_date"],
#comment_form p label[for="id_no_month"],
#comment_form p label[for="id_no_day"],
#comment_form p label[for="id_tgdb"],
#comment_form_empty p label[for="id_empty_no_month"],
#comment_form_empty p label[for="id_empty_no_day"],
#comment_form_empty p label[for="id_empty_tgdb"] { width: 91px; }
#comment_form .form_buttons .filler,
#comment_form_empty .form_buttons .filler { width: 72px; }
@media (max-width: 400px) {
#comment_form p,
#comment_form_empty p { width: 290px; }
#comment_form p label,
#comment_form_empty p label { width: 96px; }
#comment_form p label[for="id_date"],
#comment_form_empty p label[for="id_empty_date"],
#comment_form p label[for="id_no_month"],
#comment_form p label[for="id_no_day"],
#comment_form p label[for="id_tgdb"],
#comment_form_empty p label[for="id_empty_no_month"],
#comment_form_empty p label[for="id_empty_no_day"],
#comment_form_empty p label[for="id_empty_tgdb"] { width: 71px; }
#comment_form .form_buttons .filler { width: 31px; }}


/* Form Cinema
   ========================================================================== */

/* The textarea should mirror exactly the width of the text underneath. */
#cinema_form p,
#cinema_form_empty p { width: 863px; }
#cinema_form p label,
#cinema_form_empty p label{ width: 118px; }
#cinema_form p label[for="id_visited"],
#cinema_form_empty p label[for="id_empty_cinema_visited"] { width: 103px; }
#cinema_form .form_buttons, #cinema_form_empty .form_buttons { margin-top: -4px; }
#cinema_form .form_buttons .filler,
#cinema_form_empty .form_buttons .filler { width: 72px; }
@media (max-width: 400px) {
#cinema_form p,
#cinema_form_empty p { width: 290px; }
#cinema_form p label,
#cinema_form_empty p label { width: 118px; }
#cinema_form p label[for="id_visited"],
#cinema_form_empty p label[for="id_empty_cinema_visited"] { width: 81px; }
#cinema_form .form_buttons .filler,
#cinema_form_empty .form_buttons .filler { width: 31px; }}


/* Form Seance
   ========================================================================== */

#seance_form_empty p { width: 330px; }
#seance_form_empty p label { width: 131px; }
#seance_form_empty .select2-container { width: 335px !important; }
#seance_form_empty p label[for="id_empty_seance_date"],
#seance_form_empty p label[for="id_empty_seance_no_month"] { width: 91px; }
#seance_form_empty .form_buttons .filler { width: 44px; }
@media (max-width: 400px) {
#seance_form_empty p { width: 245px; }
#seance_form_empty p label { width: 104px; }
#seance_form_empty .select2-container { width: 248px !important; }
#seance_form_empty p label[for="id_empty_seance_date"],
#seance_form_empty p label[for="id_empty_seance_no_month"] { width: 70px; }}
#select2-id_empty_seance_cinema-results .select2-results__option {
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }


/* Form Tier Lists
   ========================================================================== */

#tierlist_form .form_buttons .filler { width: 24px; }

#tierlist_form_empty .form_buttons .filler { width: 40px; }


/* Admin Codes
   ========================================================================== */

#admin-codes {
    display: none;
    position: fixed;
    right: 1px;
    bottom: 1px;
    padding-left: 2px;
    width: 120px;
    height: 30px;
    font-family: AlegreyaSans; }
