asgiref==3.2.3
backcall==0.1.0
beautifulsoup4==4.8.2
bson==0.5.8
certifi==2019.11.28
chardet==3.0.4
dataclasses==0.6
decorator==4.4.1
Django==3.1
django-blog-zinnia==0.20
django-contrib-comments==1.9.2
django-extensions==2.2.6
django-js-asset==1.2.2
django-mptt==0.11.0
django-photologue==3.11
django-sortedm2m==3.0.0
django-tagging==0.4.6
django-xmlrpc==0.1.8
ExifRead==2.1.2
idna==2.8
ipython==7.11.1
ipython-genutils==0.2.0
jedi==0.15.2
mongoengine==0.19.1
mots-vides==2015.5.11
packaging==20.0
parso==0.5.2
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.0.0
pip-review==1.0
pkg-resources==0.0.0
prompt-toolkit==3.0.2
ptyprocess==0.6.0
Pygments==2.5.2
pymongo==3.10.1
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
regex==2020.1.8
requests==2.22.0
six==1.14.0
soupsieve==1.9.5
sqlparse==0.2.4
traitlets==4.3.3
tzlocal==2.0.0
urllib3==1.25.7
uWSGI==2.0.18
wcwidth==0.1.8
